@import "../../../styles/partials/config";

.base {
  display: inline-flex;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: text(lg);
  line-height: 0.938;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  column-gap: 0.375rem;
  background: none;
  color: color(foreground);
  text-decoration: none;
  font-family: font(primary);

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.125rem rgba(color(primary-blue), 0.5);
  }

  &:disabled {
    pointer-events: none;
    border-color: color(primary-blue);
    background-color: color(gray-medium);
    color: color(muted-background);
  }
}

.variant_default {
  padding: 0;
  height: auto;
  color: color(primary-white);
}

.variant_blueBtn {
  background-color: color(primary-blue);
  color: color(primary-white);
  border: 0.14rem solid color(primary-blue);

  &:hover {
    color: color(primary-blue);
    background-color: transparent;
    svg{
      path{
        stroke: color(primary-blue);
      }
    }
  }
  svg{
    display: inline-block;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
  }
}

.variant_lightBlueBtn {
  background-color: color(info-blue);
  color: color(primary-white);
  border: 0.14rem solid color(info-blue);

  &:hover {
    color: color(info-blue);
    background-color: transparent;
    svg{
      path{
        stroke: color(info-blue);
      }
    }
  }
  svg{
    display: inline-block;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
  }
}

.variant_lightBlueOutline {
  background-color: transparent;
  color: color(info-blue);
  border: 0.14rem solid color(info-blue);

  svg{
    display: inline-block;
    margin-left: 0.4rem;
    margin-top: 0.2rem;

    path {
      stroke: color(info-blue);
    }
  }

  &:hover {
    color: color(primary-white);
    background-color: color(info-blue);
    svg{
      path{
        stroke: color(primary-white);
      }
    }
  }
}

.variant_outline {
  background-color: transparent;
  color: color(primary-blue);
  border: 0.14rem solid color(primary-blue);

  &:hover {
    color: color(primary-white);
    background-color: color(primary-blue);
    svg{
      path{
        stroke: color(primary-white);
      }
    }
  }
  svg{
    display: inline-block;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
    path{
      stroke: color(primary-blue);
    }
  }
}

.size_default {
  height: auto;
  padding: 0;
}

.size_sm {
  height: 2.75rem;
  padding: 0.625rem 1.15rem;
  font-size: text(normal);
  border-radius: 0.5rem;
}

.size_lg {
  height: 3.25rem;
  padding: 0.625rem 1.25rem;
  font-size: text(normal);
  border-radius: 0.5rem;
  font-weight: 500;

  @include mobile{
    height: 2.75rem;
  }
}

.size_xs {
  height: 2.188rem;
  padding: 0.625rem 1.15rem;
  font-size: text(normal);
  border-radius: 0.3rem;
}

.size_md {
  height: 3.75rem;
  padding: 0 2rem;
  font-size: text(lg);
  border-radius: 0.75rem;
  font-weight: 500;
}

.size_number {
  padding: 0.5rem;
}

.size_icon {
  height: 2.15rem;
  width: 2.15rem;
}
