@import "../../../styles/partials/config";

.base {
  display: inline-flex;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 0.938;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
  position: relative;
  column-gap: 0.375rem;
  background: none;
  color: color(foreground);
  text-decoration: none;
  font-family: font(secondary);

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.125rem rgba(color(primary-blue), 0.5);
  }

  &:disabled {
    pointer-events: none;
    border-color: color(primary-blue);
    background-color: color(gray-medium);
    color: color(muted-background);
  }
}

.variant_default {
  padding: 0;
  height: auto;
  background-color: color(primary-blue);
  color: color(primary-white);
  &:hover {
    color: color(primary-blue);
    background-color: color(heading-liner);
    color: color(primary-white);
  }
}

.variant_defaultRed {
  color: color(foreground);
  border: 0.063rem solid color(border);
  background-color: color(accent);

  &:hover {
    color: color(secondary-foreground);
    background-color: color(secondary-background);
  }
}

.variant_blueBtn {
  background-color: color(primary-blue);
  color: color(primary-white);
  border: 0.063rem solid color(primary-blue);

  &:hover {
    color: color(primary-blue);
    background-color: transparent;
  }
}

.variant_outline {
  background-color: transparent;
  color: color(primary-blue);
  border: 0.063rem solid color(primary-blue);

  &:hover {
    color: color(primary-white);
    background-color: color(primary-blue);
  }
}

.size_default {
  height: auto;
  padding: 0;
}

.size_sm {
  height: 2.75rem;
  padding: 0.625rem 1.15rem;
  font-size: text(normal);
  border-radius: 0.3rem;
}

.size_md {
  height: 3.75rem;
  padding: 0px 2rem;
  font-size: text(lg);
  border-radius: 0.75rem;
}

.size_number {
  padding: 0.5rem;
}

.size_icon {
  height: 2.15rem;
  width: 2.15rem;
}
