@import "~/styles/partials/config";

// .serviceBox {
.serviceBox {
  text-align: center;
  background-color: color(primary-white);
  padding: text(xxxl);
  border-radius: text(xl);
  border: 0.125rem solid rgba(color(text-primary), 0.12);
  @include transition(0.4s);

  &:hover {
    border-color: color(heading-liner);
  }

  @include mobile {
    min-height: 12.25rem;
    padding: 1.25rem;
    border-radius: text(xl);
    max-width: 95%;
  }
  .numberCardFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: text(xxxl);

    .sbTitle {
      font-size: 2.75rem;
      font-weight: 500;
      margin-bottom: 0;
      min-height: 2.75rem;
      color: color(heading-liner);
      @include textGradient;
    }
  }
  .sbText {
    font-weight: 400;
    font-size: text(lg);
    line-height: 1.875rem;
    opacity: 0.8;
    text-align: left;
    margin-bottom: 0;

    @include mobile {
      font-size: text(lg);
    }
  }

  // Dark Mode
  &.serviceBoxDark {
    background-color: color(text-primary);
    border-color: rgba(color(primary-white), 0.12);

    &:hover {
      border-color: color(heading-liner);
    }
  }
}
