@import "~/styles/partials/config";

.ourVision{
    padding:2rem ;

    .aboutHeading {
        font-size: text(larger);
      
        span {
          font-size: text(larger);
          color: color(heading-liner);
        }
      }
      
      .aboutSubHeading {
        font-size: text(xxxl);
      }
      
      .aboutParagraph {
        font-size: text(normal);
        opacity: 0.6;
      }
}