@import "~/styles/partials/config";

.ourVision {
   padding: spacing(p-120);

   .aboutHeading {
      font-size: text(larger);

      span {
         font-size: text(larger);
         color: color(heading-liner);
      }
   }

   .aboutSubHeading {
      font-size: text(xxxl);
   }

   .aboutParagraph {
      font-size: text(normal);
      opacity: 0.6;
   }

   .videoWrapper {
      margin-top: spacing(p-120);
   }
}
