@import "~/styles/partials/config";

.ourVision {
  padding: spacing(p-120);
  padding-bottom: 0rem;

  @include mobile-tablet-p {
    padding-inline: spacing(tablet-padding);
    padding-block: 3.75rem 0rem;
  }

  @include mobile {
    padding-inline: spacing(mobile-padding);
  }

  .flexContainer {
    display: flex;
    gap: 8.938rem;

    @include mobile-tablet-p {
      flex-direction: column;
      gap: 2.75rem;
    }
  }

  .aboutHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;

    @include mobile-tablet-p {
      font-size: text(xl);
      line-height: 1.8rem;
    }

    span {
      font-size: text(larger);
      color: color(heading-liner);
      @include mobile-tablet-p {
        font-size: text(xl);
        line-height: 1.8rem;
      }
    }
  }

  .aboutSubHeading {
    font-size: text(xxxl);
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 1rem;

    @include mobile-tablet-p {
      font-size: text(xl);
      line-height: 1.875rem;
    }
  }

  .contentSec {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
  }

  .aboutParagraph {
    font-size: text(lg);
    opacity: opacity(light);
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 0;

    @include mobile-tablet-p {
      font-size: text(normal);
    }
  }

  .videoWrapper {
    margin-top: spacing(p-120);
    @include mobile-tablet-p {
      margin-top: 3.5rem;
    }

    video {
      border-radius: 0.5rem;
    }
  }

  // Dark Theme
  &.ourVisionDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .aboutParagraph {
      opacity: opacity(dark);
    }
  }
}
