@import "~/styles/partials/config";

.careerEngagement {
  padding: spacing(section-primary-padding);
  background: color(bg-soft);

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  .valuesTitle {
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: opacity(light);
    @include mobile-tablet-p {
      margin-bottom: 0.75rem;
    }
  }

  .valuesHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    margin: 1rem 0 2rem 0;
    @include mobile-tablet-p {
      margin: 0.75rem 0 1.25rem 0;
      font-size: text(xxxl);
    }
  }

  .valuesText {
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
    opacity: opacity(light);
    max-width: 65%;

    @include mobile-tablet-p {
      max-width: 100%;
    }
  }

  .valuesImg div {
    margin: 5rem 0;
    height: 487px;
    border-radius: 0.6rem;
    overflow: hidden;

    @include mobile-tablet-p {
      height: 265px;
      margin: 3.75rem 0 3.75rem 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .icons {
    margin: 1rem 0;
  }
  .subTitle {
    font-size: text(xl);
    font-weight: 500;
    line-height: 2rem;
    @include truncate(2);
    max-width: 80%;
  }
  .content {
    font-weight: 400;
    line-height: 1.5rem;
    opacity: opacity(light);
    max-width: 80%;

    @include mobile {
      max-width: 100%;
    }
  }

  .slideGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @include mobile-tablet-p {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .infoSec {
    margin-top: 24px;
  }

  //Dark mode style
  &.careerEngagementDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .valuesText {
      opacity: opacity(dark);
    }

    .content {
      opacity: opacity(dark);
    }
  }
}
