@import "~/styles/partials/config";

.solutionTechnologiesStyle {
  padding: spacing(section-primary-padding);
  background: color(primary-background);

  @include mobile-tablet-p {
    padding: 0;
    padding-bottom: 4rem;
  }

  .careerRow {
    margin-bottom: 5rem;
    display: flex;
    align-items: flex-end;

    @include mobile-tablet-p {
      margin-bottom: 2.5rem;
      flex-direction: column;
      padding: 3.75rem 1.25rem 0;
    }

    .careerBtn {
      display: flex;
      justify-content: flex-end;
      white-space: nowrap;

      @include mobile {
        justify-content: flex-start;
      }
    }
  }

  .projectHighlight {
    font-size: text(normal);
    font-weight: 500;
    margin-bottom: text(lg);
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    @include mobile-tablet-p {
      margin-bottom: 0.75rem;
    }
  }
  .datingText {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    max-width: 85%;
    margin-bottom: 0;

    @include mobile-tablet-p {
      font-size: text(xxxl);
      line-height: 2.5rem;
      padding-right: 0;
      margin-bottom: text(lg);
    }
  }

  .ourNumberMain {
    .ourNumberGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;

      @include mobile-tablet-p {
        gap: 0 1rem;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 1.25rem;
      }

      .ourNumbersImg div {
        margin-left: auto;
        width: 31.5rem;
        height: 40.688rem;
        border-radius: 0.75rem;
        overflow: hidden;
        position: relative;

        @include mobile-tablet-p {
          width: 100%;
          height: 27rem;
          margin: 2.75rem 0;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .desktopCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;

        @include mobile-tablet-p {
          display: none;
        }
      }
    }
    .ourNumbersText {
      font-size: text(lg);
      font-weight: 400;
      line-height: 1.875rem;
      margin-bottom: 3.75rem;
      opacity: 0.8;

      @include mobile-tablet-p {
        font-size: text(normal);
        margin-bottom: 2.75rem;
      }
    }
    .ourNumberOption {
      .serviceBox {
        text-align: center;
        background-color: color(primary-white);
        padding: text(xxxl);
        border-radius: text(xl);
        border: 0.125rem solid color(primary-white);
        @include transition(0.5s);

        &:hover {
          border-color: color(heading-liner);
          cursor: pointer;
        }

        @include mobile {
          margin-right: text(xl);
          min-height: 18.5rem;
          padding: text(lg);
        }
        .numberCardFlex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: text(xxxl);
          .sbTitle {
            font-size: 2.75rem;
            font-weight: 500;
            margin-bottom: 0;
            min-height: 2.75rem;
            color: color(heading-liner);
            background: linear-gradient(
              118deg,
              color(primary-blue) 11.5%,
              color(heading-liner) 55.42%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .sbText {
          font-weight: 400;
          font-size: text(lg);
          line-height: 1.875rem;
          opacity: 0.8;
          text-align: left;
          margin-bottom: 0;
          @include mobile {
            font-size: text(normal);
          }
        }
      }
    }
  }

  .mobileSlider {
    display: none;

    @include mobile-tablet-p {
      display: block;
      padding-left: 1.25rem;
    }
  }

  //Dark mode style
  &.solutionTechnologiesDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .ourNumberOption {
      .serviceBox {
        background-color: color(text-primary);
        border: 1px solid rgba(255, 255, 255, 0.12);
      }
    }
  }
}
