@import "~/styles/partials/config";

.solutionTechnologiesStyle {
  padding: spacing(section-primary-padding);
  background: color(primary-background);

  @include mobile {
    padding: spacing(section-mob-padding);
  }

  .careerRow {
    margin-bottom: 5rem;
    @include mobile {
      margin-bottom: 2.5rem;
    }
    .careerBtn {
      display: flex;
      justify-content: flex-end;
      @include mobile{
        justify-content: flex-start;
      }
    }
  }

  .ProjectHighlight {
    font-size: text(normal);
    font-weight: 500;
    margin-bottom: text(lg);
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    @include mobile {
      margin-bottom: 0.75rem;
    }
  }
  .datingText {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    max-width: 85%;

    @include mobile {
      font-size: text(xxxl);
      line-height: 2.5rem;
      padding-right: 0;
      margin-bottom: text(lg);
    }
  }

  .ourNumberMain {
    .ourNumberGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;

      @include mobile-tablet-p {
        gap: 0 1rem;
        display: unset;
        grid-template-columns: repeat(1, 1fr);
      }
      .ourNumbersImg {
        margin-left: auto;
        img {
          width: 31.5rem;
          height: 40.688rem;
          flex-shrink: 0;
          border-radius: 0.75rem;
        }
        @include mobile {
          display: none;
        }
      }

      .desktopCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        @include mobile {
          display: none;
        }
      }
    }
    .ourNumbersText {
      font-size: text(lg);
      font-weight: 400;
      line-height: 1.875rem;
      margin-bottom: 3.75rem;
      opacity: 0.8;
      @include mobile {
        font-size: text(normal);
        margin-bottom: 2.75rem;
        font-weight: 400;
      }
    }
    .ourNumberOption {
      .serviceBox {
        text-align: center;
        background-color: color(primary-white);
        padding: text(xxxl);
        border-radius: text(xl);
        border: 0.125rem solid color(primary-white);
        @include transition(0.5s);        

        &:hover {
          border-color: color(heading-liner);
          cursor: pointer;
        }

        @include mobile {
          margin-right: text(xl);
          min-height: 18.5rem;
          padding: text(lg);
        }
        .numberCardFlex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: text(xxxl);
          .sbTitle {
            font-size: 2.75rem;
            font-weight: 500;
            margin-bottom: 0;
            min-height: 2.75rem;
            color: color(heading-liner);
            background: linear-gradient(
              118deg,
              color(primary-blue) 11.5%,
              color(heading-liner) 55.42%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .sbText {
          font-weight: 400;
          font-size: text(lg);
          line-height: 1.875rem;
          opacity: 0.8;
          text-align: left;
          margin-bottom: 0;
          @include mobile {
            font-size: text(normal);
          }
        }
      }
    }
  }

  //Dark mode style
  &.solutionTechnologiesDark{
    background-color: color(input-bg);
    color: color(primary-white);

    .ourNumberOption{
      .serviceBox{
        background-color: color(text-primary);
        border: 1px solid rgba(255, 255, 255, 0.12);
      }
    }
   
  }
}
