@import "~/styles/partials/config";

.whyCmsStyle {
  padding: spacing(section-primary-padding);
  padding-bottom: 0;

  .ourValuesHead {
    margin-bottom: 5rem;

    .ourValuesTitle {
      color: color(text-primary);
      text-transform: uppercase;
      opacity: 0.8;
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
    }

    .ourValuesHeading {
      font-size: text(larger);
      margin-bottom: 2.75rem;

      span {
        font-size: text(larger);
        color: color(heading-liner);
        background: linear-gradient(
          118deg,
          color(primary-blue) 11.5%,
          color(heading-liner) 55.42%
        );
        @include textGradient;
      }
    }
  }

  .ourValuesContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8.75rem;

    .ourValueImg div {
      border-radius: 0.75rem;
      overflow: hidden;
      height: 520px;
      width: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .ourValuesText {
      font-size: text(lg);
      opacity: 0.6;
    }

    .ourValuesAccordion {
      .accordionHead {
        width: 100%;
        text-align: left;
        font-size: text(xl);
        padding: 1.25rem 0;
        border-bottom: 0.14rem solid rgba(color(text-primary), 0.12);
        display: flex;
        justify-content: space-between;
      }
      .accordionBody {
        padding: 1.25rem 0;
      }
    }
  }

  .iconBox {
    width: 36px;
    height: 36px;
    background: color(bg-soft);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //Dark mode style
  &.whyCmsDark{
    color: color(primary-white);

    .ourValuesTitle{
      color: color(primary-white);
    }

    .ourValuesAccordion{
      .accordionHead{
        color: color(primary-white);
        border-color: rgba(color(primary-white), 0.12);
      }
    }

    .iconBox{
      background-color: color(text-primary);
    }
  }
}
