@import "~/styles/partials/config";

.distinctLocationsStyle {
  padding-inline: spacing(p-120);
  padding-block: 8.75rem 8.75rem;

  @include tablet {
    padding: 3.75rem spacing(tablet-padding) ;
  }

  @include mobile {
    padding: 3.75rem spacing(mobile-padding);
  }

  .careerRow {
    margin-bottom: 3.75rem;
    max-width: 49.188rem;

    @include mobile-tablet-p {
      margin-bottom: 2.5rem;
    }
  }

  .projectHighlight {
    font-size: text(normal);
    font-weight: 500;
    opacity: opacity(light);
    color: color(text-primary);
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    @include mobile-tablet-p {
      font-weight: 400;
    }
  }
  .datingText {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    margin-bottom: text(lg);

    @include mobile-tablet-p {
      font-size: text(xxxl);
      line-height: 2.5rem;
      padding-right: 0;
      margin-bottom: text(lg);
    }
  }
  .descriptionText {
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
    opacity: opacity(light);
    margin-bottom: 0;

    @include mobile-tablet-p {
      font-size: text(normal);
      max-width: 100%;
    }
  }

  .gridNumberMain {
    .locationGridCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;

      @include mobile-tablet-p {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }

      .locationBox {
        background-color: color(bg-soft);
        padding: 2rem;
        border-radius: text(xl);
        border: 0.14rem solid rgba(color(text-primary), 0.12);
        height: 100%;
        @include transition(0.5s);

        &:hover {
          border-color: color(heading-liner);
        }

        @include mobile-tablet-p {
          padding: text(xl);
        }
        .backgroundImg div {
          margin-bottom: text(lg);
          height: 13.563rem;
          border-radius: 1.25rem;
          overflow: hidden;
          width: 100%;

          @include mobile-tablet-p {
            height: 10.75rem;
            border-radius: .75rem;
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            @include mobile-tablet-p {
              height: 10.75rem;
            }
          }
        }
        .countryFlag {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.5rem;

          .flag {
            img {
              width: 36.023px;
              height: auto;
              border-radius: 0.125rem;
            }
          }
        }
        .addressArea {
          display: flex;
          gap: 12px;
          align-items: flex-start;
          margin-bottom: text(lg);

          svg {
            min-width: 20px;
            height: 20px;
          }

          &:last-child {
            margin-bottom: 0;
          }
          .addressText {
            font-size: text(normal);
            font-weight: 400;
            line-height: text(xl);
            margin-bottom: 0;
            opacity: opacity(light);
          }
        }

        .sbTitle {
          font-size: text(xl);
          font-weight: 500;
          text-align: left;
          margin-bottom: 0;
          line-height: 2rem;

          @include mobile-tablet-p {
            font-size: text(lg);
            line-height: 1.75rem;
          }
        }

        .sbText {
          font-weight: 400;
          font-size: text(normal);
          line-height: text(xl);
          opacity: opacity(light);
          text-align: left;
          margin-bottom: text(lg);
          @include mobile-tablet-p {
            font-size: text(normal);
          }
        }
      }
    }
  }

  // Dark Mode
  &.distinctLocationsBannerDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .gridNumberMain {
      .locationGridCards {
        .locationBox {
          background-color: color(dark-bg);
          color: color(primary-white);
          border-color: rgba(color(primary-white), 0.12);

          &:hover {
            border-color: color(heading-liner);
          }
        }
      }
    }

    .projectHighlight {
      color: color(primary-white);
      opacity: opacity(dark);
    }

    .descriptionText {
      opacity: opacity(dark);
    }

    .gridNumberMain {
      .locationGridCards {
  
        .locationBox {
          .addressArea {
            .addressText {
              opacity: opacity(dark);
            }
          }
  
          .sbText {
            opacity: opacity(dark);
          }
        }
      }
    }
  }
}
