@import "~/styles/partials/config";

.headerMain {
  padding: 1.11rem 7.5rem;
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 0.125rem rgba(color(text-primary), 0.3);

  @include mobile-tablet-p {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 1rem;
    background-color: color(primary-white);
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    @include mobile {
      scale: 0.8;
      left: -11px;
      top: 4px;
      position: relative;
    }

    .lightLogo {
      display: block;
    }
    .darkLogo {
      display: none;
    }
  }

  nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include mobile-tablet-p {
      position: fixed;
      left: -100%;
      top: 70px;
      height: calc(100vh - 70px);
      width: 100%;
      transform: inherit;
      z-index: 999;
      background-color: rgba(color(text-primary), 1);
      transition: all 0.5s;
      overflow-y: scroll;
    }

    &.showNav {
      left: 0%;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      @include mobile-tablet-p {
        flex-wrap: wrap;
        padding: 2rem 1rem;
      }

      li {
        list-style-type: none;
        position: relative;
        list-style-type: none;
        position: relative;
        padding: 0;
        border-radius: 0;
        margin: 0;
        min-height: 4.875rem;
        display: flex;
        align-items: center;

        @include mobile-tablet-p {
          width: 100%;
          padding: 0.5rem 0;
          border-top: 1px solid rgba(color(primary-white), 0.06);

          &:last-child {
            border-bottom: 1px solid rgba(color(primary-white), 0.06);
          }
        }

        &:hover {
          .arrow {
            border-color: color(accent);
            transform: rotate(-135deg);
            position: relative;
            top: 0.063rem;

            @include mobile {
              transform: rotate(-45deg);
              border-color: color(foreground);
            }
          }
        }

        > a,
        button {
          font-size: text(normal);
          color: color(text-primary);
          font-weight: 500;
          display: inline-flex;
          align-items: center;
          position: relative;
          padding: 0.4rem 0.7rem;
          margin: 0 0.5rem;
          border-radius: 0.5rem;
          transition: all 0.5s;

          @include mobile-tablet-p {
            font-size: 20px;
            width: 100%;
            justify-content: space-between;
            padding: 7px 0 0;
            margin: 0;
            width: 100%;
          }

          &:hover {
            color: color(primary-blue);

            &::before {
              opacity: 1;
            }
            .arrow {
              border-color: color(primary-blue);
            }
          }

          @include desktop {
            &::before {
              content: "";
              width: 0px;
              height: 0px;
              border-style: solid;
              border-width: 0 10px 10px 10px;
              border-color: transparent transparent color(primary-blue)
                transparent;
              transform: rotate(0deg);
              position: absolute;
              top: 3.05rem;
              left: 50%;
              transform: translate(-50%);
              opacity: 0;
              transition: all 0.5s;
            }
          }

          &.active {
            color: color(primary-blue);

            &::before {
              opacity: 1;
            }
          }

          .arrow {
            box-sizing: border-box;
            height: 0.4rem;
            width: 0.4rem;
            border-style: solid;
            border-color: color(text-primary);
            border-width: 0rem 0.1rem 0.1rem 0rem;
            transform: rotate(45deg);
            transition: border-width 150ms ease-in-out;
            margin-left: 0.5rem;
            transition: all 0.5s;

            @include mobile {
              transform: rotate(-45deg);
              height: 0.8rem;
              width: 0.8rem;
            }
          }
        }
      }
    }
  }

  // Dropdown Menu
  @include desktop {
    .dropDown {
      &:hover {
        .subMenu {
          display: block;
          animation: slide-down 0.5s ease-in-out;

          @keyframes slide-down {
            0% {
              opacity: 0;
              top: 90%;
            }
            100% {
              opacity: 1;
              top: 100%;
            }
          }
        }

        a {
          background-color: transparent;
        }
      }

      svg {
        margin-right: 0.5rem;
      }

      a {
        &::after {
          display: none;
        }
      }
    }
  }

  .dotIcon {
    @include mobile {
      display: none;
    }
  }

  .hideDesktopIcon {
    @include desktop {
      display: none;
    }
  }

  .mobileTitle {
    color: #e3e3e3;
    font-size: 1rem;
    padding: 20px 20px 0;

    @include desktop {
      display: none;
    }
  }

  .navHamburger {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    z-index: 99;

    @include desktop {
      display: none;
    }

    span {
      display: block;
      position: relative;
      left: 0;
      width: 1.5rem;
      height: 2px;
      background-color: color(text-primary);
      content: "";
      @include transition(0.3s);
    }
  }

  .toggleActive {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }
      &:last-child {
        transform: rotate(-45deg) translate(1px, -1px);
      }
    }
  }

  // Estimate Section
  @include desktop {
    .estimateSection {
      .description {
        display: none;
      }
    }
  }

  @include mobile {
    .estimateSection {
      padding: 2rem 1.5rem 5rem;

      .description {
        color: color(primary-white);
        font-size: 0.875rem;
      }

      .headerBtn {
        width: 100%;
        height: 60px;
      }
    }
  }

  .hideDesktop {
    @include desktop {
      display: none;
    }
  }

  .hideMobile {
    @include mobile-tablet-p {
      display: none;
    }
  }

  .headerRight {
    display: flex;
    align-items: center;

    .modeBtn {
      margin-right: 2.5rem;

      @include mobile-tablet-p {
        margin-right: 1.5rem;
      }

      button {
        min-width: 2rem;
        max-width: 2rem;
        min-height: 2rem;
        max-height: 2rem;
        border: 0.14rem solid rgba(color(text-primary), 0.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        position: relative;

        &:hover {
          background-color: rgba(color(text-primary), 0.12);
        }

        svg {
          position: relative;
          left: 1px;

          path {
            fill: none;
          }
        }
      }
    }
    .headerBtn {
      @include tablet {
        display: none;
      }
    }
  }

  .subMenu {
    display: none;
    position: absolute;
    left: 50%;
    top: calc(100% + 0rem);
    transform: translate(-50%);
    background-color: color(dark-gray);
    width: auto;
    min-width: 70rem;
    z-index: 99;
    margin: 0;
    border: 0.063rem solid rgba(color(text-primary), 0.2);
    border-radius: 0.5rem;
    box-shadow: 0 5px 32px rgba(color(text-primary), 0.2);

    @include mobile-tablet-p {
      display: block;
      left: 0;
      transform: inherit;
      top: 70px;
      min-width: auto;
      width: 100%;
      height: calc(100dvh - 70px);
      padding: 0;
      position: fixed;
      background-color: color(text-primary);
      overflow-y: scroll;
    }

    &.singleLayout {
      max-width: 50vw;
      min-width: 50rem;

      @include mobile-tablet-p {
        min-width: auto;
        max-width: 100%;
      }
    }

    li {
      line-height: normal;
      padding: 0;
      margin: 0;

      a {
        display: block;
        padding: 0.4rem 0.7rem;
        border-bottom: none;
        font-weight: 500;
        font-size: text(normal);
        color: color(text-primary);
        margin: 0;
        white-space: nowrap;
        transition: all 0.3s;

        &:hover {
          margin-left: 0.7rem;
          &::before {
            opacity: 1;
          }
        }

        &::after {
          display: none;
        }

        &::before {
          content: "";
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 50%;
          background-color: color(text-primary);
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0.9rem;
          transition: all 0.2s;
        }
      }

      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }

    .subsection {
      width: 100%;
      display: flex;

      @include mobile-tablet-p {
        flex-direction: column;
      }

      .latestTech {
        width: 100%;
        min-width: 378px;
        max-width: 30%;
        background-color: color(dark-gray);
        padding: 3rem;

        @include mobile-tablet-p {
          padding: 1.25rem;
          min-width: auto;
          max-width: 100%;
        }

        h1 {
          font-size: text(normal);
          font-weight: 500;
          line-height: text(xl);
          opacity: 0.5;
          margin-bottom: 0;
          color: #e3e3e3;
        }
        .imageTech {
          background-color: color(text-primary);
          padding: 1.5rem;
          border-radius: 12px;
          margin-top: 1rem;
          border: 0.14rem solid transparent;
          transition: all 0.5s ease-in-out;
          display: flex;
          flex-direction: column;

          &:hover {
            border-color: color(heading-liner);
          }

          .imgBox {
            margin-bottom: 1rem;
            
            div {
              height: 116px;
              width: 100%;
              border-radius: 12px;
              overflow: hidden;
  
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
          }
          }
          .infoBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            .description {
              font-size: text(normal);
              font-weight: 500;
              line-height: normal;
              margin-bottom: 0;
              color: #e3e3e3;
            }

            svg {
              min-width: 16px;
              height: 16px;
            }
          }
        }
      }
      .latestTechMore {
        @extend .latestTech;
        max-width: 40%;
      }
      .overviewTech {
        width: 100%;
        max-width: 70%;
        background-color: color(text-primary);
        padding: 3rem;
        min-height: 75vh;
        max-height: 75vh;
        overflow-y: auto;

        @include desktop-hd {
          min-height: 60vh;
          max-height: 60vh;
        }

        @include mobile-tablet-p {
          max-width: 100%;
          padding: 1.25rem;
          min-height: 100%;
          max-height: 100%;
        }

        .overviewFlex {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include mobile-tablet-p {
            flex-direction: column;
            margin-bottom: 2rem;
          }

          .overviewSubFlex {
            display: flex;
            gap: 1.5rem;

            @include mobile-tablet-p {
              // flex-direction: column;
            }
          }

          h1 {
            font-size: text(lg);
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0;
            color: #e3e3e3;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: text(normal);
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
            color: rgba(color(primary-white), 0.6);
          }

          .overviewBtn {
            margin-top: 2rem;

            @include mobile-tablet-p {
              width: 100%;
            }
          }
        }
        .multiHrefs {
          margin-top: 2rem;
          position: relative;
          gap: 16px 0;

          @include mobile-tablet-p {
            margin-top: 0;
          }

          .hrefsFlex {
            position: relative;
          }
        }

        .hrefInnerFlex {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%;
          position: relative;
          transition: all 0.5s ease-in-out;
          padding: 1rem;
          border-radius: 12px;
          border: 0.125rem solid transparent;
          background-color: color(input-bg);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          height: 60px;
          margin-bottom: 16px;

          .head {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          .linkTitle {
            font-size: text(normal);
            font-weight: 500;
            line-height: normal;
            color: #e3e3e3;
            margin-bottom: 0;
          }

          .excepPara {
            font-size: text(normal);
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
            color: #e3e3e3 !important;
            margin-top: 1rem;
            @include truncate(3);
            opacity: 0;
          }

          &:hover {
            height: 128px;
            border: 0.125rem solid color(heading-liner);
            z-index: 99;

            .excepPara {
              opacity: 1;
            }
          }
        }
        .multiMoreHrefs {
          @extend .multiHrefs;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .overviewTechMore {
        @extend .overviewTech;
        max-width: 60%;
      }
    }
  }

  .subMenuMore {
    @extend .subMenu;

    @include desktop {
      min-width: 50rem;
    }
  }

  // Back Button
  .backButton {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.75rem;
    padding: 1.625rem 1.5rem;

    svg path {
      stroke: color(primary-white);
    }
  }

  // Dark Style here
  &.headerDarkStyle {
    border-bottom: 1px solid rgba(color(primary-white), 0.12);

    @include mobile {
      background-color: color(input-bg);
    }

    .navHamburger {
      span {
        background-color: color(primary-white);
      }
    }

    .logo {
      a {
        display: none;
      }
      .darkLogo {
        display: block;
      }
    }

    .dropDown {
      svg > rect {
        fill: color(primary-white);
      }
    }

    .headerRight {
      border-color: rgba(color(primary-white), 0.12);

      .modeBtn {
        button {
          border: 0.14rem solid rgba(color(primary-white), 0.12);

          &:hover {
            background-color: rgba(color(primary-white), 0.2);
          }

          svg {
            left: 0px;
          }
        }
      }
    }

    nav {
      ul {
        li {
          &.dropDown {
            > a {
              &.active {
                .arrow {
                  border-color: color(info-blue);
                }
              }
            }
          }
          a,
          .linkButton,
          button {
            color: color(primary-white);

            &::after {
              background-color: color(primary-white);
            }

            &.active {
              color: color(info-blue);
            }
          }
        }
      }
    }
    .arrow {
      border-color: color(primary-white);
    }

    .overviewBtn button {
      color: color(info-blue);
      justify-content: center;
      padding: 0;
      height: 44px;
      width: 143px;

      @include mobile-tablet-p {
        height: 55px;
        width: 100%;
      }
    }
  }
}

// Header Mode
.headerLight {
  background: color(primary-white);
}

.headerDark {
  background: color(input-bg);
}


.headerMainDesktop {

  @include mobile-tablet-p {
    display: none;
  }
}

.headerMobile {

  @include desktop {
    display: none;
  }
}