@import "~/styles/partials/config";

.footerSection {
  background-color: color(text-primary);
  padding: 3.75rem 7.5rem 0;
  color: color(primary-white);
  position: relative;

  @include tablet {
    padding: 3.125rem spacing(tablet-padding) 0;
  }
  @include mobile {
    padding: 3.125rem 1.25rem 2.5rem;
  }

  h4 {
    font-size: text(xl);
    color: rgba(color(primary-white), 0.8);
    font-weight: 500;

    @include mobile {
      font-size: text(lg);
    }
  }

  h5 {
    font-size: text(lg);
    font-weight: 500;
    color: rgba(color(primary-white), 0.8);
    margin-bottom: 1.75rem;

    @include mobile-tablet-p {
      margin-bottom: 1rem;
      color: color(primary-white);
    }

    a {
      color: rgba(color(primary-white), 1);
      font-size: text(lg);

      &:hover {
        color: color(info-blue);
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      a {
        color: rgba(color(primary-white), 0.8);
        font-weight: 400;
        margin-bottom: 0.5rem;
        display: block;
        font-size: text(normal);
        @include transition(0.5s);

        @include mobile{
          margin-bottom: 0;
        }

        &:hover {
          color: rgba(color(info-blue), 1);
        }
      }
    }
  }

  .footerBox {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.75rem;
    }

    .footerCols {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }

      &:nth-child(1) {
        ul {
          gap: 1.5rem;


          @include mobile {
            gap: 1.25rem;
          }
        }

        a {
          font-size: text(lg);
          font-weight: 500;
          color: rgba(color(primary-white), 0.8);
          @include transition(0.5s);

          @include mobile-tablet-p {
            font-size: text(normal);
          }

          &:hover {
            color: color(info-blue);
          }
        }
      }

      @include mobile {
        width: 100%;
        margin-bottom: 1rem;

        &:nth-child(1) {
          grid-column: 1 / 3;
          grid-row: 1;

          ul {
            display: grid;
            grid-template-columns: 52% auto;
          }
        }
      }
    }
  }

  .footLeftPanel {
    padding-right: 7rem;

    @include desktop-hd {
      padding-right: 12rem;
    }

    @include tablet {
      padding-right: 0;
    }

    .description {
      font-size: text(normal);
      font-weight: 400;
      color: rgba(color(primary-white), 0.8);
      margin: 1.5rem 0 0;

      @include mobile-tablet-p {
        color: rgba(color(primary-white), 0.6);
      }
    }

    .formFlex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      position: relative;

      @include mobile {
        flex-wrap: wrap;
      }

      .inputFloatingStyle {
        border-color: transparent;
        height: 52px;
        background: color(input-bg);
      }

      input {
        padding: 0 15px;
        color: color(primary-white);
        height: auto;
        min-height: auto;

        &::placeholder {
          color: rgba(color(primary-white), 0.5);
        }
      }

      button {
        margin-left: 1rem;
        white-space: nowrap;
        display: flex;
        align-items: center;

        p {
          margin: 0;
        }

        svg {
          margin: 0;
        }

        @include mobile {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }

    .partnerCard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.14rem solid color(heading-liner);
      border-radius: 1rem;
      margin: 5rem 0 2.5rem;
      color: rgba(color(primary-white), 0.8);
      @include transition(0.5s);

      &:hover {
        border-color: color(info-blue);
      }

      @include mobile-tablet-p {
        margin: 2.875em 0;
      }

      .partnerCols {
        padding: 0.5rem 1.5rem;

        @include mobile {
          padding: 0.5rem 1rem;
        }

        a {
          color: color(info-blue);
          font-size: text(lg);
          font-weight: 500;
          display: flex;
          align-items: center;
          white-space: nowrap;

          @include mobile-tablet-p {
            font-size: text(normal);
          }

          svg {
            margin-left: 0.5rem;
            path {
              stroke: color(primary-blue);
            }
          }
        }
        p {
          font-size: text(normal);
          font-weight: 400;
          margin: 0;

          @include mobile {
            font-size: text(xxs);
            font-weight: 300;
            color: rgba(color(primary-white), 0.8);
          }
        }
      }
      img {
        width: 100%;
        height: 6.1875rem;
        border-radius: 0 1rem 1rem 0;
      }
    }
  }

  .footSocial {
    margin-top: 0.8rem;

    @include tablet {
      margin-top: 3rem;
    }

    @include mobile {
      margin-top: 2.875rem;
    }

    .footSocialLinks {
      display: flex;
      margin-top: 24px;

      @include mobile-tablet-p {
        display: flex;
      }

      @include mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }

      @include samsung-fold {
        display: flex;
        gap: 1rem;
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      padding: 0.5rem 1.5rem;
      border: 0.14rem solid rgba(color(primary-white), 0.2);
      border-radius: 0.5rem;
      font-size: text(normal);
      color: rgba(color(primary-white), 0.8);
      font-weight: 400;
      margin-right: 0.8rem;
      transition: all 0.5s;
      gap: 0.75rem;

      @include mobile {
        padding: 0;
        width: 100%;
        height: 3rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background-color: color(primary-white);
        color: color(text-primary);

        &:last-child {
          svg {
            path {
              color: color(primary-blue);
            }
          }
        }
      }
    }
  }

  .footCopyright {
    margin-top: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-top: 0.14rem solid rgba(color(primary-white), 0.05);

    @include mobile {
      flex-wrap: wrap;
      margin-top: 2rem;
      padding: 1.5rem 0 0;
      flex-direction: column-reverse;
      justify-content: flex-start;
    }

    p {
      margin: 0;
      font-weight: 500;
      font-size: text(xxs);
      opacity: opacity(light);

      @include mobile {
        width: 100%;
        margin-top: 2rem;
        text-align: center;
      }
    }

    ul {
      display: flex;
      list-style: none;
      gap: 1rem;

      @include tablet {
        white-space: nowrap;
      }

      @include mobile {
        flex-wrap: wrap;
        width: 100%;
      }

      li {
        list-style-type: none;

        @include mobile-tablet-p {
          width: 100%;
        }

        a {
          color: rgba(color(primary-white), 0.8);
          font-weight: 400;
          font-size: text(normal);
          @include transition(0.5s);

          @include mobile {
            margin: 0;
          }

          &:hover {
            color: color(info-blue);
          }
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        list-style-type: none;
      }
    }
  }

  .footLogoFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footLogo {
      height: 48px;
      width: 183px;

      @include mobile-tablet-p {
        height: 50px;
        width: 150px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .fadeLink {

    a {
      opacity: opacity(dark);

      &:hover {
        opacity: 1;
      }
    }
  }

  .subscribe {
    margin-top: 5rem;

    @include mobile-tablet-p {
      margin-top: 3rem;
    }
  }
}
