@import "~/styles/partials/config";

.footerSection {
  background-color: color(text-primary);
  padding: 2rem 7.5rem 0;
  color: color(primary-white);

  .footLeftPanel {
    padding-right: 2rem;
    p {
      font-size: text(normal);
      font-weight: 400;
    }

    .partenerCard{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid color(primary-blue);

      .partnerCols{
        padding: 1rem;
        a{
          color: color(primary-blue);
        }
      }
    }
  }
}
