@import "~/styles/partials/config";

.jobDetailContainer {
  padding: spacing(section-primary-padding);
  background-color: color(primary-white);

  @include mobile-tablet-p {
    padding: 8.75rem 2.5rem;
  }

  @include mobile {
    padding: 4.75rem 1.5rem;
  }

  .containerStyle {
    position: relative;
  }

  .titleSection {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include mobile-tablet-p {
      flex-direction: column;
    }

    h6 {
      font-weight: 500;
      font-size: text(normal);
      color: color(text-primary);
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      opacity: 0.8;
      margin-bottom: 0;
    }
    
    h3 {
      font-weight: 500;
      font-size: text(xxxl);
      color: color(text-primary);
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }

  .sliderArrow {
    display: flex;
    gap: 24px;
   
    @include desktop {
      position: absolute;
      top: 0;
      right: 0;
    }

    @include mobile-tablet-p {
      margin-top: 3.75rem;
    }

    .button {
      background-color: color(primary-blue);
      padding: 0;
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    svg > path {
      stroke: color(primary-white);
    }
  }

  .arrowDisabled {
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: 0.14rem solid rgba(color(text-primary), 0.2);
    color: color(primary-blue);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg > path {
      stroke: color(primary-black);
    }
  }

  .sliderSection {
    padding-top: 5rem;
    margin: 0 -20px 0 0;
    
    @include mobile-tablet-p {
      padding-top: 0;
      margin: 3.75rem 0 0;
    }
  }

  // Dark Mode
  &.jobDetailDarkContainer {
    background-color: color(input-bg);

    .titleSection {
      h3 {
        color: color(primary-white);
      }
      h6 {
        color: color(primary-white);
      }
    }

    .cardDiv {
      background-color: color(primary-background);
      border: 0.125rem solid color(primary-white);

      &:hover {
        border: 0.125rem solid color(heading-liner);
        cursor: pointer;
      }
      h1 {
        color: color(primary-white);
      }
      .description {
        color: color(primary-white);
      }

      .spanDiv {
        .spanDetail {
          span {
            color: color(primary-white);
          }
        }
        .spanDetail svg path {
          fill: color(primary-white);
        }
      }
    }

    .arrowDisabled {
      border: 0.14rem solid rgba(color(primary-white), 0.2);

      svg > path {
        stroke: color(primary-white);
      }
    }
    
    .sliderArrow {
  
      .button {
        background-color: color(info-blue);
      }
    }
  }
}
