@import "~/styles/partials/config";

.founderDesk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5rem;
  position: relative;
  background-color: color(bg-soft);
  margin-top: -5rem;

  @include mobile-tablet-p {
    padding: spacing(tablet-padding);
    padding-block: 3.75rem 3.75rem;
  }

  @include mobile {
    padding: spacing(section-mob-padding);
  }

  .flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile-tablet-p {
      max-width: 100%;
      margin-bottom: 3.75rem;
      flex-direction: column;
      align-items: flex-start;
    }

    .actionSection {
      display: flex;
      gap: 20px;

      @include mobile-tablet-p {
        width: 100%;

       .socialBtn, button {
          width: 100%;
        }
      }
    }

    .headSection {
      width: 60%;

      @include mobile-tablet-p {
        width: 100%;
      }
    }
  }

  .mediaIcon svg {
    width: 50px;
    height: 50px;
    scale: 1.15;
    margin-top: 6px;

    @include mobile-tablet-p {
      scale: 1;
      margin-top: 0px;
    }
  }

  .heading {
    font-size: text(larger);
    margin-bottom: 2.75rem;
    line-height: 3.375rem;

    @include mobile-tablet-p {
      font-size: 1.7rem;
      line-height: 2rem;
      margin-bottom: 2.5rem;
    }

    span {
      font-size: text(larger);
      margin-bottom: 2.75rem;
      color: color(info-blue);
      @include min-desktop-medium {
        @include textGradient;
      }
      @include mobile-tablet-p {
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: text(lg);
      }
    }
  }

  .subHeading {
    opacity: opacity(light);
    font-weight: 500;
    line-height: 1.5rem;
    font-size: text(normal);
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    @include mobile-tablet-p {
      font-size: text(normal);
      line-height: text(xl);
    }
  }

  .paraSection {
    .textWrapper {
      opacity: 0.8;
      line-height: 30px;
      
      @include desktop-normal {
        overflow-y: scroll;
        height: 32.5rem;
        padding-right: 1.25rem;
      }

      @include mobile-tablet-p {
        @include truncate(8);
      }
    }

    p {
      opacity: opacity(light);
      font-weight: 400;
      line-height: 1.875rem;
      font-size: text(lg);
      margin-bottom: 1rem;

      @include mobile-tablet-p {
        margin-bottom: 0;
        font-size: text(normal);
        line-height: text(xl);
      }
    }
  }

  .contentSec {
    display: flex;
    gap: 5rem;

    @include mobile-tablet-p {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .ourTeamHead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-tablet-p {
      flex-direction: column;
    }

    .ourTeamTitle {
      font-size: text(normal);
      opacity: opacity(light);;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.5rem;

      @include mobile-tablet-p {
        font-weight: 400;
        margin-bottom: 0.75rem;
      }
    }
    .ourTeamHeading {
      font-size: text(larger);

      @include mobile-tablet-p {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 3.75rem;
      }
    }
  }

  .titleWrapper {
    width: 40%;

    @include mobile-tablet-p {
      width: 100%;
    }
  }

  .teamCards {
    .teamCardBg {
      border: 0.14rem solid color(primary-white);
background-color: white;
      height: 32.5rem;
      width: 23.3125rem;
      border-radius: 0.7rem;
      overflow: hidden;
      color: color(primary-white);
      position: relative;
      transition: all 0.5s ease-in-out;

      @include tablet {
        width: 60%;
        height: 30.5rem;
      }

      @include mobile {
        width: 100%;
      }

      .teamImg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          scale: 1.01;
        }
      }

      .cardHead {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
        position: absolute;
        z-index: 1;

        h4 {
          font-size: text(xl);
          font-style: normal;
          font-weight: 500;

          @include mobile-tablet-p {
            line-height: 2rem;
            margin-bottom: 0.5rem;
          }
        }
        p {
          font-size: text(lg);
          font-weight: 400;
          opacity: opacity(light);
          
          @include mobile-tablet-p {
            line-height: 1.875rem;
            font-size: text(normal);
            margin-bottom: 0;
          }
        }
      }
      .linkedInIcon {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        z-index: 1;
        @include transition(0.2s);
      }

      &:hover {
        border-color: color(border-light-blue);

        .linkedInIcon {
          box-shadow: 4px 4px 10px rgba(color(primary-black), 0.6);
          overflow: hidden;
        }
      }
    }
  }

  .buttonSection {
    margin-top: 0.75rem;

    @include desktop-normal {
      display: none;
    }

    button {
      padding: 0;
      color: color(primary-blue);
    }
  }

  // Dark theme style
  &.founderDeskDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .tabWrapper {
      background-color: color(dark-tab);

      button {
        color: rgba(color(primary-white), 0.8);
      }
    }

    .teamCardBg {
      border: 0.14rem solid color(input-bg);
    }

    .subHeading {
      opacity: opacity(dark);
    }

    .teamCards {
      .teamCardBg {
        .cardHead {
          p {
            opacity: opacity(dark);
          }
        }
      }
    }
  }
}
