@import "~/styles/partials/config";

.ourResults {
  padding: spacing(section-primary-padding);

  @include tablet {
    padding: 3.75rem spacing(tablet-padding);
  }

  @include mobile {
    padding: 3.75rem spacing(mobile-padding);
  }

  .flexContainer {
    max-width: 48rem;

    @include mobile-tablet-p {
      padding: 5rem spacing(tablet-padding);
      max-width: 100%;
    }

    @include mobile {
      padding: 5rem 1.25rem
    }
  }

  .ourResultsTitle {
    color: color(text-primary);
    text-transform: uppercase;
    opacity: opacity(light);;
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    @include mobile-tablet-p {
      font-weight: 400;
    }
  }
  .ourResultsHeading {
    font-size: text(larger);
    margin-bottom: 2.75rem;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: text(lg);
    }
  }
  
  .ourResultsText {
    opacity: opacity(light);
    font-weight: 400;
    line-height: 1.875rem;
    font-size: text(lg);
    margin-bottom: 5rem;

    @include mobile-tablet-p {
      margin-bottom: 3.75rem;
      font-size: text(normal);
      line-height: text(xl);
    }
  }
  .resultCardWrapper {
    display: flex;
    justify-content: center;
    gap: 2.5rem;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-tablet-p {
      gap: text(lg);
    }

 
  }
  .resultCard {
    border: 0.14rem solid rgba(color(text-primary), 12%);
    width: 100%;
    padding: 2rem;
    background-color: color(bg-soft);
    border-radius: 1.25rem;

    @include mobile {
      padding: text(lg);
      max-width: 90%;
    }

    &:hover {
      border-color: color(heading-liner);
    }

    .cardNum {
      font-size: text(xl);
      color: color(heading-liner);
      margin-bottom: 0;
    }

    .cardText {
      font-size: text(lg);
      font-weight: 400;
      line-height: 1.875rem;
      opacity: opacity(light);
      margin-top: 2rem;
    }
  }

  .mobileSlider {
    padding-left: 1.25rem;

    @include mobile {
      padding-left: 0;
    }
  }

  // Dark Mode
  &.ourResultsDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .ourResultsTitle {
      color: color(primary-white);
    }

    .resultCard {
      background-color: color(text-primary);
      border: 0.14rem solid rgba(color(primary-white), 0.12);

      &:hover {
        border-color: color(heading-liner);
      }
    }

    .ourResultsText {
      opacity: opacity(dark);
    }
  }
}
