@import "~/styles/partials/config";

.lestWorkStyle {
  padding: spacing(section-primary-padding);

  @include desktop-hd {
    padding-inline: 0;
  }

  &.lestWorkStyleDark {
    background-color: color(dark-gray);

    .workArea {
      background-color: color(text-primary);
      color: color(primary-white);
      .tabDropdownMob {
        background-color: color(dark-gray);
      }
      .workGrid {
        .policyHighlight {
          color: color(heading-liner);
        }
      }
      .contactTabWrap {
        .contactInnerFlex {
          background-color: color(dark-gray);
          color: color(primary-white);
        }
      }
    }
  }

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  .workArea {
    background-color: color(primary-background);
    padding: 3.75rem;
    border-radius: text(lg);
    margin-top: -15rem;
    position: relative;

    @include mobile-tablet-p {
      padding: text(lg);
      margin-top: 0;
    }

    .tabDropdownMob {
      .tabDropLabel {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: text(xl);
        margin-bottom: text(normal);
        opacity: 0.6;
      }
      select {
        padding: 0;
        border: none;
        font-size: 0.875rem;

        &:focus {
          border: none;
        }
      }
      label {
        padding: 0;
        height: auto;
        font-size: 1.125rem;
        font-weight: 500;
        font-family: font(primary);
        color: color(text-primary);
        left: -3px;
      }
      border: 1px solid rgba(17, 17, 17, 0.12);
      background-color: color(primary-white);
      padding: text(lg);
      padding-bottom: 0;
      margin-bottom: text(lg);
      border-radius: 0.75rem;

      @include tablet-desktop-full {
        display: none;
      }
    }

    .headingMain {
      margin-bottom: 5rem;
      display: flex;
      justify-content: space-between;
      gap: 9rem;

      @include mobile-tablet-p {
        display: inline;
      }

      .formHeading {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 300px;

        @include mobile {
          margin-bottom: text(lg);
          line-height: 2.5rem;
        }

        @include mobile-tablet-p {
          font-size: text(xxxl);
          line-height: 2.5rem;
          padding-right: 0;
          margin-bottom: text(lg);
        }

        .formTechHighlight {
          color: color(primary-blue);
          background: linear-gradient(
            118deg,
            color(primary-blue) 11.5%,
            color(heading-liner) 55.42%
          );
          @include textGradient;
          font-size: 2.75rem;
          font-weight: 500;
          line-height: 3.375rem;

          @include mobile-tablet-p {
            padding-right: 0;
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
      }

      .descriptionText {
        font-size: text(lg);
        font-weight: 400;
        margin-bottom: 0;
        opacity: 0.8;
        max-width: 65%;

        @include mobile-tablet-p {
          max-width: 100%;
          font-size: text(normal);
          margin-bottom: 2.5rem;
        }
      }
    }
  }
  .contactUsForm {
    .formText {
      font-size: text(lg);
      font-weight: 400;
      opacity: 0.8;
      margin-bottom: text(xl);
      line-height: 1.875rem;

      @include mobile-tablet-p {
        display: none;
        padding: 0;
        font-size: text(normal);
        margin-bottom: 2.5rem;
        line-height: text(xl);
        max-width: 100%;
      }
    }

    .contactFormArea {
      .inputSpace {
        margin-bottom: 2.25rem;

        &:last-child {
          margin-bottom: 0;
        }

        @include mobile {
          margin-bottom: text(lg);
        }
      }
    }

    .captchaImg {
      margin: 2.5rem 0 2.5rem 0;
      img {
        border-radius: 0.5rem;
        box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
      }
    }
  }
  .contactTabWrap {
    display: flex;
    gap: 9rem;

    @include mobile-tablet-p {
      flex-direction: column;
    }
    [aria-orientation="vertical"] {
      min-width: 300px;
      max-width: 300px;
      @include mobile-tablet-p {
        display: none;
      }
    }

    button,
    [type="button"] {
      width: 100%;
    }

    .contactInnerFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: color(primary-white);
      height: 80px;
      margin-bottom: 20px;
      border-radius: 12px;
      padding: 20px;

      .icon {
        animation: slide-in 0.5s forwards;
      }

      @keyframes slide-in {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0%);
          opacity: 1;
        }
      }

      .highlightIcon {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        h1 {
          font-size: text(lg);
          font-weight: 500;
          line-height: 1.875rem;
          margin-bottom: 0;
        }
      }
    }
  }

  .policyArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include mobile-tablet-p {
      flex-direction: column;
      align-items: flex-start;
    }
    .policyText {
      font-size: text(xxs);
      font-weight: 400;
      line-height: text(lg);
      max-width: 344px;
      margin-bottom: 0;

      @include mobile-tablet-p {
        margin-bottom: text(lg);
        max-width: 100%;
      }

      .policyHighlight {
        color: color(primary-blue);
        font-size: text(xxs);
        margin-left: 3px;
      }
    }

    .buttonGrid {
      display: flex;
      justify-content: flex-end;

      @include mobile {
        justify-content: flex-start;
      }
    }
  }
}
