@import "~/styles/partials/config";

.lestWorkStyle {
  padding: spacing(section-primary-padding);

  @include desktop-hd {
    padding-inline: 0;
  }

  @include mobile-tablet-p {
    padding: 0;
  }

  .workArea {
    background-color: color(primary-background);
    padding: 3.75rem;
    border-radius: text(lg);
    margin-top: -15rem;
    position: relative;

    @include mobile-tablet-p {
      margin-top: 1.25rem;
      padding: 3.75rem text(lg);
    }

    .tabDropdownMob {
      border: 1px solid rgba(color(text-primary), 0.12);
      background-color: color(primary-white);
      padding: 1rem 0.75rem;
      margin-bottom: text(lg);
      border-radius: 0.75rem;

      .tabDropLabel {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: text(xl);
        margin-bottom: text(normal);
        opacity: 0.6;
        
      }
      select {
        padding: 0;
        border: none;
        font-size: 0.875rem;
        border: transparent;

        &:focus {
          border: none;
        }
      }
      label {
        padding: 0;
        height: auto;
        font-size: 1.125rem;
        font-weight: 500;
        font-family: font(primary);
        color: color(text-primary);
      }

      @include tablet-desktop-full {
        display: none;
      }
    }

    .headingMain {
      margin-bottom: 5rem;
      display: flex;
      justify-content: space-between;
      gap: 9rem;

      @include mobile-tablet-p {
        display: inline;
      }

      .formHeading {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 300px;

        @include mobile {
          margin-bottom: text(lg);
          line-height: 2.5rem;
        }

        @include mobile-tablet-p {
          font-size: text(xxxl);
          line-height: 2.5rem;
          padding-right: 0;
          margin-bottom: text(lg);
        }

        .formTechHighlight {
          color: color(primary-blue);
          @include textGradient;
          font-size: 2.75rem;
          font-weight: 500;
          line-height: 3.375rem;

          @include mobile-tablet-p {
            padding-right: 0;
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
      }

      .descriptionText {
        font-size: text(lg);
        font-weight: 400;
        margin-bottom: 0;
        opacity: 0.8;
        max-width: 65%;

        @include mobile-tablet-p {
          max-width: 100%;
          font-size: text(normal);
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  .contactTabWrap {
    display: flex;
    gap: 9rem;

    @include mobile-tablet-p {
      flex-direction: column;
    }

    [aria-orientation="vertical"] {
      min-width: 300px;
      max-width: 300px;
      @include mobile-tablet-p {
        display: none;
      }
    }

    button,
    [type="button"] {
      width: 100%;
    }

    .contactInnerFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(color(primary-white), 0.8);
      height: 80px;
      margin-bottom: 20px;
      border-radius: 12px;
      padding: 20px;
      @include transition(0.2s);

      &:hover {
        background-color: rgba(color(primary-white), 1);
      }

      &.buttonActive {
        background-color: rgba(color(primary-white), 1);
      }



      .icon {
        animation: slide-in 0.5s forwards;
      }

      @keyframes slide-in {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0%);
          opacity: 1;
        }
      }

      .highlightIcon {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        h1 {
          font-size: text(lg);
          font-weight: 500;
          line-height: 1.875rem;
          margin-bottom: 0;
        }
      }
    }
  }
  .policyArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include mobile-tablet-p {
      flex-direction: column;
      align-items: flex-start;
    }

    .policyText {
      font-size: text(xxs);
      font-weight: 400;
      line-height: text(lg);
      max-width: 344px;
      margin-bottom: 0;

      @include mobile-tablet-p {
        margin-bottom: text(lg);
        max-width: 100%;
      }

      .policyHighlight {
        color: color(primary-blue);
        font-size: text(xxs);
        margin-left: 3px;
      }
    }

    .buttonGrid {
      display: flex;
      justify-content: flex-end;

      @include mobile {
        justify-content: flex-start;
      }
    }
  }


// Dark Mode
  &.lestWorkStyleDark {
    background-color: color(dark-gray);

    .workArea {
      background-color: color(text-primary);
      color: color(primary-white);
      
      .tabDropdownMob {
        background-color: color(dark-gray);
      }

      .workGrid {
        .policyHighlight {
          color: color(heading-liner);
        }
      }

      .contactInnerFlex {
        background-color:rgba(color(input-bg), 0.8);
        color: color(primary-white);

        &:hover {
          background-color:rgba(color(input-bg), 1);
        }

        &.buttonActive {
          background-color:rgba(color(input-bg), 1);
        }
  
      }
    }
  }

}
