@import "~/styles/partials/config";

.ourGallery {
  .ourGalleryTitle {
    font-size: text(normal);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;
  }
  .ourGalleryHeading {
    font-size: text(larger);
  }
  .ourGalleryText {
    opacity: 0.6;
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
  }
  .galleryImages {
    padding: 0 0.7rem;
    margin-top: 80px;
    position: relative;

    div {
      height: 250px;
      width: 100%;
    }
  }
}
