@import "~/styles/partials/config";

.ourGallery {
  
  &.ourGalleryDark {
    background-color: color(input-bg);
    color: color(primary-white);
  }

  .ourGalleryTitle {
    font-size: text(normal);
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .contentSection{
    padding-inline: 7.4rem;
    width: 100%;
    max-width: 52rem;
  
    @include desktop-hd {
      padding-left: 0;
    }
  }

  .ourGalleryHeading {
    font-size: text(larger);
  }
  .ourGalleryText {
    opacity: 0.6;
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
  }
  .galleryImages {
    padding: 0 0.7rem;
    margin-top: 5rem;
    position: relative;

    div {
      height:15.625rem;
      width: 100%;
    }
  }
}
