@import "~/styles/partials/config";

@mixin insightDetailStyles() {
  padding: spacing(section-primary-padding);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: color(input-bg);

  @include mobile-tablet-p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.75rem spacing(tablet-padding);
  }

  @include mobile {
    padding: 3rem spacing(mobile-padding) 3.75rem;
  }

  .insightDetailFlex {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    margin-top: 5rem;
    padding-right: 12rem;

    @include mobile-tablet-p {
      flex-direction: column;
      margin-top: 0;
      gap: 3rem;
      padding-right: 0;
    }
    @include mobile {
      flex-direction: column;
      margin-top: 0;
    }

    .socialMediaFlex {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 30rem;
      position: sticky;
      top: 11rem;

      @include mobile-tablet-p {
        flex-direction: row;
        position: relative;
        top: 0;
        height: auto;
        gap: 1.5rem;
      }

      @include mobile {
        gap: 0.625rem;
        height: auto;
      }

      .iconDiv {
        cursor: pointer;
        border-radius: 50%;
        border: 0.14rem solid rgba(255, 255, 255, 0.4);
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        @include transition(0.2s);

        @include tablet {
          padding: 1.5rem;
        }
        @include mobile-tablet-p {
          width: 40px;
          height: 40px;
        }

        &:hover {
          background-color: color(dark-bg);
          border-color: color(info-blue);
        }

        svg {
          @include mobile {
            scale: 0.8;
          }
        }
      }
    }

    .insightDetailPara {
      width: 100%;

      @include mobile-tablet-p {
        padding: 0;
      }

      h3 {
        font-weight: 500;
        font-size: text(xxxl);
        color: color(primary-white);
        line-height: 2.5rem;
        padding-bottom: 2rem;

        @include mobile {
          font-size: text(lg);
        }
      }

      p {
        font-weight: 400;
        font-size: text(lg);
        color: color(primary-white);
        line-height: 1.8rem;
        opacity: opacity(dark);

        a {
          opacity: 1;
        }

        
      }

      .insightImageDiv {
        margin-block: 3rem;
        height: 24.125rem;
        width: 100%;
        border-radius: 0.6rem;
        overflow: hidden;

        @include mobile {
          height: 10rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .insightSection {
        .heading {
          font-weight: 500;
          font-size: text(xl);
          color: color(primary-white);
          line-height: 2rem;
          padding-bottom: 1rem;
          padding-top: 1rem;

          @include mobile-tablet-p {
            font-size: text(lg);
            padding-bottom: 0;
          }
        }
        p {
          font-weight: 400;
          font-size: text(lg);
          color: color(primary-white);
          line-height: 1.8rem;
          padding-bottom: 1rem;
          margin: 0;

          @include mobile-tablet-p {
            font-weight: 400;
            padding-bottom: 0;
          }
        }

        .linkTag {

          a {
            font-size: text(lg);
            color: color(info-blue);
            @include transition(0.3s);
            
            &:hover {
              text-decoration: underline;
              color: color(info-blue);
            }
          }
        }
        img {
          border-radius: 0.6rem;
          width: 100%;
          height: 100%;
        }
        ul {
          list-style-type: square;
        }
        li {
          font-weight: 400;
          font-size: text(lg);
          color: color(primary-white);
          line-height: 1.8rem;
          // opacity: opacity(dark);
          padding-bottom: 0.2rem;
          margin: 0;

          
        }

        b {
          font-size: text(lg);
          font-weight: 400;
        }
      }
    }
  }
}

.insightDetailContainer {
  @include insightDetailStyles();
}

//light Mode
.lightMode {
  @include insightDetailStyles();
  background-color: color(primary-white);

  .insightDetailFlex {
    .socialMediaFlex {
      .iconDiv {
        border: 0.06rem solid rgba(color(text-primary), 0.4);
        @include transition(0.5s);
        
        &:hover {
          background-color: color(bg-soft);
        }
      }
    }

    .insightDetailPara {
      h3 {
        color: color(text-primary);
      }

      p {
        color: color(text-primary);
        opacity: opacity(dark);
      }

      .insightSection {
        .heading {
          color: color(text-primary);
        }

        p {
          color: color(text-primary);
          opacity: opacity(dark);
        }
        li {
          color: color(text-primary);
          opacity: opacity(dark);
        }
      }
    }
  }
}
