@import "~/styles/partials/config";

.solutionOurValuesStyle {
   padding: spacing(section-primary-padding);

   @include mobile-tablet-p{
      padding:3.75rem 1.25rem;
   }

   .flexContainer {
      display: flex;
      justify-content: space-between;
      gap: 8.938rem;

      @include mobile-tablet-p{
         flex-direction: column;
         gap: 2.25rem;
      }
   }

   .ourValuesHead {
      margin-bottom: 5rem;
      max-width: 373px;

      @include mobile-tablet-p{
         margin-bottom: 0;
      }

      .ourValuesTitle {
         color: color(text-primary);
         text-transform: uppercase;
         opacity: 0.8;
         font-size: text(normal);
         font-weight: 500;
         line-height: 1.5rem;
         letter-spacing: 0.2rem;
      }

      .ourValuesHeading {
         font-size: text(larger);
         margin-bottom: 2.75rem;

         @include mobile-tablet-p{
            margin-bottom: 1.25rem;
            font-size: text(xxxl);
            line-height: 2.5rem;
         }

         span {
            font-size: text(larger);
            color: color(heading-liner);
            background: linear-gradient(118deg, color(primary-blue) 11.5%, color(heading-liner) 55.42%);
            @include textGradient;

            @include mobile-tablet-p{
               font-size: text(xxxl)
            }
         }

      }

      .ourValuesText{
         @include mobile{
            margin-bottom: 0;
         }
      }
   }

   .ourValuesAccordion {
      width: 100%;
      border-top: 0.14rem solid rgba(color(text-primary), 0.12);

      .accordionHead {
         width: 100%;
         font-size: text(xl);
         padding: 1.25rem 0;
         border-bottom: 0.14rem solid rgba(color(text-primary), 0.12);
         display: flex;
         justify-content: flex-start;
      }
   }

   .accordionBody {
      padding: 1.25rem 0;
      display: flex;
      gap: 2.5rem;

      @include mobile-tablet-p{
         flex-direction: column;
      }
   }

   .iconBox {
      width: 2.25rem;
      height: 2.25rem;
      background: color(primary-white);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
   }

   .imgBox div {
      max-height: 10.25rem;
      min-width:10.25rem;
      position: relative;
      overflow: hidden;
      border-radius: 0.5rem;

      @include mobile-tablet-p{
         max-height: 20.938rem;
         max-width: 20.938rem;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .title {
      margin-left: 1.25rem;
      font-size: text(xl);
      font-weight: 500;

      @include mobile-tablet-p{
         text-align: left;
         font-size: text(lg);
         max-width: 70%;
      }
   }

   .accordionBodyContent {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      color: rgba(color(text-primary), 0.8);
   }

   .listStyle {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      li {
         display: flex;
         align-items: flex-start;
         gap: 0.75rem;

         svg {
            position: relative;
            top: 0.5rem;
            min-width: 0.938rem;
            height: 0.625rem;
         }
      }
   }

   //Dark mode style
   &.solutionOurValuesDark {
      background-color: color(input-bg);
      color: color(primary-white);
      
      .ourValuesTitle{
        color: color(primary-white);
      }

      .ourValuesAccordion{
        .accordionHead{
          color: color(primary-white);
          border-color: rgba(color(primary-white), 0.12);
        }
        .accordionBody{
          .accordionBodyContent{
            color: color(primary-white);
          }
        }
      }

      .iconBox{
        background-color: color(text-primary);
      }
   }
}
