@import "~/styles/partials/config";

.titleCard {
  border-radius: 1.25rem;
  border: 1px solid rgba(color(text-primary), 0.12);
  background: color(bg-soft);
  width: 100%;
  height: auto;
  padding: 2.5rem;

  h5 {
    font-size: text(xl);
    font-weight: 500;
    line-height: 2.125rem;
  }

  p {
    font-size: text(normal);
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.8;
  }

  &.titleCardDark {
    border-radius: 1.25rem;
    border-color: rgba(color(primary-white), 0.12);
    background: color(primary-black);
    color: color(primary-white);

    h5 {
      color: color(primary-white);
    }
  }
}
