@import "~/styles/partials/config";

.titleCard {
  border-radius: 1.25rem;
  border: 0.14rem solid rgba(color(text-primary), 0.12);
  background: color(bg-soft);
  width: 100%;
  height: auto;
  padding: 2.5rem;
  @include transition(0.5s);

  &:hover {
    border-color: color(heading-liner);
  }

  @include mobile-tablet-p {
    padding: text(lg);
  }

  h5 {
    font-size: text(xl);
    font-weight: 500;
    line-height: 2rem;

    @include mobile-tablet-p {
      font-size: text(lg);
      line-height: 1.75rem;
      margin-bottom: 0.75rem;
    }
  }

  p {
    font-size: text(normal);
    font-weight: 400;
    line-height: 1.5rem;
    opacity: opacity(light);
    margin-bottom: 0;
  }

  // Dark Mode
  &.titleCardDark {
    background: color(primary-black);
    border-color: rgba(color(primary-white), 0.18);

    &:hover {
      border-color: color(heading-liner);
    }

    h5 {
      color: color(primary-white);
    }

    p {
      opacity: opacity(dark);
    }
  }
}
