@import "~/styles/partials/config";

.technologyCase {
   padding-inline: spacing(p-120);

   @include mobile {
      padding: 1.5rem;
   }

   &.technologyCaseDark{
      background-color: color(input-bg);
      color: color(primary-white);
   }

   .headSection {
      display: flex;
      align-items: flex-end;
      margin-bottom: 5rem;

      @include mobile {
         margin-bottom: 3rem;
      }
   }

   .btnSection {
      display: flex;
   
      button {
         white-space: nowrap;
      }
   }

   .caseTitle {
      font-size: text(normal);
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
      margin-bottom: 1rem;
   }

   .caseHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 3.375rem;
      max-width: 75%;
      margin-bottom: 0;
      

      @include mobile {
         font-size: 1.7rem;
         line-height: 2.375rem;
      }
   }

   .technologyCaseCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;

      @include mobile {
         grid-template-columns: repeat(1, 1fr);
         margin-top: 1rem;
      }

      svg {
         width: 2rem;
      }
   }
}
