@import "~/styles/partials/config";

.headerMain {
  padding: 1.11rem 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
  box-shadow: 0 0 0.125rem rgba(color(text-primary), 0.3);

  @include tablet {
    padding: 1rem 0.8rem;
  }

  .logo {
    .lightLogo {
      display: block;
    }
    .darkLogo {
      display: none;
    }
  }

  nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include tablet {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      transform: inherit;
      z-index: 9;
      background-color: rgba(color(primary-white), 0.9);
      left: -100%;
      transition: all 0.5s;
    }

    &.showNav {
      left: 0;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      @include tablet {
        flex-wrap: wrap;
        padding: 0;
        padding-top: 2rem;
      }

      li {
        list-style-type: none;
        position: relative;
        padding: 0.4rem 0.7rem;
        border-radius: 0.5rem;
        margin: 0 0.5rem;

        @include tablet {
          width: 100%;
          padding: 0.5rem 0;
        }

        &:hover {
          .subMenu {
            display: block;
            .latestTech {
            }
          }

          .arrow {
            border-color: color(accent);
            transform: rotate(-135deg);
            position: relative;
            top: 0.063rem;

            @include mobile {
              transform: rotate(-45deg);
              border-color: color(foreground);
            }
          }
        }

        a {
          font-size: text(normal);
          color: color(text-primary);
          font-weight: 500;
          display: inline-flex;
          align-items: center;
          position: relative;

          &::after {
            content: "";
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            background-color: color(text-primary);
            position: absolute;
            left: 50%;
            transform: translate(-50%) scale(0);
            bottom: -0.8rem;
            transition: all 0.2s;
          }

          &.active {
            color: color(primary-blue);

            &::before {
              content: "";
              width: 0px;
              height: 0px;
              border-style: solid;
              border-width: 0 10px 10px 10px;
              border-color: transparent transparent color(primary-blue)
                transparent;
              transform: rotate(0deg);
              position: absolute;
              top: 2.6rem;
              left: 50%;
              transform: translate(-50%);
            }

            &:hover {
              &::after {
                display: none;
              }
            }
          }

          &:hover {
            &::after {
              transform: translate(-50%) scale(1);
            }
          }

          .arrow {
            box-sizing: border-box;
            height: 0.4rem;
            width: 0.4rem;
            border-style: solid;
            border-color: color(text-primary);
            border-width: 0rem 0.1rem 0.1rem 0rem;
            transform: rotate(45deg);
            transition: border-width 150ms ease-in-out;
            margin-left: 0.5rem;
            transition: all 0.5s;

            @include mobile {
              transform: rotate(-45deg);
            }
          }
        }

        .subMenu {
          display: none;
          position: absolute;
          left: 50%;
          top: calc(100% + 1rem);
          transform: translate(-50%);
          background-color: color(dark-gray);
          width: 100%;
          min-width: 70rem;
          z-index: 2;
          padding: 0.5rem 0;
          margin: 0;
          border: 0.063rem solid rgba(color(text-primary), 0.2);
          border-radius: 0.5rem;

          @include tablet {
            left: 0;
            transform: inherit;
            top: 3rem;
          }

          li {
            line-height: normal;
            padding: 0;
            margin: 0;

            a {
              display: block;
              padding: 0.4rem 0.7rem;
              border-bottom: none;
              font-weight: 500;
              font-size: text(normal);
              color: color(text-primary);
              margin: 0;
              white-space: nowrap;
              transition: all 0.3s;

              &:hover {
                margin-left: 0.7rem;
                &::before {
                  opacity: 1;
                }
              }

              &::after {
                display: none;
              }

              &::before {
                content: "";
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background-color: color(text-primary);
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0.9rem;
                transition: all 0.2s;
              }
            }

            &:last-child {
              a {
                border-bottom: none;
              }
            }
          }
        }
        .subMenuMore {
          @extend .subMenu;
          min-width: 50rem;
        }
      }

      .dropDown {
        svg {
          margin-right: 0.5rem;
        }
        &:hover {
          background-color: rgba(color(text-primary), 0.06);
        }
        a {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .activeHumburger {
    button {

      span {
        background: 0;
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navHamburger {
    display: none;

    @include tablet {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 1.5625rem;
      height: 2.8125rem;
      font-size: 0;
      text-indent: -624.938rem;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      cursor: pointer;
      background: 0;
      z-index: 99;

      span {
        display: block;
        position: absolute;
        top: 1.4375rem;
        left: 0;
        right: 0;
        height: 0.125rem;
        background: color(text-primary);

        &::before,
        &::after {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 0.125rem;
          background-color: color(text-primary);
          content: "";
          transition-delay: 0.3s, 0;
        }

        &::before {
          top: -0.5rem;
          transition-property: top;
          transition: 0.3s all;
        }
        &::after {
          bottom: -0.5rem;
          transition-property: bottom;
          transition: 0.3s all;
        }
      }
    }
  }

  .headerRight {
    display: flex;
    align-items: center;

    .modeBtn {
      margin: 0 1rem;

      button {
        width: 2rem;
        height: 2rem;
        border: 1px solid rgba(color(text-primary), 0.3);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .headerBtn {
      @include tablet {
        display: none;
      }
    }
  }

  &.headerDarkStyle {
    background-color: color(input-bg);
    border-bottom: 1px solid rgba(color(primary-white), 0.12);

    .logo {
      a {
        display: none;
      }
      .darklogo {
        display: block;
      }
    }

    nav {
      ul {
        li {
          &.dropDown {
            a {
              &.active {
                .arrow {
                  border-color: color(info-blue);
                }
              }
            }
          }
          a {
            color: color(primary-white);

            &::after {
              background-color: color(primary-white);
            }

            &.active {
              color: color(info-blue);
            }
          }
        }
      }
    }
    .arrow {
      border-color: color(primary-white);
    }
    .headerRight {
      .modeBtn {
        button {
          border: 1px solid rgba(color(primary-white), 0.12);
        }
      }
    }
  }
  .subMenu {

    .subsection {
      width: 100%;
      display: flex;

      .latestTech {
        width: 100%;
        max-width: 30%;
        background-color: color(dark-gray);
        padding: 3rem;

        h1 {
          font-size: text(normal);
          font-weight: 500;
          line-height: text(xl);
          opacity: 0.5;
          margin-bottom: 0;
          color: #e3e3e3;
        }
        .imageTech {
          background-color: color(text-primary);
          padding: 1.5rem;
          border-radius: 12px;
          margin-top: 1rem;

          .imgBox {
            height: 116px;
            width: 100%;
            border-radius: 12px;
            overflow: hidden;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .updateDiv {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            .updatePara {
              font-size: text(normal);
              font-weight: 500;
              line-height: normal;
              opacity: 0.5;
              margin-bottom: 0;
              color: #e3e3e3;
              margin-top: 1rem;
            }
          }
        }
        .nextHref {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem;
          background-color: color(text-primary);
          border-radius: 12px;
          margin-top: 1rem;
          gap: 2rem;
          cursor: pointer;

          .updatePara1 {
            font-size: text(normal);
            font-weight: 500;
            line-height: normal;
            opacity: 0.5;
            margin-bottom: 0;
            color: #e3e3e3;
          }
        }
      }
      .latestTechMore {
        @extend .latestTech;
        max-width: 40%;
      }
      .overviewTech {
        width: 100%;
        max-width: 70%;
        background-color: color(text-primary);
        padding: 3rem;

        .overviewFlex {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .overviewSubFlex {
            display: flex;
            gap: 1.5rem;
          }

          h1 {
            font-size: text(lg);
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0;
            color: #e3e3e3;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: text(normal);
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
            color: #e3e3e3;
          }
          
          .overviewBtn {
            margin-top: 2rem;
          }
        }
        .multiHrefs {
          margin-top: 2rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;

          .hrefsFlex {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border-radius: 12px;
            width: 100%;
            max-width: 350px;
            border: 1px solid rgba(0, 0, 0, 0);
            background-color: color(input-bg);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;

            &:hover {
              border: 0.125rem solid color(heading-liner);
              cursor: pointer;
            }
          }
          .hrefInnerFlex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            h1 {
              font-size: text(normal);
              font-weight: 500;
              line-height: normal;
              color: #e3e3e3;
              margin-bottom: 0;
            }
          }
          .excepPara {
            font-size: text(normal);
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
            color: #e3e3e3 !important;
            margin-top: 1rem;
          }
        }
        .multiMoreHrefs {
          @extend .multiHrefs;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .overviewTechMore {
        @extend .overviewTech;
        max-width: 60%;
      }
    }
  }
}
