@import "~/styles/partials/config";

.futureSpacing {
  padding: spacing(section-primary-padding);

  @include mobile-tablet-p{
    padding: 5rem 2rem;
  }
  
  @include mobile {
    padding: spacing(section-mob-padding);
  }

  .contentSection {
    display: flex;
    gap: 8.9375rem;

    @include mobile-tablet-p{
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .futureTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5rem;
    letter-spacing: 0.2rem;

    @include mobile-tablet-p{
      justify-content: flex-start;
      text-align: left;
      align-items: start;
      margin-bottom: 2.5rem;
    }

    @include mobile {
      justify-content: flex-start;
      align-items: start;
      margin-bottom: 2.5rem;
    }

    .text {
      margin: 0;
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      font-size: text(normal);
      font-weight: 500;
      color: color(text-primary);
      opacity: 0.6;

      @include mobile-tablet-p{
        width: 100%;
        margin-bottom: 0;
      }
    }

    .globalText {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: text(xl-larger);
      font-weight: 500;
      gap: .225rem;

      @include mobile-tablet-p {
        justify-content: flex-start;
      }

      img {
        margin: 0 1rem;
        border-radius: 7.5rem;

        @include mobile-tablet-p {
          display: none;
        }
      }

      @include mobile {
        font-size: text(xxxl);
        line-height: 2.5rem;
        margin-bottom: 0;
        justify-content: flex-start;
      }
    }

    .title {
      font-size: text(xl-larger);
      font-weight: 500;
      line-height: 5rem;
      text-align: center;
      letter-spacing: 0;

      @include mobile-tablet-p {
        text-align: left;
      }

      span {
        font-size: text(xl-larger);
        font-weight: 500;
        line-height: 5rem;
        color: color(heading-liner);
       @include textGradient;

        @include mobile {
          font-size: text(xxxl);
          line-height: 2.5rem;
        }
      }
      @include mobile {
        font-size: text(xxxl);
        line-height: 2.5rem;
      }
    }
  }
  .datingText {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    max-width: 32rem;
    color: rgba(color(text-primary), 0.8);

    @include mobile {
      font-size: text(xl);
      line-height: 1.875rem;
      padding-right: 0;
    }
  }

  .aboutText {
    font-size: text(lg);
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: text(larger);
    color: color(text-primary);
    max-width: 37rem;
    margin-top: 0.5rem;

    @include mobile {
      font-size: text(lg);
      line-height: 1.875rem;
      margin-bottom: 2.25rem;
    }
  }


  // Dark theme Style here
  &.futureSpacingDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .futureTitle {
      .text {
        color: color(primary-white);
      }
    }
    .aboutText {
      color: color(primary-white);
    }
    .datingText {
      color: rgba(color(primary-white), 0.8);
    }
  }
}
