@import "~/styles/partials/config";

.banner {
  .bannerContent {
    display: flex;
    gap: 8rem;
    padding: 5rem 7.5rem;

		@include desktop-hd {
			padding-inline: 0;
		}

    .bannerTitle {
      font-size: text(xl-larger);
      font-weight: 500;
      line-height: 5rem;
      width: 100%;

      span {
        font-size: text(xl-larger);
        background: linear-gradient(118deg, #1e8af2 11.5%, #05bed7 55.42%);
        @include textGradient;
      }
    }

    .bannerRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4rem;
      width: 100%;
      p {
        font-size: text(lg);
        line-height: 1.875rem;
        opacity: 0.8;
      }
    }
  }

  .industryImg div {
    height: 31.3rem;
    border-radius: 0.5rem;
    overflow: hidden;

   img{
    width: 100%;
    height: auto;
   }

   //dark mode style
   &.bannerDark{
      background-color: color(input-bg);
      color: color(primary-white);
   }
}
}