@import "~/styles/partials/config";

.banner {
  .bannerContent {
    padding: 10rem 7.5rem 5rem;

    @include desktop-hd {
      padding-inline: 0;
    }

    @include mobile-tablet-p{
      padding: 3rem 1.5rem;
    }

    .bannerTitle {
      font-size: text(xl-larger);
      font-weight: 500;
      line-height: 5rem;
      width: 100%;

      @include mobile-tablet-p{
        font-size: text(larger);
        line-height: 3.125rem;
      }

      span {
        font-size: text(xl-larger);
        @include textGradient;

        @include mobile-tablet-p{
          font-size: text(larger);
          line-height: 3.5rem;
        }
      }
    }

    .bannerRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4rem;
      width: 100%;

      @include mobile{
        gap: 2.25rem;
      }
      p {
        font-size: text(lg);
        line-height: 1.875rem;
        opacity: 0.8;

        @include mobile{
          font-size: text(normal);
          line-height: 1.5rem;
        }
      }
    }
  }

  .imgBox div {
    height: 31.25rem;
    overflow: hidden;
    position: relative;

    @include mobile-tablet-p{
      height: 8.188rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //dark mode style
  &.bannerDark {
    background-color: color(input-bg);
    color: color(primary-white);
  }
}
