@import "~/styles/partials/config";

.technologyStyle {
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
  background: url("/images/techstack-white.webp");
  background-repeat: space repeat;
  height: 100vh;
  background-size: 150vw;

  @include mobile {
    padding: 6rem 1.25rem;
    height: auto;
    background-size: cover;
  }

  &::before {
    content: "";
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: color(primary-orange);
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(13rem);
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: color(circle-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    filter: blur(13rem);
    opacity: 0.3;
  }

  .gridContainer {
    position: relative;
    cursor: grab;
    width: 100vw;
    height: 100vh;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    .techCardLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 7.5rem;
      border-radius: text(normal);
      background-color: rgba(238, 238, 238, 1);
      img {
        opacity: 0.4;
      }
    }
  }

  .technologyStackBox {
    padding: 2.5rem;
    background-color: color(primary-white);
    border: 0.125rem solid rgba(color(text-primary), 0.12);
    border-radius: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56rem;
    max-width: 56rem;
    z-index: 1;

    @include desktop-hd {
      width: 56rem;
      max-width: 56rem;
    }

    @include mobile-tablet-p {
      width: 100%;
      position: relative;
      transform: inherit;
      padding: 2.5rem 1rem;
      top: inherit;
      left: inherit;
    }

    .careerRow {
      text-align: center;

      .projectHighlight {
        font-size: text(normal);
        font-weight: 500;
        opacity: 0.8;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
      .techHeading {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        margin-bottom: 2rem;

        @include mobile-tablet-p {
          font-size: text(xxxl);
          line-height: 2.5rem;
          padding-right: 0;
          margin-bottom: text(lg);
        }
      }
      .techText {
        font-size: text(lg);
        font-weight: 400;
        line-height: 1.875rem;
        margin-bottom: 3.75rem;

        @include mobile {
          font-size: text(normal);
        }
      }
      .partnerCounter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-bottom: 3.75rem;

        @include mobile-tablet-p {
          gap: 1rem 0rem;
          margin-bottom: 3rem;
          flex-wrap: wrap;
        }

        .counterCard {
          width: 8.5rem;

          .counts {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2rem;
            margin-bottom: 0.375rem;
            color: color(heading-liner);
            background: linear-gradient(
              118deg,
              color(primary-blue) 11.5%,
              color(heading-liner) 55.42%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include mobile-tablet-p {
              font-size: text(xl);
            }
          }
          .countsText {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: text(xl);
            margin-bottom: 0;

            @include mobile-tablet-p {
              font-size: text(normal);
            }
          }
        }
      }
    }
  }

  &.technologyStyleDark {
    background: color(dark-bg) url("/images/techstack-dark.webp");
    background-size: 150vw;
    background-repeat: space repeat;

    @include mobile-tablet-p {
      background-size: cover;
      height: auto;
      padding: 6rem 1.25rem;
    }

    .technologyStackBox {
      background-color: color(text-primary);
      color: color(primary-white);
      border: 0.125rem solid rgba(color(primary-white), 0.12);
      .careerRow {
        .techHeading {
          opacity: 0.87;
        }
        .techText {
          opacity: 0.9;
        }
        .countsText {
          opacity: 0.9;
        }
      }
    }
  }
}
