@import "~/styles/partials/config";

.technologyStyle {
  background:url('/images/TechStack.png') -25px -50px;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  .gridContainer {
    position: relative;
    cursor: grab;
    width: 100vw;
    height: 100vh;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    .techCardLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 7.5rem;
      border-radius: text(normal);
      background-color: rgba(238, 238, 238, 1);
      img {
        opacity: 0.4;
      }
    }
  }

  .technologyStackBox {
    padding: 2.5rem;
    background-color: color(primary-white);
    border: 0.125rem solid rgba(color(text-primary), 0.12);
    border-radius: 0.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52rem;
    max-width: 52rem;
    z-index: 1;

    .careerRow {
      text-align: center;

      .ProjectHighlight {
        font-size: text(normal);
        font-weight: 500;
        opacity: 0.8;
        text-transform: uppercase;
        margin-bottom: text(normal);
        letter-spacing: 0.2rem;
        @include mobile {
          margin-bottom: 0.75rem;
        }
      }
      .techHeading {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        margin-bottom: 2rem;
        @include mobile {
          font-size: text(xxxl);
          line-height: 2.5rem;
          padding-right: 0;
          margin-bottom: text(lg);
        }
      }
      .techText {
        font-size: text(lg);
        font-weight: 400;
        line-height: 1.875rem;
        margin-bottom: 3.75rem;
      }
      .partnerCounter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-bottom: 3.75rem;

        .counterCard {
          width: 8.5rem;

          .counts {
            font-size: text(xl);
            font-weight: 500;
            line-height: 2rem;
            color: color(heading-liner);
            background: linear-gradient(
              118deg,
              color(primary-blue) 11.5%,
              color(heading-liner) 55.42%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .countsText {
            font-size: text(normal);
            font-weight: 400;
            line-height: text(xl);
          }
        }
      }
    }
  }

  &.technologyStyleDark {
    background-color: color(dark-bg);
    background:url('/images/Techstack_White.png') -25px -50px;

    .gridContainer {
      .techCardLogo {
        background-color: color(dark-icon);

        img {
          filter: invert(1);
        }
      }
    }
    .technologyStackBox {
      background-color: color(text-primary);
      color: color(primary-white);
      border: 0.14rem solid rgba(color(primary-white), 0.12);
    }
  }

}
