@import "~/styles/partials/config";

.relatedCase {
  padding: 8.75rem 8.75rem 7.5rem;
  overflow-x: hidden;
  .relatedCaseTitle {
    font-size: text(normal);
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;
    font-family: font(secondary);
    margin-bottom: 1rem;
  }
  .relatedCaseHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    margin-bottom: 5rem;
  }
}
