@import "~/styles/partials/config";

.caseStudyBanner {
   &.caseStudyDark{
      background-color: color(input-bg);
      color: color(primary-white);
   }
   .bannerTitle {
      padding: 11.25rem 7.5rem 5rem 7.5rem;
      font-weight: 500;
      line-height: 5rem;
      font-size: text(xl-larger);
      max-width: 80%;

      @include desktop-hd {
         padding-inline: 0;
      }

      span{
        font-size: text(xl-larger);
        color: color(info-blue);
      }
   }

   .bannerImg{
      height: 500px;
      width: 100%;
      position: relative;

     img{
        width: 100%;
        object-fit: cover;
        object-position: center;
     }
   }
}
