@import "~/styles/partials/config";

.serviceDetailsMain {
  padding: spacing(section-primary-padding);
  background: color(primary-background);

  @include mobile-tablet-p {
    padding: 5rem 0;
  }

  .serviceGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8.938rem;

    @include mobile-tablet-p {
      gap: 0 1rem;
      display: unset;
      grid-template-columns: repeat(1, 1fr);
    }

    .serviceHeading {
      height: 27rem;
      position: sticky;
      top: 14rem;

      @include tablet {
        margin-bottom: 3.75rem;
        position: static;
        height: 100%;
        padding: 0 1.25rem;
      }

      .serviceText {
        margin-bottom: text(normal);
        font-size: text(normal);
        font-weight: 500;
        line-height: text(xl);
        letter-spacing: 0.2rem;
        text-transform: uppercase;

        @include mobile-tablet-p {
          font-size: text(normal);
          margin-bottom: 0.75rem;
          font-weight: 400;
        }
      }
      .serviceTitle {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        margin-bottom: 3.75rem;

        @include mobile-tablet-p {
          font-size: text(xxxl);
          line-height: 2.5rem;
          font-weight: 500;
          margin-bottom: 2.25rem;
        }
      }
    }

    .desktopCards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25rem;

      @include mobile-tablet-p{
        display: none;
      }

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .serviceOption {
    .serviceBox {
      text-align: center;
      background-color: color(primary-white);
      padding: text(xxxl);
      min-height: 8.6rem;
      border-radius: text(xl);
      border: 0.125rem solid color(primary-white);
      min-width: 23.438rem;
      @include transition(0.5s);

      &:hover {
        border: 0.125rem solid color(heading-liner);
        cursor: pointer;
      }

      &:nth-child(even) {
        position: relative;
        top: 6.25rem;
        @include mobile {
          top: 0;
        }
      }

      @include mobile-tablet-p {
        min-height:auto;
        height: 18.5rem;
        padding: text(lg);
        max-width: 95%;
        min-width: auto;
      }

      .bgIcon {
        margin-bottom: 2rem;
        display: flex;
        align-items: flex-start;
      }

      .sbTitle {
        font-size: text(xl);
        font-weight: 500;
        line-height: text(xxxl);
        margin-bottom: 0.75rem;
        text-align: left;
        
        @include mobile-tablet-p{
          font-size: text(lg);
          @include truncate(2);
        }
      }
      .sbText {
        font-weight: 400;
        font-size: text(normal);
        line-height: 1.5rem;
        opacity: 0.8;
        text-align: left;

        @include mobile-tablet-p {
          font-size: text(normal);
          @include truncate(3);
        }
      }
    }
  }


  .mobileCards {
    padding-left: 1.25rem;

    @include desktop {
      display: none;
    }
  }

  .sliderArrow {
    display: flex;
    gap: 24px;
    margin-top: 3rem;

    .button {
      background-color: color(primary-blue);
      padding: 0;
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    svg {
      width: 18px;
      height: 18px;
    }

    svg > path {
      stroke: color(primary-white);
    }
  }

  .arrowDisabled {
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: 0.14rem solid rgba(color(text-primary), 0.2);
    color: color(primary-blue);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg > path {
      stroke: color(primary-black);
    }
  }


// Dark mode
  &.serviceDetailsMainDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .serviceGrid {
      .serviceHeading {
        .serviceText {
          opacity: 0.8;
        }
        .serviceTitle {
          color: rgba(color(primary-white), 0.87);
        }
      }
    }
    .serviceOption {
      .serviceBox {
        background-color: color(dark-bg);
        border: 0.14rem solid rgba(color(primary-white), 0.12);

        &:hover {
          border: 0.125rem solid color(heading-liner);
          cursor: pointer;
        }
      }
    }
  }
}
