@import "~/styles/partials/config";

.serviceDetailsMain {
  padding: spacing(section-primary-padding);
  background: #f1f1f1;

  .serviceOption {
    .serviceBox {
      text-align: center;
      background-color: color(primary-white);
      padding: text(xxxl);
      border: 0.0625rem solid color(border-foreground);
      margin-right: 1.6rem;
      min-height: 8.6rem;
      border-radius: text(xl);
      border: 0.125rem solid color(primary-blue);

      @include mobile {
        margin-right: text(xl);
        min-height: 18.5rem;
        padding: text(lg);
      }
      .bgIcon {
        margin-bottom: 2rem;
        img {
        }
      }

      .sbTitle {
        font-size: text(xl);
        font-weight: 500;
        margin-top: 1rem;
        line-height: text(xxxl);
        margin-bottom: 0.75rem;
        text-align: left;
        @include mobile {
          font-size: text(lg);
        }
      }
      .sbText {
        font-weight: 400;
        font-size: text(normal);
        line-height: text(xxxl);
        opacity: 0.8;
        text-align: left;
        @include mobile {
          font-size: text(normal);
        }
      }
    }
  }
}
