@import "~/styles/partials/config";

.philosophyVisionStyle {
  padding-inline: spacing(section-primary-padding);
  padding-bottom: spacing(p-120);

  @include mobile-tablet-p {
    padding: 0;
  }

  .flexContainer {
    max-width: 90%;

    @include mobile-tablet-p {
      padding: 0 spacing(tablet-padding) 3.75rem;
      max-width: 100%;
    }

    @include mobile {
      padding: 0 1.25rem 3.75rem;
    }
  }

  .subHeading {
    color: color(text-primary);
    text-transform: uppercase;
    opacity: opacity(light);
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;

    @include mobile-tablet-p {
      font-weight: 400;
    }
  }
  .heading {
    font-size: text(larger);
    margin-bottom: 5rem;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 0;
    }
  }

  .imageStyle {
    border: 1px solid rgba(color(primary-white), 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.25rem;
    width: 11.25rem;
    border-radius: 12px;
    margin-bottom: 40px;

    @include mobile {
      width: 100%;
      aspect-ratio: 1/2;
    }
  }

  .visionSection {
    display: flex;
    gap: 0 143px;

    @include mobile {
      padding: 20px;
      flex-direction: column;
      gap: 50px 0;
    }

    .title {
      font-size: text(xxxl);
      line-height: 3rem;

      @include mobile {
        font-size: text(xl);
      }
    }
    .description {
      font-size: text(lg);
      line-height: 1.875rem;
      opacity: 0.6;
    }
  }

  // Dark Mode
  &.philosophyVisionDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .subHeading {
      color: color(primary-white);
      opacity: opacity(dark);
    }
  }
}
