@import "~/styles/partials/config";
$scrollbar-width: 12px;
$scrollbar-track-color: #2b2b2b;
$scrollbar-thumb-color: #888;
$scrollbar-thumb-hover-color: #555;

// Mixin for custom scrollbar
@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
}

.chatboxBody {
  input,
  textarea {
    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
    }
  }
}

.chatBoxPage {
  width: 100%;
  // height: 100vh;
}
.chatboxBodyhidden {
  visibility: hidden;
}
.chatboxBody {
  @include custom-scrollbar;
  width: 26rem;
  height: 40rem;
  background-color: #111111;
  border-radius: 8px;
  z-index: 9999;
  position: fixed;
  right: 0;
  bottom: 90px;
  right: 20px;
  box-shadow: 0 6px 20px rgba(256, 256, 256, 0.05);
  overflow: hidden;
  scale: 0;
  transform-origin: right bottom;
  animation: mymove 0.3s normal forwards ease-in-out;

  @keyframes mymove {
    from {  scale: 0;}
    to {  scale: 1}
  }

  @include mobile {
    width: auto;
    bottom: 0px;
    right: 0px;
    height: 100dvh;
    z-index: 99999;
  }

  @include samsung-fold {
    z-index: 99999;
    bottom: 10px;
  }

  * {
    font-family: font(secondary);
  }

  .chatbotHeader {
    width: 100%;
    height: 4.5rem;
    color: #ffffff;
    font-weight: 600;
    background: #111111;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(128, 128, 128, 0.335);
    // border-image: linear-gradient(to right, #fd1d1d, #833ab4) 1;

    @include mobile {
      padding: 1rem 1.5rem;
    }

    .chatbotTitle {
      margin-bottom: 0;
      text-transform: capitalize;
      font-size: 1.25rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        margin: 0;
      }

      .iconStyle {
        width: 24px;
        margin-right: 10px;

        img {
          width: 24px;
        }
      }

      .actionButton {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .headbtn {
        display: flex;
        color: #fff;

        button {
          color: #fff;
          font-size: 16px;
          cursor: pointer;
        }

        .minimise {
          width: 40px;
          font-size: 40px;
          padding: 0;
          margin: 0;
          padding-bottom: 8px;
          margin-right: 20px;
        }
      }
    }

    .chatbotTxtbody {
      width: 100%;
      min-height: 416px;
      overflow-y: scroll;
      padding: 1rem;
      padding-bottom: 1.5rem;

      &::-webkit-scrollbar {
        width: 5px;
      }

      .systemMessage {
        display: inline-block;
        background-color: color(input-bg);
        border: 1px solid rgb(72, 66, 66);
        color: color(primary-white);
        max-width: 90%;
        padding: 1rem;
        border-radius: 8px 8px 8px 0px;
        margin: 10px 0 20px 10px;
        position: relative;
        animation: fadeIn 1s ease-in;

        > div {
          opacity: 0.8;
        }

        &::after {
          content: "";
          position: absolute;
          top: 96%;
          width: 0;
          height: 0;
          border: 20px solid transparent;
          border-bottom: 0;
          margin-top: -10px;
          left: 0;
          border-right-color: #ccc;
          border-left: 0;
          margin-left: -20px;
        }
      }
    }

    .chatbotSendtxt {
      width: 100%;
      max-width: 90%;
      padding-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      textarea {
        border-radius: 12px;
        position: absolute;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.12);
        color: color(primary-white);
        opacity: 50%;
        background: color(input-bg);
        line-height: 1;
        padding: 20px 15px;
        height: 60px !important;
        outline: none;
        font-family: font(primary);
        font-weight: 400;
      }
    }

    .actionButton {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .headbtn {
      display: flex;
      color: #fff;
      button {
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }
      .minimise {
        width: 40px;
        font-size: 40px;
        padding: 0;
        margin: 0;
        padding-bottom: 8px;
        margin-right: 20px;
      }
    }
  }

  .chatbotTxtbody {
    width: 100%;
    min-height: 416px;
    overflow-y: scroll;
    padding: 1rem;

    &::-webkit-scrollbar {
      width: 5px;
    }

    .systemMessage {
      display: inline-block;
      background-color: color(input-bg);
      border: 1px solid rgb(72, 66, 66);
      color: color(primary-white);
      max-width: 90%;
      padding: 1rem;
      border-radius: 8px 8px 8px 0px;
      margin: 10px 0 20px 10px;
      position: relative;
      animation: fadeIn 1s ease-in;

      > div {
        opacity: 0.8;
      }
    }
  }

  .chatbotSendtxt {
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 60px;
    margin-inline: auto;

    @include mobile {
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
    }

    textarea {
      border-radius: 10px;
      position: absolute;
      width: 100%;
      border: 1px solid rgba(67, 57, 57, 0.721);
      color: color(primary-white);
      background: color(input-bg);
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 50px !important;
      padding-block: 16px;
    }

    button {
      border-radius: 10px;
      position: absolute;
      right: 12px;
      width: 34px;
      height: 34px;
      top: 11px;
      background-color: color(info-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;

      svg path {
        stroke: white;
      }
    }
  }
}

.choosebtns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.25rem;

  button {
    width: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    color: color(primary-white);
    padding: 20px;
    text-align: left;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    @include transition(0.2s);

    &:hover {
      border-color: color(info-blue);
      opacity: 1;
    }
  }
}

.chooseBtns2 {
  display: flex;

  button {
    width: 130px;
    border: 1px solid #d6d4d4;
    color: color(primary-white);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 12px 4px 0 4px;
    font-size: 14px;
  }
}

.userbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .usersMessage {
    display: inline-block;
    background-color: #008bf0;
    border: 2px solid #008bf0;
    color: color(primary-white);
    max-width: 75%;
    padding: 1rem;
    border-radius: 8px 8px 0px 8px;
    margin: 10px 10px 20px 0;
    display: flex;
    flex-direction: column;
  }
}
.messageTime {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.sendbtn {
  cursor: pointer;
}
.chatOpenCont {
  background-color: #000;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color(Pervenche-blue);
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  position: fixed;
  z-index: 9999;

  @include mobile {
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;

    svg {
      width: 20px;
    }
  }

  svg path {
    stroke: white;
  }

}
.emailinput {
  width: 100%;
  padding: 6px 20px;
  border-radius: 5px;
  border: 1px solid rgb(97, 90, 90);
  margin-top: 0px;
  color: white;
  padding-left: 5px;
}
.sourcesbox {
  margin-top: 20px;
  display: flex;
  margin-bottom: 8px;
}
.sourcelist {
  font-style: italic;
  font-size: 13px;
  color: #008bf0;
}
.choosebtn {
  cursor: pointer;
}
.sourcescount {
  font-size: 12px;
  font-weight: 100;
  margin-right: 5px;
  margin-bottom: 2px;
}
.sourcecont {
  display: flex;
  padding: 0;
}

.loaderhidden {
  display: none;
}
.loader {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin-left: 5px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #ffffff;
}
.careerslink {
  color: #008bf0;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #fff, -20px 0 #fff2;
    background: #fff;
  }
  33% {
    box-shadow: 20px 0 #fff, -20px 0 #fff2;
    background: #fff2;
  }
  66% {
    box-shadow: 20px 0 #fff2, -20px 0 #fff;
    background: #fff2;
  }
  100% {
    box-shadow: 20px 0 #fff2, -20px 0 #fff;
    background: #fff;
  }
}
.userMessageText{
  white-space-collapse: preserve;
  text-wrap: wrap;
}

.loadervisible {
  display: block;
  margin-left: 15px;
}
