@import "~/styles/partials/config";

.landingBannerStyle {
  padding-inline: spacing(p-120);
  padding-block: 11.25rem 8.75rem;

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  &.landingBannerDark {
    background-color: color(input-bg);

    .title {
      color: color(primary-white);
    }

    .leadText {
      color: color(primary-white);
      opacity: 0.8;
    }
  }

  .flexContainer {
    display: flex;
    gap: 8.938rem;

    @include mobile-tablet-p {
      flex-direction: column;
      gap: 0;
    }
  }

  .contentSec {
    max-width: 373px;
    padding-top: 20px;
  }

  .title {
    font-size: text(xl-larger);
    font-weight: 500;
    line-height: 1.2;

    @include mobile-tablet-p {
      font-size: 2.75rem;
      line-height: 3.5rem;
      margin-bottom: text(xl);
      word-break: break-word;

      br {
        display: none;
      }
    }

    span {
      font-size: text(xl-larger);
      font-weight: 500;
      color: color(heading-liner);
      @include textGradient;

      @include mobile-tablet-p {
        font-size: 2.75rem;
        line-height: 3.5rem;
      }
    }
  }

  .leadText {
    font-size: text(lg);
    color: rgba(color(text-primary), 0.8);
    @include mobile-tablet-p {
      font-size: text(normal);
      font-weight: 400;
      max-width: 100%;
      line-height: text(xl);
    }
  }

  .flexCol {
    display: flex;
    justify-content: flex-end;
  }
  .headerBtn {
    margin-top: 4rem;
    @include mobile-tablet-p {
      margin-top: 1.875rem;
    }
  }
}
