@import "~/styles/partials/config";

.coeSupport {
   padding: spacing(section-primary-padding);
   padding-bottom: 3.75rem;

   @include tablet {
      padding: 3.75rem spacing(tablet-padding);
   }

   @include mobile {
      padding: 3.75rem spacing(mobile-padding);
   }

   .headSec {
      max-width: 49.1875rem;
   }

   .coeSupportTitle {
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
      margin-bottom: 1rem;
   }
   .coeSupportHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 3.375rem;

      @include mobile-tablet-p {
         font-size: text(xxxl);
         line-height: 2.5rem;
      }
   }

   .coeSupportCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
      padding: 5rem 0;

      @include mobile-tablet-p {
         grid-template-columns: repeat(2, 1fr);
         padding-top: 3.75rem;
         padding-bottom: 0;
      }

      @include mobile {
         grid-template-columns: repeat(1, 1fr);
         gap: 1.25rem;
      }
   }

   &.coeSupportDark {
      background-color: color(input-bg);
      color: color(primary-white);
   }
}
