@import "~/styles/partials/config";

.privacyPolicyData {
  padding-inline: spacing(p-120);
  padding-block: 5rem 5rem;
  background-color: color(bg-soft);
  &.privacyPolicyDataBannerDark {
    background-color: color(dark-bg);
    color: color(primary-white);
    .policyDivide {
      .customerList {
        .list {
          color: color(primary-white);
          opacity: 0.8;
        }
      }
      .title {
        opacity: 0.8;
      }

      .leadText {
        color: color(primary-white);
        opacity: 0.8;
      }
    }
  }

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }
  .policyDivide {
    display: grid;
    grid-template-columns: auto 60%;
    margin-bottom: 3.75rem;
    gap: 9rem;

    @include mobile-tablet-p {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      margin-bottom: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .customerList {
      padding-left: 0;

      .list {
        list-style: square;
        font-size: text(lg);
        line-height: 1.875rem;
        font-weight: 400;
        color: rgba(color(text-primary), 0.8);
        margin-left: 3rem;
        margin-bottom: 0;

        @include mobile {
          max-width: 100%;
        }
      }
    }
    .title {
      font-size: text(normal);
      font-weight: 500;
      line-height: text(xl);
      letter-spacing: 0.2rem;
      text-transform: uppercase;

      @include mobile {
        font-size: text(normal);
        line-height: 2.5rem;
      }
    }

    .leadText {
      font-size: text(lg);
      line-height: 1.875rem;
      font-weight: 400;
      color: rgba(color(text-primary), 0.8);
      margin-bottom: 0;

      @include mobile {
        max-width: 100%;
      }
    }
    .textSpace {
      margin-bottom: text(normal);
    }
  }
}
