@import "~/styles/partials/config";

.testimonialsStyle {
  padding: spacing(section-primary-padding);
  padding-right: 0;
  padding-bottom: 0;
  background-color: color(primary-white);
  overflow-x: hidden;

  &.testimonialsStyleDark {
    background-color: color(dark-gray);
    color: color(primary-white);

    .infoSection {
      .testimonialsLeft {
        .projectHighlight {
          color: color(primary-white);
          opacity: 0.8;
        }
      }
    }

    .testimonialCardBox {
      background-color: color(text-primary);
    }
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .testimonialsLeft {
    .projectHighlight {
      font-size: text(normal);
      font-weight: 700;
      margin-bottom: text(lg);
      opacity: 0.8;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: color(text-primary);
      @include mobile {
        margin-bottom: 0.75rem;
      }
    }
    .testimonialsHeading {
      h3 {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        margin-bottom: 2rem;
      }
    }

    .testimonialsText {
      font-size: text(lg);
      font-weight: 400;
      opacity: 0.6;
      line-height: 1.875rem;

      @include mobile {
        font-size: text(normal);
        line-height: text(xl);
      }
    }
  }

  .testimonialCardBox {
    padding: 2.5rem;
    background-color: color(primary-background);
    min-width: 29.875rem;

    .commaImg {
      margin-bottom: text(lg);
    }
    .customerText {
      font-size: text(xl);
      font-weight: 500;
      line-height: 2.25rem;
      margin-bottom: 2.5rem;
      @include mobile {
        font-size: text(xl);
        margin-bottom: text(normal);
      }
    }
    .customerProfile {
      .customerImg {
        margin-bottom: text(xl);
        img {
          border-radius: 16.25rem;
        }
      }
      .customerName {
        font-size: text(xl);
        font-weight: 500;
        line-height: 2rem;
        color: color(primary-blue);
        font-family: font(primary);
        margin-bottom: 0;
      }
      .customerRole {
        font-size: text(normal);
        font-weight: 400;
        line-height: text(xl);
        opacity: 0.8;
        margin-bottom: 0;
      }
    }
  }

  .sliderController {
    display: flex;
    gap: 1.5rem;

    button {
      width: 3.75rem;
      height: 3.75rem;
    }
  }
}
