@import "~/styles/partials/config";

@mixin landingBannerStyle() {
  .contentSection {
    padding-block: 10rem 4.75rem;

    @include mobile-tablet-p {
      padding: spacing(section-mob-padding);
      padding-bottom: 1.25rem;
    }
  }
  .title {
    font-size: text(xl-larger);
    font-weight: 500;
    margin-bottom: 0;
    line-height: 5rem;

    @include mobile-tablet-p {
      font-size: 2.75rem;
      line-height: 3.125rem;
      margin-bottom: text(xl);
      word-break: break-word;
    }

    span {
      font-size: text(xl-larger);
      font-weight: 500;
      @include textGradient;

      @include mobile-tablet-p {
        font-size: 2.75rem;
        line-height: 3.5rem;
      }
    }
  }
  .contentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.75rem;
    align-self: stretch;
  }

  .leadText {
    font-size: text(lg);
    color: rgba(color(text-primary), 0.8);
    line-height: 1.875rem;
    opacity: 0.8;
    margin-bottom: 0;

    @include mobile-tablet-p {
      font-size: text(normal);
      line-height: 1.5rem;
      max-width: 100%;
    }
  }

  .flexCol {
    display: flex;
    justify-content: flex-end;
  }
}

.landingBannerStyle {
  @include landingBannerStyle();
}

//light Mode

.darkMode {
  @include landingBannerStyle();
  background-color: color(input-bg);

  .title {
    color: color(primary-white);
  }
  .leadText {
    color: rgba(color(primary-white), 0.8);
  }
}
