@import "~/styles/partials/config";

.projectsStyle {
  padding: spacing(section-primary-padding);
  background: color(dark-gray);

  @include mobile {
    padding: spacing(section-mob-padding);
  }

  &.projectsStyleDark {
    background-color: color(primary-white);
    color: color(text-primary);

    .projectHighlight {
      color: color(text-primary);
      opacity: 0.8;
    }
    .datingText {
      color: color(text-primary);
    }
    .aboutText {
      color: color(text-primary);
      opacity: 0.8;
    }
    .cardContentStyle {
      .projectBrand {
        color: color(text-primary);
      }
      .brandFromText {
        color: color(text-primary);
        opacity: 0.8;
      }
      .projectButton {
        button {
          color: color(text-primary);
          border: 0.14rem solid rgba(color(text-primary), 0.17);
        }
      }
    }
  }

  .projectHighlight {
    font-size: text(normal);
    font-weight: 700;
    margin-bottom: text(lg);
    opacity: 0.6;
    color: color(primary-white);
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    @include mobile {
      margin-bottom: 0.75rem;
    }
  }

  .datingText {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    max-width: 80%;

    color: color(primary-white);
    @include mobile {
      font-size: text(xxxl);
      line-height: 2.5rem;
      padding-right: 0;
      margin-bottom: text(lg);
    }
  }

  .aboutText {
    font-size: text(lg);
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: text(larger);
    color: color(primary-white);
    line-height: 1.875rem;
    @include mobile {
      font-size: text(normal);
      line-height: text(lg);
      margin-bottom: 2.25rem;
    }
  }

  .projectImg {
    padding: 5rem 0 2.5rem 0;
    @include mobile {
      padding: 3.75rem 0 2.75rem 0;
    }
    img {
      width: 100%;
      height: auto;
      @include mobile {
        height: 11.778rem;
      }
    }
  }

  .projectBrand {
    font-size: 2rem;
    font-weight: 500;
    color: color(primary-white);
    margin-bottom: text(lg);
    @include mobile {
      font-size: text(xl);
      margin-bottom: text(lg);
    }
  }
  .brandFromText {
    font-size: text(normal);
    font-weight: 400;
    color: color(primary-white);
    opacity: 0.8;
    line-height: 1.5rem;
    @include mobile {
      font-size: text(lg);
      margin-bottom: text(xxxl);
    }
  }
  .projectButton {
    button {
      margin: 0 0.75rem 0.75rem 0;
      color: color(primary-white);
      font-weight: 400;
      border: 0.14rem solid color(primary-white);

      &:hover {
        background-color: color(primary-white);
        color: color(text-primary);
      }
    }
  }

  .cardContentStyle {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    @include mobile {
      flex-direction: column;
      gap: 1.25rem;
    }
    .brandFromText {
      max-width: 40%;
      @include mobile {
        max-width: 100%;
      }
    }
  }
}
