@import "~/styles/partials/config";

.projectsStyle {
  padding: spacing(section-primary-padding);
  background: color(dark-gray);
  @include mobile {
    padding: spacing(section-mob-padding);
  }
  .ProjectHighlight {
    font-size: text(normal);
    font-weight: 400;
    margin-bottom: text(lg);
    opacity: 0.6;
    color: color(primary-white);
    text-transform: uppercase;
    @include mobile {
      margin-bottom: 0.75rem;
    }
  }
  .datingText {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    padding-right: 18.5rem;
    color: color(primary-white);
    font-family: font(primary);
    @include mobile {
      font-size: text(xxxl);
      line-height: 2.5rem;
      padding-right: 0;
      margin-bottom: text(lg);
    }
  }

  .aboutText {
    font-size: text(lg);
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: text(larger);
    color: color(primary-white);
    line-height: 1.875rem;
    @include mobile {
      font-size: text(normal);
      line-height: text(lg);
      margin-bottom: 2.25rem;
    }
  }

  .projectImg {
    padding: 5rem 0 2.5rem 0;
    @include mobile {
      padding: 3.75rem 0 2.75rem 0;
    }
    img {
      width: 100%;
      height: auto;
      @include mobile {
        height: 11.778rem;
      }
    }
  }

  .projectBrand {
    font-size: 2rem;
    font-weight: 500;
    color: color(primary-white);
    font-family: font(primary);
    margin-bottom: text(lg);
    @include mobile {
      font-size: text(xl);
      margin-bottom: text(lg);
    }
  }
  .brandFromText {
    font-size: text(normal);
    font-weight: 400;
    color: color(primary-white);
    opacity: 0.8;
    @include mobile {
      font-size: text(lg);
      margin-bottom: text(xxxl);
    }
  }
  .ProjectBtn {
    button {
      margin: 0 0.75rem 0.75rem 0;
      border: 0.063rem solid rgba(255, 255, 255, 0.4);
      color: color(primary-white);

      &:hover {
        background-color: color(primary-white);
        color: color(primary-black);
      }
    }
  }
}
