@import "~/styles/partials/config";

.projectsStyle {
  padding: spacing(section-primary-padding);
  padding-bottom: 6rem;
  background: color(dark-gray);

  @include tablet {
    padding: spacing(section-mob-padding);
  }

  .projectHighlight {
    font-size: text(normal);
    font-weight: 500;
    margin-bottom: text(lg);
    opacity: 0.6;
    color: color(primary-white);
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    @include mobile {
      margin-bottom: 0.75rem;
    }
  }

  .projectBtn {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: flex-end;

    .badgeStyle {
      display: flex;
      padding-inline: 0.75rem;
      align-items: center;
      justify-content: center;
      height: 35px;
      border-radius: 0.5rem;
      border: 1px solid rgba(color(primary-white), 0.4);
      color: color(primary-white);
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: color(primary-white);
        color: color(text-primary);
      }
    }
  }

  .datingText {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    max-width: 80%;

    color: color(primary-white);
    @include mobile {
      font-size: text(xxxl);
      line-height: 2.5rem;
      padding-right: 0;
      margin-bottom: text(lg);
    }
  }

  .aboutText {
    font-size: text(lg);
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: text(larger);
    color: color(primary-white);
    line-height: 1.875rem;
    @include mobile {
      font-size: text(normal);
      line-height: text(lg);
      margin-bottom: 2.25rem;
    }
  }

  .cardSec {
    background: color(dark-gray);
    top: 7rem;
    position: sticky;
    margin-bottom: 30px;
    border-radius: 12px;
    overflow: hidden;
  }

  .projectImg div {
    height: 65dvh;
    width: 100%;
    margin-bottom: 2.5rem;
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .projectBrand {
    font-size: 2rem;
    font-weight: 500;
    color: color(primary-white);
    margin-bottom: text(lg);

    &:nth-of-type(1) {
      gap: 8px;
      line-height: 40px;

      span {
        margin-right: 3px;
        font-size: 32px;
      }

      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }

    @include mobile {
      font-size: text(xl);
      margin-bottom: text(lg);
    }
  }

  .brandFromText {
    font-size: text(normal);
    color: rgba(color(primary-white), 0.8);
    line-height: 1.5rem;
    margin: 0px;

    &:nth-of-type(1) {
      font-size: text(normal);
      gap: 8px;
      line-height: 1.3;

      span {
        margin-right: 3px;
      }

      .mask {
        position: relative;

        overflow: hidden;

        display: inline-flex;
      }
    }

    &:nth-of-type(2) {
      font-size: 18px;

      width: 80%;

      font-weight: 300;
    }
    @include mobile {
      font-size: text(lg);
      margin-bottom: text(xxxl);
    }
  }
  .cardContentStyle {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    
    @include mobile {
      flex-direction: column;
      gap: 1.25rem;
    }
    .brandFromText {
      max-width: 40%;

      @include mobile {
        max-width: 100%;
      }
    }
  }

  .rowSection {
    margin-bottom: 5rem;
  }

  &.projectsStyleDark {
    background-color: color(primary-white);
    color: color(text-primary);

    .projectHighlight {
      color: color(text-primary);
      opacity: 0.8;
    }
    .datingText {
      color: color(text-primary);
    }
    .aboutText {
      color: color(text-primary);
      opacity: 0.8;
    }
    .cardSec {
      background-color: color(primary-white);
    }
    .cardContentStyle {
      .projectBrand {
        color: color(text-primary);
      }
      .brandFromText {
        color: rgba(color(text-primary), 0.8);
      }
      .projectButton {
        button {
          color: color(text-primary);
          border: 0.14rem solid rgba(color(text-primary), 0.17);
        }
      }
    }

    .badgeStyle {
      color: color(text-primary);
      border-color: rgba(color(text-primary), 0.17);
    }
  }
}
