@import "~/styles/partials/config";

.industry {
  padding: spacing(section-primary-padding);
  padding-bottom: 0;

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
    padding-bottom: 0;
  }

  .industryLeft {
    min-width: 16.875rem;

    h6 {
      font-size: text(normal);
      font-weight: 400;
      line-height: 1.5rem;
      opacity: 0.6;
      margin-bottom: 0.2rem;
    }
    
    h5 {
      font-weight: 500;
      line-height: 2rem;
      font-size: text(xl);

      @include mobile-tablet-p {
      }
    }

    .serviceBtn {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      @include mobile-tablet-p {
        margin-top: .625rem;
      }

      button {
        height: 35px;
        padding: 0 0.75rem;
        border-radius: 0.75rem;
        color: color(text-primary);
        font-size: text(normal);
        font-weight: 400;
        line-height: 1.875rem;
        border: 0.14rem solid rgba(color(text-primary), 0.4);
        @include transition(0.5s);

        &:hover {
          background-color: color(primary-white);
          color: color(text-primary);
        }
      }
    }
  }

  .industryHeading {
    font-weight: 500;
    line-height: 3.375rem;
    opacity: 0.8;
    font-size: text(larger);
    color: color(text-primary);
    margin-bottom: 2rem;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: text(xl);
    }
  }

  .industryText {
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
    opacity: 0.6;

    @include mobile-tablet-p {
      font-size: text(normal);
      line-height: text(xl);
      margin-bottom: 0;
    }
  }

  .industryImg {
    padding: 5rem 0 0;
    position: relative;
    margin-bottom: 5rem;

    @include mobile-tablet-p {
      padding: 3.75rem 0 0 0;
    }

    &::before {
      width: 100%;
      height: 30%;
      background-color: color(bg-soft);
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      border-radius: 10px;
    }

    div {
      position: relative;

      img {
        width: 85%;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  .contentSection {
    display: flex;
    gap: 3.75rem 8.875rem;

    @include mobile-tablet-p {
      flex-direction: column-reverse;
    }
  }

  // Dark Theme Here
  &.industryDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .industryHeading {
      color: color(primary-white);
    }

    .industryImg {
      &::before {
        background-color: color(text-primary);
      }
    }

    .industryLeft {
      .serviceBtn {
        button {
          color: color(primary-white);
          border-color: rgba(255, 255, 255, 0.4);

          &:hover {
            background-color: color(primary-white);
            color: color(text-primary);
          }
        }
      }
    }

    .industryText {
      color: color(primary-white);
    }
  }
}
