@import "~/styles/partials/config";

.industry {
  padding: spacing(section-primary-padding);
  padding-bottom: 0;

  .industryLeft {
    h6 {
      font-size: text(normal);
      font-weight: 400;
      line-height: 1.5rem;
      opacity: 0.6;
      margin-bottom: 0.2rem;
    }
    h5 {
      font-weight: 500;
      line-height: 2rem;
      font-size: text(xl);
    }

    .serviceBtn {
      display: flex;
			flex-wrap: wrap;
      gap: 1rem;
      button {
        height: 35px;
        padding: 0 0.75rem;
        border-radius: 0.75rem;
        color: color(text-primary);
        font-size: text(normal);
        font-weight: 400;
        line-height: 1.875rem;
        border: 0.14rem solid rgba(color(text-primary), 0.4);

        &:hover {
          background-color: color(primary-white);
          color: color(text-primary);
        }
      }
    }
  }

  .industryHeading {
    font-weight: 500;
    line-height: 3.375rem;
    opacity: 0.8;
    font-size: text(larger);
    color: color(text-primary);
    margin-bottom: 2rem;
  }

  .industryText {
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
    opacity: 0.6;
  }

  .industryImg {
    padding: 5rem 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  // Dark Theme Here
  &.industryDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .industryHeading {
      color: color(primary-white);
    }

    .industryLeft {
      .serviceBtn {
        button {
          color: color(primary-white);
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}
