@import "~/styles/partials/config";

.innovationSpacing {
  padding: spacing(section-primary-padding);
  @include mobile {
    padding: spacing(section-mob-padding);
  }
  .innovationMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5rem;

    @include mobile {
      justify-content: flex-start;
      align-items: start;
      margin-bottom: 3.5rem;
    }
    .text {
      margin: 0;
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      font-size: text(normal);
      font-weight: 700;
      color: color(text-primary);
      opacity: 0.6;
      letter-spacing: 0.2rem;
      @include mobile {
        margin-bottom: 0.75rem;
        font-weight: 400;
      }
    }
    .title {
      font-size: 2.75rem;
      font-weight: 500;
      line-height: 3.375rem;
      text-align: center;
      max-width: 55%;
      @include mobile {
        text-align: left;
        font-size: 2rem;
        line-height: 2.5rem;
        min-width: 100%;
      }
    }
  }
  .innovationCardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 2.7rem;
    }
    .innovationBox {
      text-align: center;
      background: linear-gradient(
        0deg,
        color(bg-soft) 3.48%,
        rgba(241, 241, 241, 0) 121.7%
      );

      padding: 3.75rem 0 1.875rem 0;
      border-radius: text(xl);
      border: 0.125rem solid rgba(17, 17, 17, 0.12);

      &:hover {
        border: 0.125rem solid color(heading-liner);
        cursor: pointer;
      }
      @include mobile {
        width: 100%;
      }

      .bgImage {
        width: 100%;
        img {
          object-fit: contain;
          height: 100%;
          mix-blend-mode: luminosity;
          width: 100%;
        }
      }
      .textCardSpace {
        margin-bottom: 2.75rem;
        padding: 0 0.625rem;
        .sbTitle {
          font-size: 2.75rem;
          font-weight: 500;
          line-height: text(xxxl);
          margin-bottom: 0;
          text-align: center;
          color: color(primary-blue);
          @include mobile {
            font-size: 2rem;
            color: color(text-primary);
          }
        }
        .sbSubtitle {
          font-weight: 700;
          font-size: text(normal);
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          opacity: 0.6;
          text-align: center;
          @include mobile {
            font-size: text(normal);
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}
