@import "~/styles/partials/config";

@mixin innovationSpacingStyle {
  padding: spacing(section-primary-padding);

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }
  .innovationMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5rem;

    @include mobile-tablet-p {
      justify-content: flex-start;
      align-items: start;
      margin-bottom: 3.75rem;
    }
    .text {
      margin: 0;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: text(normal);
      font-weight: 500;
      color: color(text-primary);
      opacity: 0.6;
      letter-spacing: 0.2rem;

      @include mobile-tablet-p {
        margin-bottom: 0.75rem;
        font-weight: 400;
      }
    }
    .title {
      font-size: 2.75rem;
      font-weight: 500;
      line-height: 3.375rem;
      text-align: center;
      max-width: 55%;
      @include mobile-tablet-p {
        text-align: left;
        font-size: 2rem;
        line-height: 2.5rem;
        min-width: 100%;
        margin-bottom: 0;
      }
    }
  }

  .innovationCardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include desktop-hd {
      grid-template-columns: repeat(3, 1fr);
    }
   
    @include mobile-tablet-p {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.7rem;
    }


    .innovationBox {
      text-align: center;
      background: linear-gradient(
        0deg,
        color(bg-soft) 3.48%,
        rgba(241, 241, 241, 0) 121.7%
      );
      padding: 4rem 0;
      border-radius: text(xl);
      border: 0.125rem solid rgba(color(text-primary), 0.12);
      @include transition(0.5s);

      @include mobile-tablet-p {
        width: 100%;
      }

      .bgImage div {
        width: 100%;
        height: 180px;
        @include transition(0.5s);

        img {
          object-fit: contain;
          height: 100%;
          mix-blend-mode: luminosity;
          width: 100%;
          @include transition(0.5s)
        }
      }

      &:hover {
        border: 0.125rem solid color(heading-liner);

        .bgImage div {
          img {
            mix-blend-mode: normal;
          }
        }
      }

      .textCardSpace {
        margin-bottom: 2.75rem;
        padding: 0 0.625rem;

        .sbTitle {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: text(xxxl);
          margin-bottom: 0;
          text-align: center;
          color: color(primary-blue);
          
          @include mobile-tablet-p {
            font-size: 2rem;
            color: color(text-primary);
          }
        }
        .sbSubtitle {
          font-weight: 500;
          font-size: text(normal);
          color: rgba(color(text-primary), 0.8);
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          opacity: 0.6;
          text-align: center;
          @include mobile-tablet-p {
            font-size: text(normal);
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}
.innovationSpacing {
  @include innovationSpacingStyle();
}

//dark Mode
.darkMode {
  @include innovationSpacingStyle();
  background-color: color(input-bg);

  .innovationMain {
    .text {
      color: color(primary-white);
    }
    .title {
      color: color(primary-white);
    }
  }
  .innovationCardsGrid {
    .innovationBox {
      background: linear-gradient(
        0deg,
        #111 3.48%,
        rgba(color(text-primary), 0) 121.7%
      );
      border: 0.125rem solid rgba(255, 255, 255, 0.12);

      .textCardSpace {
        .sbTitle {
          color: color(info-blue);
          @include mobile;
        }
        .sbSubtitle {
          color: rgba(color(primary-white), 0.6);
        }
      }
    }
  }
}
