@import "~/styles/partials/config";

.testimonialsStyle {
  padding: 8.75rem 0 0 7.5rem;
  background-color: color(primary-white);
  overflow: hidden;
  position: relative;

  @include tablet {
    padding:3.75rem spacing(tablet-padding) 1rem;
  }

  @include mobile {
    padding:3.75rem spacing(mobile-padding) 1rem;
  }

  @include desktop-hd {
    padding-inline: 0;
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .testimonialsLeft {
    .projectHighlight {
      font-size: text(normal);
      font-weight: 500;
      opacity: 0.8;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: color(text-primary);
    }
    .testimonialsHeading {
      h3 {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        margin-bottom: 2rem;
        @include mobile-tablet-p {
          margin-bottom: text(lg);
          font-size: 2rem;
          line-height: 2.5rem;
          // margin-bottom: 3.75rem;
        }
      }
    }

    .testimonialsText {
      font-size: text(lg);
      font-weight: 400;
      opacity: 0.6;
      line-height: 1.875rem;

      @include mobile-tablet-p {
        font-size: text(normal);
        line-height: text(xl);
        margin: 0;
      }
    }
  }

  .testimonialCardBox {
    padding: 2.5rem;
    background-color: color(primary-background);
    min-height: 41.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 0.75rem;
    @include transition(0.5s);

    @include mobile-tablet-p {
      padding: text(lg);
      min-height: 28rem;
    }
    
    @include tablet {
      min-height: 32rem;
    }

    .commaImg {
      margin-bottom: 1.25rem;
    }
    .customerText {
      font-size: text(xl);
      font-weight: 400;
      line-height: 2.25rem;
      margin-bottom: 2.5rem;
      @include truncate(9);
      color: rgba(color(text-primary), 0.9);

      @include mobile-tablet-p {
        font-size: text(normal);
        line-height: text(xl);
        margin-bottom: 2.5rem;
      }
    }
    .customerProfile {
      .customerImg {
        margin-bottom: text(normal);
        img {
          border-radius: 16.25rem;
        }
      }
      .customerName {
        font-size: text(xl);
        font-weight: 500;
        line-height: 2rem;
        color: color(primary-blue);
        font-family: font(primary);
        margin-bottom: 0;
      }
      .customerRole {
        font-size: text(normal);
        font-weight: 400;
        line-height: text(xl);
        opacity: 0.8;
        margin-bottom: 0;
      }
    }
  }

  .sliderController {
    display: flex;
    gap: 1.5rem;

    button {
      width: 3.75rem;
      height: 3.75rem;

      @include mobile-tablet-p {
        width: 2.75rem;
        height: 2.75rem;
      }
    }
  }

  .mobileSlider {
    margin: 2.5rem 0;

    @include tablet {
      margin: 2.5rem -4rem 4rem 0px;
    }

    @include mobile {
      margin: 2.5rem 0rem 4rem 0px;
    }

    @include desktop {
      display: none;
    }
  }

  .testimonialsDesktopSlider {
    position: relative;

    @include desktop-hd {
      padding-left: 5vw;
    }

    @include mobile-tablet-p {
      display: none;
    }
  }

  // Dark Mode
  &.testimonialsStyleDark {
    background-color: color(dark-gray);
    color: color(primary-white);

    .infoSection {
      .testimonialsLeft {
        .projectHighlight {
          color: color(primary-white);
          opacity: 0.8;
        }
      }
    }

    .testimonialCardBox {
      background-color: color(text-primary);

      .customerText {
        color: rgba(color(primary-white), 0.9);
      }
    }

    .customerProfile {
      .customerName {
        color: color(info-blue);
      }
    }
  }
}
