/* .chatboxpage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6d4d4;
} */

/* .chatboxBody {
  width: 30rem;
  height: 50rem;
  background-color: #ffffff;
  border: 1px solid rgba(199, 196, 196, 0.721);
  border-radius: 20px;
  position: relative;
  z-index: 100000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
} */

/* .chatbot-header {
  width: 100%;
  height: 65px;
  color: #ffffff;
  font-weight: 600;
  background: #000;
  font-size: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
}
.action-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chatbot-header p {
  margin-left: 20px;
} */

/* .chatbot-txtbody {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
} */
.chatbot-txtbody::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}
/* .system-message {
  display: inline-block;
  background-color: rgb(114, 114, 114);
  border: 1px solid gray;
  color: #191b1f;
  max-width: 76%;
  padding: 9px 12px;
  border-radius: 8px 8px 8px 0px;
  margin: 10px 0 20px 10px;
  display: flex;
  flex-direction: column;
} */
/* .userbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.users-message {
  display: inline-block;
  background-color: #620eff1c;
  border: 1px solid #eaeaea;
  color: #191b1f;
  max-width: 75%;
  padding: 9px 12px;
  border-radius: 8px 8px 0px 8px;
  margin: 10px 10px 20px 0;
  display: flex;
  flex-direction: column;
}
.message-time {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
} */

/* .chatbot-sendtxt {
  width: 100%;
  height: 120px;
  border-top: 1px solid rgba(199, 196, 196, 0.721);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot-sendtxt input {
  border-radius: 20px;
  padding: 10px 20px;
  width: 80%;
  border: 1px solid rgba(199, 196, 196, 0.721);
  color: grey;
}

.chatbot-sendtxt button {
  background: #000;
  border-radius: 50%;
  margin-left: 10px;
} */
.chatbot-sendtxt button .sentbtn {
  color: #ffffff;
  font-size: 26px;
  margin: 8px;
}

/* .choosebtns {
  display: flex;
}
.choosebtns button {
  width: 120px;
  border: 1px solid #d6d4d4;
  color: #191b1f;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin: 18px 3px 0 2px;
} */

/* .choosebtns2 {
  display: flex;
}
.choosebtns2 button {
  width: 130px;
  border: 1px solid #d6d4d4;
  color: #191b1f;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 12px 4px 0 4px;
  font-size: 14px;
} */

.select-country {
  padding: 7px 10px;
  border-radius: 20px;
  text-align: center;
  margin-top: 12px;
  border: 1px solid rgba(199, 196, 196, 0.721);
}

.btnstudyradio {
  display: flex;
  flex-direction: column;
  display: none;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 13px;
}
.btnstudyradioshow {
  display: block;
}

/* HTML: <div class="loader"></div> */
.loaderbox {
  margin-left: 15px;
  display: none;
}
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin-left: 15px;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}

.loadervisible {
  display: block;
}

.welcome-message {
  margin-bottom: 20px;
}
