@import "~/styles/partials/config";

.wrapperStyle {
  position: relative;
  // z-index: 9;

  &.inputErrorStyle {
    border-color: color(error);
  }

  &.darkThemeStyle {

    .labelCustom {
      color: rgba(color(primary-white), 0.5);
    }

    .customLabel {
      color: color(primary-white) !important;
    }
  }
}
