@import "~/styles/partials/config";

.dropdownContainerStyle {
  .selectMain {
    border-radius: 0.75rem;
  
    &:focus {
      box-shadow: none;
      border: 0.14rem solid rgba(17, 17, 17, 0.12);
    }

  }

  .customLabel {
    font-size: 0.875rem;
    opacity: 0.6;
    background: none;
  }

  // select {
  //   font-weight: 500;
  // }

  &.dropdownContainerDark{
     background-color: color(input-bg);
  }
}
