@import "~/styles/partials/config";

.primaryModal {
  background-color: color(dark-gray);
  color: color(primary-white);
  width: 70vw;
  height: 70.4vh;
  border: 0.14rem solid color(heading-liner);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
  animation: 0.3s popup-scale ease-in-out;
  padding: 0;
  box-shadow: 0 5px 32px rgba(color(primary-black), 0.2);

  @keyframes popup-scale {
    from {
      scale: 0.8;
    }
    to {
      scale: 1;
    }
  }

  @include mobile-tablet-p {
    width: 100%;
  }

  .buttonStyle {
    position: absolute;
    top: 0;
    right: -60px;

    svg rect {
      fill: color(primary-white);
    }
  }
}

.primaryModalDarkStyle {
  background-color: color(primary-white);

  .modalTitle {
    color: color(primary-white);
  }

  .modalTop {
    background-color: color(primary-black);
    color: color(primary-white);
  }

  .buttonStyle {
    position: absolute;
    top: 0;
    right: -60px;
    z-index: 1;

    @include mobile-tablet-p {
      top: 10px;
    right: 10px;
    }

    svg rect {
      fill: color(primary-background);
    }
  }
}

// Overlay Style
.primaryOverlayStyle {
  background: rgba(color(primary-black), 0.8);
  position: fixed;
  inset: 0;
  z-index: 999;
  backdrop-filter: blur(5px);
}
