@function font($key) {
  @if map-has-key($fonts, $key) {
    @return map-get($fonts, $key);
  }

  @warn "Unknown '#{$key}' in $fonts.";
  @return null;
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown '#{$key}' in $colors.";
  @return null;
}

@function text($key) {
  @if map-has-key($font-sizes, $key) {
    @return map-get($font-sizes, $key);
  }

  @warn "Unknown '#{$key}' in $font-sizes.";
  @return null;
}

@function spacing($key) {
  @if map-has-key($spacings, $key) {
    @return map-get($spacings, $key);
  }

  @warn "Unknown '#{$key}' in $spacings.";
  @return null;
}

