h1,
h2,
h3,
h4,
h5 {
  font-family: font(primary);
}

h6 {
  font-family: font(secondary);
}

@media (min-width: 768px) {
  html {
    font-size: 1.9vw;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 1.2vw;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 0.9375vw;
  }
}
