$fonts: (
  "primary": var(--font-primary),
  "secondary": var(--font-secondary),
);

$colors: (
  "primary-white": #ffffff,
  "primary-black": #000000,
  "text-primary": #111111,
  "primary-blue": #06C,
  "heading-liner": #05BED7,
  "dark-gray": #1F1F1F,
);

$font-sizes: (
  "xxs": 0.875rem,
);
