@import "~/styles/partials/config";

.streamlineWrapper {
   text-align: center;

   .streamlineSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background: color(bg-soft) url('../../../public/images/pattern.png') no-repeat;
      background-size: cover;
   }

   .streamlineTitle {
      font-size: text(xxxl);
      font-weight: 500;
      max-width: 30%;
      line-height: 2.5rem;

      span {
         font-size: text(xxxl);
         color: color(heading-liner);
      }
   }

   .streamlineContent {
      font-size: text(lg);
      max-width: 38%;
   }
}
