@import "~/styles/partials/config";

.partnerCard {
  background-color: color(bg-soft);
  width: 100%;
  padding: 2.5rem;
  border: 0.14rem solid rgba(color(text-primary), 0.12);
  border-radius: 1.25rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include transition(0.5s);

  @include mobile-tablet-p {
    padding: 1.5rem;
    width: 92%;
    min-height: 290px;
  }

  .cardImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    .iconContainer {
      display: flex;
      flex-direction: column;
      width: 2rem;
      height: 2rem;
      overflow: hidden;

      @include mobile-tablet-p {
        width: auto;
      }

      .iconAnimateOne > svg {
        transition: transform 0.4s ease 0.2s, opacity 0.3s ease 0.2s;
      }
      .iconAnimate > svg {
        position: relative;
        top: -0.7rem;
        left: -0.8rem;
        opacity: 0;
        transition: transform 0.4s ease 0.2s, opacity 0.3s ease 0.2s;
      }
    }

    @include mobile-tablet-p {
      margin-bottom: 1.5rem;
    }

    .imgStyle {
      position: relative;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
      }
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .cardTitle {
    font-size: text(xl);
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 0.75rem;
    font-family: font(primary);
    @include mobile-tablet-p {
      font-size: text(lg);
      line-height: 1.75rem;
    }
  }

  .cardContent {
    font-size: text(normal);
    line-height: 1.5rem;
    opacity: 0.8;
    margin-bottom: 0;
    @include truncate(5);
  }

  &:hover {
    border-color: color(heading-liner);

    .cardImg .iconAnimateOne svg {
      transform: translate(100%, -100%);
      opacity: 0;
    }
    .cardImg .iconAnimate svg {
      transform: translate(90%, -90%);
      opacity: 1;
    }
    // &:hover>.cardImg>.iconContainer>.iconAnimateOne>svg{
    //   transform: translate(100%,-100%);
    //   opacity: 0;

    // }
    // &:hover>.cardImg>.iconContainer>.iconAnimate>svg{
    //   transform: translate(90%, -90%);
    //   opacity: 1;

    // }
  }


  // Dark Theme
  &.partnerCardDark {
    background-color: color(text-primary);
    color: color(primary-white);
    border-color: rgba(color(primary-white), 0.12);

    &:hover {
      border-color: color(heading-liner);
    }

    .cardTitle {
      color: color(primary-white);
    }

    .cardImg {
      svg > rect {
        stroke: color(primary-white);
      }
      svg > path {
        fill: color(primary-white);
      }
    }
  }
}
