@import "~/styles/partials/config";

.partnerCard {
  background-color: color(bg-soft);
  width: 100%;
  padding: 2.5rem;
  border: 0.14rem solid rgba(17, 17, 17, 0.12);
  border-radius: 1.25rem;

  &.partnerCardDark{
    background-color: color(text-primary);
  }

  .cardImg {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2.5rem;

    .imgStyle {
      position: relative;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .cardTitle {
    font-size: text(xl);
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 0.75rem;
  }

  .cardContent {
    font-size: text(normal);
    line-height: 1.5rem;
    opacity: 0.8;
  }
}
