@import "~/styles/partials/config";

.solutions {
   padding: 0 7.5rem;

   &.solutionsDark{
      background-color: color(text-primary);
      color: color(primary-white);
   }
   .solutionTitle {
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
   }
   .solutionHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 3.375rem;
      margin-bottom: 2rem;
   }
   .solutionText {
      font-size: text(lg);
      font-weight: 400;
      line-height: 1.875rem;
      opacity: 0.8;
   }
   .solutionImgs {
      padding: 5rem 0 ;
      img {
         margin: 1.25rem 0;
         width: 100%;
         height: auto;
         border-radius: 0.75rem;
      }

      .solutionBottomImgs{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 2.5rem;
      }
   }
}
