@import "~/styles/partials/config";

.landingPlayerStyle {
  height: 31.25rem;
  width: 100%;

  @include tablet {
    height: 21.25rem;
  }

  @include mobile {
    height: 15rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
