@import "~/styles/partials/config";

.cmsTypeStyle {
  padding: spacing(section-primary-padding);

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }
  .careerRow {
    margin-bottom: 5rem;
    max-width: 49.1875rem;
    @include mobile-tablet-p {
      margin-bottom: 2.5rem;
    }
  }

  .projectHighlight {
    font-size: text(normal);
    font-weight: 500;
    opacity: 0.6;
    color: color(text-primary);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    
    @include mobile-tablet-p {
      font-weight: 400;
    }
  }
  .datingText {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    max-width: 85%;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
      padding-right: 0;
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  .cmsGridCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }

    .serviceCmsBox {
      text-align: center;
      background-color: color(bg-soft);
      padding: 2.5rem;
      border-radius: text(xl);
      border: 0.125rem solid rgba(color(text-primary), 0.12);
      transition: all 0.5s ease-in-out;

      &:hover {
        border: 0.125rem solid color(heading-liner);
        cursor: pointer;
      }

      @include mobile {
        padding: text(xl);
      }
      .numberCardFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.28rem;

        img {
          object-fit: contain;
          object-position: left;
        }
      }
      .sbTitle {
        font-size: text(xl);
        font-weight: 500;
        margin-bottom: 0.75rem;
        line-height: 2.5rem;
        text-align: left;
        @include mobile {
          font-size: text(lg);
        }
      }

      .sbText {
        font-weight: 400;
        font-size: text(normal);
        line-height: text(xl);
        opacity: 0.8;
        text-align: left;
        margin-bottom: 0;
        @include mobile {
          font-size: text(normal);
        }
      }
    }
  }

  //Dark mode style
  &.cmsTypeDark {
    color: color(primary-white);
    background-color: color(input-bg);

    .projectHighlight {
      color: color(primary-white);
    }
  }
}

// Modal Body Content section
.modalBody {
  padding: 1.5rem;
  background-color: color(primary-white);
  height: 100%;

  .cardImg {
    height: 100px;
    width: 50px;
    position: relative;
    margin-block: 2.1875rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .modalContent {
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
    opacity: 0.6;
    color: color(text-primary);
    border-top: 0.14rem solid rgba(color(text-primary), 0.12);
    padding-top: 24px;
  }
  .teamMail {
    color: color(primary-white);
    font-weight: 400;
    line-height: 1.875rem;
    font-size: text(lg);
    margin-bottom: 2.5rem;
  }

  h6 {
    font-size: text(lg);
    font-weight: 500;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
  }

  .socialSection {
    margin-top: 2.5rem;

    .modalIcons {
      display: flex;
      gap: 0 1.25rem;
      .linkedinIcon {
        margin-right: 1.25rem;
      }
      .twitter {
        background-color: color(primary-black);
        padding: 0.5rem;
        border-radius: 0.2rem;
      }
    }
  }

  &.darkThemeStyle {
    color: color(primary-white);
    background-color: color(primary-black);

    .cardImg {
      img {
        filter: contrast(0) brightness(100);
      }
    }

    .modalContent {
      color: color(primary-white);
      border-color: rgba(color(primary-white), 0.12);
    }

    .teamMail {
      color: color(primary-white);
    }
  }
}
