@import "~/styles/partials/config";

.discover {
   padding: spacing(section-primary-padding);
   @include mobile{
      padding: 1.5rem;
   }
   .discoverTitle {
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
      font-family: font(secondary);
      margin-bottom: 1rem;
   }
   .discoverHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 3.375rem;
      margin-bottom: 5rem;
      @include mobile{
         font-size: 1.7rem;
         line-height: 2.375rem;
         margin-bottom: 3rem;
      }
   }
}
