@import "~/styles/partials/config";

.discover {
   padding: spacing(section-primary-padding);
   .discoverTitle {
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
      font-family: font(secondary);
      margin-bottom: 1rem;
   }
   .discoverHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 54px;
      margin-bottom: 5rem;
   }
}
