@import "~/styles/partials/config";

.discoverSection {
   padding: spacing(section-primary-padding);

   @include mobile {
      padding: 1.5rem;
   }

   &.discoverSectionDark {
      background-color: color(input-bg);
      color: color(primary-white);

      .platformsButtons{
        .platformsBtn{
          background-color: color(text-primary);
        }
      }
    
      .discoverHead{
        color: color(primary-white);
      }
   }

<<<<<<< HEAD
   .discoverTop {
      margin-bottom: 5rem;
=======
  .discoverHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    margin: 0;

    @include mobile {
      font-size: 1.7rem;
      line-height: 2.375rem;
    }
  }

  .subHeading {
    font-size: text(xl);
    font-weight: 500;
    line-height: 2.5rem;
    margin: 0;
  }

  .subContent {
    font-size: text(normal);
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.6;
    display: none;
  }

  .subTitle {
    font-size: text(xl);
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .platformsButtons {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    width: 100%;
    border-left: 0.14rem solid rgba(color(text-primary), 0.12);
    padding-left: 2.5rem;

    .platformsBtn {
>>>>>>> 62f9dca302f941de80ea6ca3b47ab2d1bffc4e92
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

<<<<<<< HEAD
      @include mobile {
         margin-bottom: 3rem;
=======
      .reactPlatform {
        padding-right: 0.75rem;
        border-right: 0.14rem solid rgba(17, 17, 17, 0.2);
>>>>>>> 62f9dca302f941de80ea6ca3b47ab2d1bffc4e92
      }
   }
   .discoverTitle {
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
   }

   .discoverHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 3.375rem;
      margin: 0;

      @include mobile {
         font-size: 1.7rem;
         line-height: 2.375rem;
      }
   }

<<<<<<< HEAD
   .subHeading {
      font-size: text(xl);
      font-weight: 500;
      line-height: 2.5rem;
      margin: 0;
   }
=======
      .iconImg {
        border-right: 0.14rem solid rgba(color(text-primary), 0.2);
        padding-right: 0.75rem;
      }
>>>>>>> 62f9dca302f941de80ea6ca3b47ab2d1bffc4e92

   .subContent {
      font-size: text(normal);
      font-weight: 400;
      line-height: 1.5rem;
      opacity: 0.6;
      display: none;
   }

   .subTitle {
      font-size: text(xl);
      font-weight: 500;
      line-height: 2rem;
      margin-bottom: 1.5rem;
   }

   .platformsButtons {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
      width: 100%;
      border-left: 1px solid rgba(color(text-primary), 0.12);
      padding-left: 2.5rem;

      .platformsBtn {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-radius: 12px;
         background-color: color(bg-soft);
         padding: 1.25rem;
         width: 100%;
         height: auto;

         .reactPlatform {
            padding-right: 0.75rem;
            border-right: 1px solid rgba(17, 17, 17, 0.2);
         }

         svg {
            width: 16px;
            height: 16px;
         }

         .iconImg {
            border-right: 1px solid rgba(color(text-primary), 0.2);
            padding-right: 0.75rem;
         }

         p {
            padding-left: 0.75rem;
            margin: 0;
            font-size: text(lg);
            font-weight: 400;
            line-height: 1.875rem;
         }
      }
   }

   .buttonSection {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem 2.5rem;
   }

   .discoverTabSection {
      display: flex;
      justify-content: space-between;
      gap: 2.5rem;
      

      .discoverLeft {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         gap: 2rem;
         max-width: 270px;
      }

      .discoverHead {
         text-align: left;
      }

      .dataSection {
         margin-bottom: 3.75rem;

         &:last-child {
            margin-bottom: 0;
         }
      }

      button[aria-selected="true"] {
         .subContent {
            display: block;
         }

         .subHeading {
            background: linear-gradient(118deg, #1e8af2 11.5%, #05bed7 55.42%);
            @include textGradient;
         }
      }
   }
}
