@import "../../../styles/partials/config";
.curve {
  .customSvg,
  .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 99999;

    @include mobile-tablet-p {
      display: none;
    }
  }

  .background {
    background-color: color(primary-black);
    transition: opacity 0s linear 0.1s;
  }

  .route {
    z-index: 999999;
    position: absolute;
    left: 50%;
    top: 40%;
    color: color(primary-white);
    font-size: 46px;
    transform: translateX(-50%);
    text-align: center;
  }

  .routeLogo {


    img {
      height: 11.25rem;
      width: 11.25rem;
    }

    @include mobile-tablet-p {
      img {
        height: 8.25rem;
        width: 8.25rem;
      }
    }
  }
}

.curveAnimation {

  > .background[style*="opacity: 0;"], .route[style*="opacity: 0;"] {
    display: none;
  }
}
