@import "~/styles/partials/config";

.coeService {
  background-color: color(bg-soft);
  padding: spacing(section-primary-padding);
  margin-top: 8.75rem;

  @include mobile-tablet-p {
    padding: 1.5rem;
  }

  &.coeServiceDark{
    background-color: color(dark-bg);
    color: color(primary-white);
  }

  .coeServiceImg div {
    margin-bottom: 5rem;
    height: 31.4375rem;
    width: 100%;
    border-radius: .75rem;
    overflow: hidden;

    @include mobile-tablet-p{
      height: 8.75rem;
      margin-bottom: 3.75rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contentSec {
    display: flex;
    gap: 8.938rem;

    @include mobile-tablet-p{
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .coeServiceTitle {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;

    span {
      font-size: text(larger);
      font-weight: 500;
      color: color(heading-liner);
      @include textGradient;

      @include mobile-tablet-p {
        font-size: text(xxxl);
      }
    }

    @include mobile-tablet-p{
      font-size: text(xxxl);
      line-height: 2.5rem;
      max-width: 90%;
    }
  }

  .coeServiceText {
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
    opacity: 0.6;
    margin-bottom: 2.5rem;

    @include mobile-tablet-p{
      font-size: text(normal);
      line-height: 1.5rem;
    }
  }
}
