@import "~/styles/partials/config";

.captionCardStyle {
  padding-inline: spacing(p-120);

  @include mobile {
    padding: spacing(section-mob-padding-Left-Right);
  }

  .imageCard {
    padding: text(lg);
    border-radius: text(lg);
    border: 0.125rem solid rgba(17, 17, 17, 0.12);
    background: color(bg-soft);
    .cardImg {
      position: relative;

      .cardBadges {
        position: absolute;
        bottom: 3.3rem;
        left: 1.3rem;
        display: flex;

        .badges {
          height: 2.188rem;
          padding-inline: 0.75rem;
          background: rgba(17, 17, 17, 0.8);
          border: 0.063rem solid rgba(255, 255, 255, 0.4);
          color: color(primary-white);
          border-radius: 0.5rem;
          font-size: text(normal);
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mobile {
            padding: 0.5rem 0.75rem;
            font-size: 0.75rem;
            margin-right: 0.625rem;
          }
        }
      }
      img {
        border-radius: text(lg);
        margin-bottom: text(lg);
        object-fit: cover;
        width: 100%;
      }
    }
    .cardBody {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cardText {
        font-size: text(xl);
        font-weight: 500;
        margin-bottom: 0;
        @include mobile {
          font-size: text(lg);
        }
      }
      svg {
        cursor: pointer;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 2.7rem;
    }
  }
}
