@import "~/styles/partials/config";

.captionCardStyle {
  padding-inline: spacing(p-120);
  @include mobile {
    padding: spacing(section-mob-padding-Left-Right);
  }

  .imageCard {
    padding: text(lg);
    border-radius: text(lg);
    border: 0.125rem solid rgba(17, 17, 17, 0.12);
    background: color(bg-soft);
    .cardImg {
      img {
        border-radius: text(lg);
        margin-bottom: text(lg);
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
    .cardBody {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cardText {
        font-size: text(xl);
        font-weight: 500;
        margin-bottom: 0;
        @include mobile{
          font-size: text(lg);
        }
      }
      svg {
        cursor: pointer;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 2.7rem;
    }
  }

  .gridOne {
    grid-column: 1 / 3;
    @include mobile {
      grid-column: auto;
    }
  }
  .gridSix {
    grid-column: 1 / 3;
    @include mobile {
      grid-column: auto;
    }
  }
}
