@import "~/styles/partials/config";

.dropdownDiv {
  position: relative;
  display: inline-block;

  @include mobile-tablet-p{
    width: 100%;

    button{
      width: 100%;
    }
  }

  .dropdownContent {
    position: absolute;
    top: calc(100% + 0rem);
    background-color: color(primary-white);
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1rem rgba(color(primary-black), 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    z-index: 99;
    animation: slide-down 0.5s ease-in-out;

    @keyframes slide-down {
      0% {
        opacity: 0;
        top: 90%;
      }
      100% {
        opacity: 1;
        top: 100%;
      }
    }
 
    a {
      font-weight: 400;
      font-size: text(normal);
      color: color(text-primary);
      padding: 0.93rem 1rem;
      text-decoration: none;
      display: block;

      .contentFlex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      .innerIconFlex{
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    a:hover {
      background-color: color(primary-background);
      border-radius: 0.62rem;
    }
  }

  
  &:hover .dropdownContent {
    opacity: 1;
    pointer-events: auto;
  }
}
