@import "~/styles/partials/config";

.videoCustom {
  height: 150vh;
  align-items: center;

  @include mobile-tablet-p {
    height: 450px;
    margin-bottom: 7rem;
  }

  @include mobile {
    height: 250px;
    margin-bottom: 1rem;
  }

  .videoCont {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 100%;
    z-index: 99;
    position: relative;
    // background-color: red;

    @include mobile-tablet-p {
      height: 300px;
    }

    @include desktop-hd-min {
      height: 80%;
    }

    .video {
      object-fit: cover;
      border-radius: 1.25rem;
      max-width: 1228px;
      object-fit: cover;

      @include desktop-hd-min {
        max-width: 1440px;
      }

      @include mobile-tablet-p {
        width: 100vw;
        height: 200px;
        border-radius: 0;
        object-fit: cover;
      }
    }
  }

  // .videoControls {
  //   position: absolute;
  //   bottom: 20px;
  //   right: 20px;

  //   button {
  //     color: white;
  //   }
  // }

  &.videoCustomDark {
    background-color: color(input-bg);
  }
}
