@import "~/styles/partials/config";

.videoCustom {
  height: 150vh;
  align-items: center;

  @include mobile-tablet-p {
    height: 450px;
    margin-bottom: 7rem;
  }

  // @include ipad-p {
  //   height: 800px;
  // }

  @include mobile {
    height: 250px;
    margin-bottom: 5rem;
  }

  .videoCont {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 100%;
    z-index: 99;

    @include mobile-tablet-p {
      height: 100%;
    }

    @include desktop-hd {
      height: 80%;
    }

    .video {
      object-fit: cover;
      border-radius: 1.25rem;
      max-width: 1228px;

      object-fit: cover;
      @include desktop-hd {
        max-width: 1440px;
      }

      @include mobile-tablet-p {
        width: 100%;
        height: 100%;
        border-radius: 0rem;
      }
    }
  }

  &.videoCustomDark {
    background-color: color(input-bg);
  }
}
