@import "~/styles/partials/config";

.tczLife {
   background-color: color(bg-soft);
   .tczLifeTop {
      padding: 8.75rem 0 5rem 7.5rem;

      @include mobile{
         padding: 1.75rem 0 2rem 0.5rem;
      }
 

      .tczLifeTitle {
         font-size: text(normal);
         font-weight: 700;
         line-height: 1.5rem;
         letter-spacing: 0.2rem;
         text-transform: uppercase;
         opacity: 0.8;
         margin-bottom: 1rem;
      }
      .tczLifeHeading {
         font-size: text(larger);
         font-weight: 500;
         line-height: 3.375rem;

         span {
            font-size: text(larger);
            background: var(--Gradient, linear-gradient(118deg, #1e8af2 11.5%, #05bed7 55.42%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
      }
   }

   .videoWapper {
      // border-radius: 0.5rem;
      max-width: 90%;

      img{
         width: 100%;
         height: auto;
         object-fit: cover;
      }

      source{
         border-radius: 0.5rem;
      }
   }

   .tczLifeContent {
      padding: 0 7.5rem 8.75rem 7.5rem;

      @include mobile{
         padding: 0 1.5rem 0.75rem 1.5rem
      }

      p {
         font-size: text(lg);
         font-weight: 400;
         line-height: 1.875rem;
         opacity: 0.6;
      }
   }
}
