@import "~/styles/partials/config";

.gridMarqueeGallery {
  overflow-x: hidden;
  
  .galleryImages {
    padding: 0 0.7rem;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;

    .galleryImage {
      margin-top: 20px;
      height: 230px;
      min-width: 205px;

      div {
        height: 100%;
        width: 100%;
        border-radius: 0.75rem;
        overflow: hidden;
        position: relative;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .gridHalf {
      height: 320px;
      min-width: 430px;

      div {
        height: 100%;
      }
    }

    .smGrid {
        height: 140px;
  
        div {
          height: 100%;
        }
      }

    .gridFull {
      height: 480px;
      min-width: 400px;
      
      div {
        height: 100%;
      }
    }
  }

  &.ourGalleryDark {
    background-color: color(input-bg);
    color: color(primary-white);
  }
}
