@import "~/styles/partials/config";

.gridMarqueeGallery {
  overflow: hidden;
  
  .galleryImages {
    padding: 0 0.7rem;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;

    .galleryImage {
      margin-top: 20px;
      height: 230px;
      min-width: 205px;

      div {
        height: 100%;
        width: 100%;
        border-radius: 0.75rem;
        overflow: hidden;
        position: relative;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .gridHalf {
      height: 320px;
      min-width: 430px;

      div {
        height: 100%;
      }
    }

    .smGrid {
        height: 140px;
  
        div {
          height: 100%;
        }
      }

    .gridFull {
      height: 480px;
      min-width: 400px;
    }
  }

  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 600px;
    overflow-x: hidden;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 50s linear infinite;
  }
  
  .content {
    display: flex;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  // Dark Mode
  &.ourGalleryDark {
    background-color: color(input-bg);
    color: color(primary-white);
  }
}
