@import "~/styles/partials/config";

.cmsBannerStyle {
  padding-block: 10rem 8.75rem;

  @include mobile-tablet-p {
    padding-block: 3.75rem 3.75rem;
  }

  .title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;

    @include mobile-tablet-p {
      font-size: 2.75rem;
      line-height: 3.5rem;
      margin-bottom: text(xl);
      word-break: break-word;
    }

    span {
      font-size: 4rem;
      font-weight: 500;
      display: flex;
      color: color(heading-liner);
      @include textGradient;

      @include mobile-tablet-p {
        font-size: 2.75rem;
        line-height: 3.5rem;
      }
    }
  }
  .leadText {
    font-size: text(lg);
    font-weight: 400;
    color: rgba(color(text-primary), 0.8);
    margin-top: 0.8rem;

    @include mobile-tablet-p {
      margin: 0;
    }
  }

  .flexCol {
    display: flex;
    justify-content: flex-end;
  }

  .headerBtn {
    margin-top: 4rem;
    @include mobile-tablet-p {
      margin-top: 1.875rem;
    }
  }

  //Dark mode style
  &.cmsBannerDark {
    color: color(primary-white);
    background-color: color(input-bg);

    .leadText {
      color: color(primary-white);
    }
  }
}
