@import "~/styles/partials/config";

.animatedLogo {

  .logo {
    position: relative;

    .lightLogo {
      display: block;
    }
    .darkLogo {
      display: none;
    }

    @include mobile {
      width: 130px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .header {
    position: absolute;
    font-size: 1rem;
    top: 25px;
    right: 0;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-align: center;
    @include logoGradient;
    -webkit-animation: hue 5s infinite linear;

    @include mobile {
      top: 18px;
    }
}
  
  @keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

  // Dark Mode
  &.animatedLogoDark {
 
  }
}
