@import "~/styles/partials/config";
.partner {
  padding: spacing(section-primary-padding);

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  &.partnerDark {
    background-color: color(input-bg);
    color: color(primary-white);
    border: transparent;
  }

  .headSection {
    max-width: 70%;
    @include mobile-tablet-p {
      max-width: 100%;
    }
  }

  .partnerTitle {
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 1rem;

    @include mobile-tablet-p {
      margin-bottom: 0.75rem;
    }
  }

  .partnerHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    margin-bottom: 5rem;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 3.75rem;
      max-width: 85%;
    }
  }

  .partnerCards {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);

    @include mobile-tablet-p {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // mobileSlider
  .mobileSlider {

    @include mobile-tablet-p {
      margin-right: -20px;
    }
  }
}

// Modal Body Content section
.modalBody {
   padding: 1.5rem;
   background-color: color(primary-white);
   height: 100%;
 
   .cardImg {
     height: 100px;
     width: 50px;
     position: relative;
     margin-block: 2.1875rem;
 
     img {
       height: 100%;
       width: 100%;
       object-fit: contain;
     }
   }
 
   .modalContent {
     font-size: text(lg);
     font-weight: 400;
     line-height: 1.875rem;
     opacity: 0.6;
     color: color(text-primary);
     border-top: 0.14rem solid rgba(color(text-primary), 0.12);
     padding-top: 24px;
   }
   .teamMail {
     color: color(primary-white);
     font-weight: 400;
     line-height: 1.875rem;
     font-size: text(lg);
     margin-bottom: 2.5rem;
   }
 
   h6 {
     font-size: text(lg);
     font-weight: 500;
     line-height: 1.75rem;
     margin-bottom: 1.5rem;
   }
 
   .socialSection {
     margin-top: 2.5rem;
 
     .modalIcons {
       display: flex;
       gap: 0 1.25rem;
       .linkedinIcon {
         margin-right: 1.25rem;
       }
       .twitter {
         background-color: color(primary-black);
         padding: 0.5rem;
         border-radius: 0.2rem;
       }
     }
   }
 
   &.darkThemeStyle {
     color: color(primary-white);
     background-color: color(primary-black);
 
     .cardImg {
       img {
         filter: contrast(0) brightness(100);
       }
     }
 
     .modalContent {
       color: color(primary-white);
       border-color: rgba(color(primary-white), 0.12);
     }
 
     .teamMail {
       color: color(primary-white);
     }
   }
 }
 