@import "~/styles/partials/config";

.theProcessStyle {
  padding: spacing(section-primary-padding);
  padding-top: 0;

  @include mobile-tablet-p{
    padding: 2rem;
  }


  .flexContainer {
    display: flex;
    justify-content: space-between;
    gap: 8.938rem;

    @include mobile-tablet-p{
      flex-direction: column;
      gap: 3.75rem;
    }
    .stepperImg{
      position: absolute;
      width: 258px;
      height: 258px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .headSection {
    margin-bottom: 5rem;

    @include mobile-tablet-p{
      margin-bottom: 0;
    }

    .heading {
      color: color(text-primary);
      text-transform: uppercase;
      opacity: 0.8;
      font-size: text(normal);
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
    }

    .subHeading {
      font-size: text(larger);
      margin-bottom: 2.75rem;
      line-height: 3.375rem;

      @include mobile-tablet-p{
        font-size: text(xxxl);
        max-width: 90%;
        line-height: 2.5rem;
      }

      
    }

    .ourNumbersImg{
      img{
        width: 100%;
        height: 100%;
      }
    }
   
    .circularStepperContainer{
      position: relative;
    }
    .circularStepperContainer >span {
      font-size: text(larger);
      color: color(heading-liner);
      background: linear-gradient(
        118deg,
        color(primary-blue) 11.5%,
        color(heading-liner) 55.42%
      );
      @include textGradient;

      @include mobile-tablet-p{
        font-size: text(xxxl);
      }
    }
  }

  .processCardSection {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 12.75rem;

    .processCard {
      background: color(bg-soft);
      padding: 2.5rem;
      border-radius: 1.25rem;
      border: 0.14rem solid rgba(color(text-primary), 0.12);
      max-width: 587px;
      opacity: 0.4;
      // &:nth-child(1){
      //   opacity: 1;
      // }

      // &.active {
      //   opacity: 1;
      // }
    }

    .textGradient {
      font-size: text(xxxl);
      background: linear-gradient(117.91deg, #1E8AF2 11.5%, #05BED7 55.42%);
      @include textGradient;
      margin-bottom: 20px;
    }
  }

  //Dark mode style
  &.theProcessDark{
    background-color: color(input-bg);
    color: color(primary-white);

    .heading{
      color: color(primary-white);
    }

    .processCard{
      background-color: color(text-primary);
    }
  }
}
