@import "~/styles/partials/config";

.theProcessStyle {
  padding: spacing(section-primary-padding);
  padding-top: 0;


  .flexContainer {
    display: flex;
    justify-content: space-between;
    gap: 143px;
    position: relative;
  }

  .headSection {
    margin-bottom: 5rem;
    position: relative;

    .heading {
      color: color(text-primary);
      text-transform: uppercase;
      opacity: 0.8;
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
    }

    .subHeading {
      font-size: text(larger);
      margin-bottom: 2.75rem;

      span {
        font-size: text(larger);
        color: color(heading-liner);
        background: linear-gradient(
          118deg,
          color(primary-blue) 11.5%,
          color(heading-liner) 55.42%
        );
        @include textGradient;
      }
    }

    .circularStepper {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
      font-size: 24px;
      color: #444;
      text-align: center;

    span {
      position: absolute;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
    }
    .twelve {
      top: 10px;
      left: 46%;
    }
    
    .one {
      top: 10%;
      right: 26%;
    }
    
    .eleven {
      top: 10%;
      left: 26%;
    }
    
    .two {
      top: 25%;
      right: 10%;
    }
    
    .three {
      right: 10px;
      top: 46%;
    }
    
    .four {
      right: 30px;
      top: 67%;
    }
    
    .five {
      right: 78px;
      top: 80%;
    }
    
    .six {
      bottom: 10px;
      left: 50%;
    }
    
    .seven {
      left: 80px;
      top: 82%;
    }
    
    .eight {
      left: 30px;
      top: 67%;
    }
    
    .nine {
      left: 10px;
      top: 46%;
    }
    
    .ten {
      top: 25%;
      left: 10%;
    }
    
  }
}
  

  .processCardSection {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .processCard {
      background: color(bg-soft);
      padding: 2.5rem;
      border-radius: 1.25rem;
      border: 0.14rem solid rgba(color(text-primary), 0.12);
      max-width: 587px;
      opacity: 0.6;

      &.active {
        opacity: 1;
      }
    }

    .textGradient {
      font-size: text(xxxl);
      background: linear-gradient(117.91deg, #1E8AF2 11.5%, #05BED7 55.42%);
      @include textGradient;
      margin-bottom: 20px;
    }
  }

  //Dark mode style
  &.theProcessDark{
    color: color(primary-white);

    .heading{
      color: color(primary-white);
    }

    .processCard{
      background-color: color(text-primary);
    }
  }
}
