@import "~/styles/partials/config";

.results {
   padding: 0 7.5rem;
   .resultTitle {
      font-size: text(normal);
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 3.2px;
      text-transform: uppercase;
      opacity: 0.8;
      font-family: font(secondary);
   }
   .resultHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 54px;
      max-width: 95%;
      margin-bottom: 2rem;
   }
   .resultText {
    font-size: text(lg);
      font-weight: 400;
      line-height: 30px;
      opacity: 0.8;
      margin-bottom: 3.75rem;
   }
   .resultCards {
      display: flex;
      gap: 2.5rem;
      .resultCard {
         width: 100%;
         height: auto;
         padding: 2rem;
         border: 1px solid rgba(17, 17, 17, 0.12);
         background: color(bg-soft);
         border-radius: 0.5rem;

         h2 {
            font-size: text(xl-larger);
            font-weight: 500;
            line-height: 80px;
            background: linear-gradient(118deg, color(primary-blue) 11.5%, color(heading-liner) 55.42%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2rem;
         }
         h4 {
            font-size: text(lg);
            font-weight: 400;
            line-height: 30px;
            opacity: 0.8;
            font-family: font(secondary);
         }
      }
   }
}
