@import "~/styles/partials/config";

.openPosition {
  padding: spacing(section-primary-padding);

  @include mobile {
    padding: 2rem;
  }

  .openPositionHeader {
    margin-bottom: 5rem;

    .openPositionHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 54px;
      opacity: 0.8;

      span {
        background: linear-gradient(118deg, #1e8af2 11.5%, #05bed7 55.42%);
        @include textGradient;
        font-size: text(xl-larger);
      }
    }
  }

  .serviceBtn {
    border-bottom: 1px solid rgba(color(text-primary), 0.12);
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    gap: 1.25rem;

    button {
      color: color(text-primary);
      font-size: text(normal);
      font-weight: 400;
      line-height: 1.875rem;
      border: 0.063rem solid rgba(17, 17, 17, 0.4);
      font-family: font(secondary);

      &:hover {
        background-color: color(primary-white);
        color: color(text-primary);
        border: 1px solid var(--Gradient, #1e8af2);
      }
    }
  }

  .openPositionContent {
    background-color: color(bg-soft);
    padding: 2.5rem;
    border-radius: 1.25rem;
    margin-bottom: 2.5rem;
    display: flex;
    gap: 8.938rem;

    @include mobile {
      padding: 1.5rem;
      flex-direction: column;
      gap: 2.5rem;
    }

    .openPositionAccordion {
      width: 100%;
      max-width:44.188rem;
      margin-right: 0;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      @include mobile {
        width: 100%;
      }

      .openPositionTitle {
         width: 30%;

         @include mobile{
            width: 100%;
         }
         .title {
            font-size: text(xxxl);
            font-weight: 500;
            line-height: 2.5rem;
         }
      }

      .accordionBody {
        width: 100%;
        border-radius: 0.75rem;
        background: color(primary-white);
        padding: 2rem;
        border: 1px solid transparent;

        &.accordionShow {
          border-color: color(heading-liner);
        }
      }
      .accordionButton {
        text-align: left;
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include mobile {
          padding: 1rem;
        }

        .buttonTitle {
          h6 {
            font-size: text(xl);
            font-weight: 500;
            line-height: 2rem;
          }
          p {
            margin: 0;
            font-size: text(normal);
            font-weight: 400;
            line-height: 1.5rem;
            opacity: 0.8;
          }
        }
        .buttonIcon {
          width: 36px;
          height: 36px;
          background: color(bg-soft);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .accordionPanel {
        border-top: 1px solid rgba(color(text-primary), 0.12);
        padding-top: 2.5rem;
        margin-top: 2.5rem;
      }
      .accordionContent {
        h6 {
          font-size: text(xl);
          font-weight: 500;
          line-height: 2rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: text(lg);
          font-weight: 400;
          line-height: 30px;
          opacity: 0.6;
        }
        ul {
          list-style: square;
          display: flex;
          gap: 4px;
          flex-direction: column;

          li {
            opacity: 0.6;
            font-size: text(lg);
          }
        }
      }

      .btnSection {
        border-top: 1px solid rgba(color(text-primary), 0.12);
        padding-top: 2.5rem;
        margin-top: 2.5rem;
      }
    }
  }
}
