@import "~/styles/partials/config";

.openPosition {
   padding: spacing(section-primary-padding);

   .openPositionHeader {
      margin-bottom: 5rem;

      .openPositionHeading {
         font-size: text(larger);
         font-weight: 500;
         line-height: 54px;
         opacity: 0.8;

         span {
            background: var(--Gradient, linear-gradient(118deg, #1e8af2 11.5%, #05bed7 55.42%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: text(xl-larger);
         }
      }
   }

   .serviceBtn {
      button {
         margin: 0 0.75rem 0.75rem 0;
         color: color(text-primary);
         font-size: text(normal);
         font-weight: 400;
         line-height: 1.875rem;
         border: 0.063rem solid rgba(17, 17, 17, 0.4);
         font-family: font(secondary);

         &:hover {
            background-color: color(primary-white);
            color: color(text-primary);
            border: 1px solid var(--Gradient, #1e8af2);
         }
      }
   }

   .openPositionContent {
      background-color: color(bg-soft);
      padding: 2.5rem;
      border-radius: 1.25rem;
      margin-bottom: 2.5rem;

      .openPositionAccordian {
        .accordianBody{
            margin-bottom: 2.5rem;
        }
         .accordianButton {
            width: 100%;
            border-radius: 0.75rem;
            background: color(primary-white);
            padding: 2rem;
            text-align: left;
            display: flex;
            justify-content: space-between;

            .buttonTitle {
               h6 {
                  font-size: text(xl);
                  font-weight: 500;
                  line-height: 2rem;
               }
               p {
                  margin: 0;
                  font-size: text(normal);
                  font-weight: 400;
                  line-height: 1.5rem;
                  opacity: 0.8;
               }
            }
            .buttonIcon {
               width: 36px;
               height: 36px;
               background: color(bg-soft);
               border-radius: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
         .accordianPanel {
            background: color(primary-white);
            padding: 2rem;
            // padding-top: 0;
            text-align: left;
            border-radius: 0.75rem;
            position: relative;
            top: -2rem;

            .accordianContent {
               h6 {
                  font-size: text(xl);
                  font-weight: 500;
                  line-height: 2rem;
               }
               p {
                  font-size: text(lg);
                  font-weight: 400;
                  line-height: 30px;
                  opacity: 0.6;
               }
               ul {
                  list-style: square;
                  opacity: 0.6;
               }
            }
         }
      }
   }
}
