@import "~/styles/partials/config";

.captionCard {
   padding: text(lg);
   border-radius: text(lg);
   border: 0.14rem solid rgba(color(text-primary), 0.12);
   background: color(bg-soft);
   margin-right: 2.5rem;
   width: 100%;
   @include transition(0.5s);
   cursor: pointer;

   &:hover {
      border-color: color(heading-liner);
   }

   @include mobile {
      margin-right: 0;
   }

   .cardImg div {
      height: 240px;
      width: 100%;
      position: relative;
      border-radius: 0.5rem;
      margin-bottom: text(lg);
      overflow: hidden;
     
      @include desktop-hd {
         aspect-ratio: 2/1.3;
         height: auto;
      }

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }

   .cardBody {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .cardText {
         font-size: text(xl);
         font-weight: 500;
         margin-bottom: 0;
         @include truncate(2);

         @include desktop-hd {
            font-size: text(lg);
         }

         @include mobile-tablet-p {
            font-size: text(lg);
            max-width: 80%;
         }
      }

      svg {
         cursor: pointer;
      }
   }

   // Dark Mode
   &.captionCardDark {
      background-color: color(text-primary);
      color: color(primary-white);
      border-color: rgba(color(primary-white), 0.12);

      &:hover {
         border-color: color(heading-liner);
      }

      .cardBody {
         svg path {
            fill: color(primary-white)
         }
      }
   }

}
