@import "~/styles/partials/config";

.captionCard {
   padding: text(lg);
   border-radius: text(lg);
   border: 0.125rem solid rgba(color(text-primary), 0.12);
   background: color(bg-soft);
   margin-right: 2.5rem;
   width: 100%;
   transition: all 0.3s ease-in-out;
   cursor: pointer;

   &:hover {
      border-color: color(heading-liner);
   }

   @include mobile {
      margin-right: 0;
   }

   .cardImg div {
      height: 240px;
      width: 100%;
      position: relative;
      border-radius: 0.5rem;
      margin-bottom: text(lg);
      overflow: hidden;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }

   .cardBody {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .cardText {
         font-size: text(xl);
         font-weight: 500;
         margin-bottom: 0;
         @include truncate(2);

         @include desktop-hd {
            font-size: text(lg);
         }
      }

      svg {
         cursor: pointer;
      }
   }

   // Dark Mode
   &.captionCardDark {
      background-color: color(text-primary);
      color: color(primary-white);
      border-color: rgba(color(primary-white), 0.12);
   }

}
