@import "~/styles/partials/config";

.captionCard {
    padding: text(lg);
    border-radius: text(lg);
    border: 0.125rem solid rgba(17, 17, 17, 0.12);
    background: color(bg-soft);
    margin-right: 2.5rem;
    .cardImg {
      img {
        border-radius: text(lg);
        margin-bottom: text(lg);
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
    .cardBody {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cardText {
        font-size: text(xl);
        font-weight: 500;
        margin-bottom: 0;
      }
      svg {
        cursor: pointer;
      }
    }
  }