@import "~/styles/partials/config";

.relatedCase {
  padding-block: 8.75rem;
  position: relative;

  @include desktop-hd {
    min-height: 500px;
    margin-block: 8.75rem;
    padding-block: 0;
  }

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  .headSection {
    padding-inline: spacing(p-120);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5rem;
    
    @include desktop-hd {
      padding-inline: 0;
    }

    @include mobile-tablet-p {
      padding: 0;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 2rem;
    }
  }

  .relatedCaseTitle {
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;

    @include mobile-tablet-p {
      margin-bottom: 0.75rem;
      font-weight: 400;
      line-height: text(normal);
    }
  }

  .relatedCaseHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    margin: 0;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .relatedCaseSlider {
    padding-left: spacing(p-120);
    
    @include mobile-tablet-p {
      margin-bottom: 2.75rem;
      padding: 0;
    }

    @include desktop-hd {
      position: absolute;
      right: 0;
      left: 0;
      padding-left: 0;
    }
  }
    

  .cardStyle {
    width: auto;
    max-width: 580px;
  }
  .textStyle {
    max-width: 70%;
  }

  .sliderArrow {
    display: flex;
    gap: 24px;

    @include mobile-tablet-p {
      margin: 3rem 0 2rem;
      width: 100%;
      display: none;
    }

    .button {
      background-color: color(primary-blue);
      padding: 0;
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    svg {
      width: 18px;
      height: 18px;
    }

    svg > path {
      fill: color(primary-white);
    }
  }

  .arrowDisabled {
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(color(text-primary), 0.20);
    color: color(primary-blue);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg > path {
      stroke: color(primary-black);
    }
  }


  // Dark theme style
  &.relatedCaseDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .arrowDisabled {
      border: 1px solid rgba(color(primary-white), 0.20);
    }

    svg > path {
      fill: color(primary-white);
    }

    .sliderArrow {

      svg > path {
        stroke: color(primary-white);
      }
    }
  }
}
