@import "~/styles/partials/config";

.relatedCase {
  &.relatedCaseDark {
    background-color: color(input-bg);
    color: color(primary-white);
  }

  .headSection {
    padding-inline: spacing(p-120);

    @include mobile-tablet-p {
      padding: spacing(section-mob-padding);
      padding-block: 3.75rem 3.75rem;
    }

    @include mobile{
      padding-block: 3.75rem 0;
    }
  }

  .relatedCaseTitle {
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 1rem;
    @include mobile-tablet-p {
      margin-bottom: 0.75rem;
      font-weight: 400;
      line-height: text(normal);
    }
  }

  .relatedCaseHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    margin-bottom: 5rem;
    @include mobile-tablet-p {
      margin-bottom: 3.75rem;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .relatedCaseSlider {
    padding-left: spacing(p-120);
    margin-bottom: 8.75rem;
    @include mobile-tablet-p {
      margin-bottom: 2.75rem;
    }

    @include desktop-hd {
      padding-left: 13vw;
    }

    @include mobile{
      padding: 0 1rem;
    }
  }
    

  .cardStyle {
    width: auto;
    max-width: 580px;
  }
  .textStyle {
    max-width: 70%;
  }
}
