@import "~/styles/partials/config";

.whatWeDo {
  padding: spacing(section-primary-padding);

  @include mobile-tablet-p {
    padding: 40px 0;
  }

  .flexContainer {
    max-width: 80%;

    @include mobile-tablet-p {
      padding: 0 spacing(tablet-padding) 3.75rem;
      max-width: 100%;
    }

    @include mobile {
      padding: 0 1.25rem 3.75rem;
    }
  }

  .weDoTitle {
    color: color(text-primary);
    text-transform: uppercase;
    opacity: opacity(light);
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;

    @include mobile-tablet-p {
      font-weight: 400;
    }
  }
  .weDoHeading {
    font-size: text(larger);
    margin-bottom: 5rem;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 0;
    }
  }
  .workCardWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;

    @include desktop-hd {
      grid-template-columns: repeat(4, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 spacing(tablet-padding);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .workCardMain {
    height: 19.25rem;

    @include mobile {
      max-width: 90%;
    }

    .workCard {
      transition: transform 1s;
      transform-style: preserve-3d;

      .workCols {
        min-width: 16.875rem;
        height: 19.25rem;
        border: 0.14rem solid rgba(color(text-primary), 0.12);
        border-radius: 1.25rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        padding: spacing(section-primary-padding);
        padding: 2rem;

        @include tablet-p {
          min-width: 100%;
          max-width: 95vw;
          padding: 2rem;
        }

        @include mobile {
          min-width: 100%;
          max-width: 95vw;
          padding: 1.5rem;
        }
      }

      .imgBox div {
        height: 75px;
        width: 75px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .frontCard,
      .backCard {
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
      }

      .frontCard {
        h3 {
          @include mobile-tablet-p {
            position: absolute;
            bottom: 0;
          }
        }
      }

      .backCard {
        transform: rotateY(180deg);

        h3 {
          margin-top: 0;
          padding-bottom: 0.5rem;
          @include mobile-tablet-p {
            font-size: text(lg);
            line-height: 1.75rem;
            margin-bottom: 2rem;
          }
        }
      }

      .workCardIcon {
        @include transition(0.5s);
      }

      &:hover {
        border-color: color(heading-liner);
      }

      h3 {
        font-size: text(xl);
        position: relative;
        width: 100%;
        max-width: 9rem;
        margin-top: 5.5rem;
        padding-bottom: 2rem;
        @include transition(0.5s);
        @include mobile-tablet-p {
          font-size: text(lg);
          font-weight: 500;
          line-height: text(lg);
        }
      }

      p {
        font-size: text(normal);
        opacity: opacity(light);
        @include mobile-tablet-p {
          line-height: text(xl);
          font-weight: 400;
        }
      }
    }

    &:hover {
      .workCard {
        transform: rotateY(180deg);
        transition: transform 0.5s;
      }

      .workCols {
        border: 0.14rem solid color(heading-liner);
      }
    }
  }

  .mobileSlider {
    padding-left: 1.25rem;
    padding-bottom: 5rem;

    @include mobile-tablet-p {
      padding-bottom: 1rem;
    }
  }

  // Dark Mode
  &.whatWeDoDark {
    background-color: color(input-bg);
    color: color(primary-white);

    .weDoTitle {
      color: color(primary-white);
      opacity: opacity(dark);
    }

    .workCardMain {
      @include transition(0.5s);

      &:hover {
        .workCard {
          .workCols {
            border: 0.14rem solid color(info-blue);
          }
        }
      }
      .workCard {
        .workCols {
          background-color: color(text-primary);
          border: 0.14rem solid rgba(color(primary-white), 0.12);
        }

        p {
          opacity: opacity(dark);
        }
      }
    }
  }
}
