@import "~/styles/partials/config";

.banner {
  padding-block: 9rem 4rem;

  @include mobile-tablet-p {
    padding-block: 3rem 4.5rem;
  }

  .bannerContent {
    .bannerTitle {
      font-size: text(xl-larger);
      font-weight: 500;
      line-height: 5rem;

      @include mobile-tablet-p {
        font-size: text(larger);
        line-height: 3.125rem;
      }

      span {
        font-size: text(xl-larger);
        @include textGradient;

        @include mobile-tablet-p {
          font-size: text(larger);
        }
      }
    }

    .bannerRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4rem;

      @include mobile-tablet-p {
        gap: 2.25rem;
        max-width: 100%;
      }

      p {
        font-size: text(lg);
        line-height: 1.875rem;
        opacity: 0.8;

        @include mobile-tablet-p {
          font-size: text(normal);
          line-height: 1.5rem;
        }
      }
    }
  }

  //dark mode style
  &.bannerDark {
    background-color: color(input-bg);
    color: color(primary-white);
  }
}
