@import "~/styles/partials/config";

.error {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8.938rem;
   padding: 10rem 7.5rem;
   height: 100vh;

   @include desktop-hd {
      padding-inline: 0;
   }

   @include tablet {
      padding:3.75rem 1.25rem;
   }


   @include mobile {
      padding:3.75rem 1.25rem;
      gap: 3rem;
      height: auto;
   }

   .flexContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8.938rem;

      @include mobile-tablet-p {
         flex-direction: column;
         gap: 3rem;
      }
   }

   .errorLeft div {
      height: 34.625rem;
      width: 100%;
      position: relative;

      @include mobile-tablet-p {
         height:19.43rem;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .errorRight {
      max-width: 35rem;

      @include mobile-tablet-p {
         max-width: 100%;
      }

      .title {
         font-size: text(xl-larger);
         font-weight: 500;
         line-height: 5rem;
         margin-bottom: 1.5rem;
      }

      .subTitle {
         font-size: text(xxxl);
         font-weight: 500;
         line-height: 2.5rem;
         margin-bottom: 2rem;

         @include mobile-tablet-p {
            font-size: text(lg);
            line-height: 2rem;
         }
      }

      .description {
         font-size: text(lg);
         margin-bottom: 0.75rem;
         font-weight: 400;
         line-height: 1.875rem;
         opacity: opacity(dark);
         color: color(text-primary);
      }

      p {
         font-size: text(lg);
         margin-bottom: 0.75rem;
         font-weight: 400;
         line-height: 1.875rem;
         opacity: opacity(dark);
         color: color(text-primary);
      }

      ul {
         list-style: square;
         margin-bottom: 3.75rem;

         @include mobile-tablet-p {
           margin-bottom: 2.75rem
         }

         li {
            @extend .description;
         }
      }

      .errorBtn {
         svg > path {
            stroke: color(primary-white);
         }
      }
   }

   // Dark Mode
   &.errorDark {
      color: color(primary-white);

      p ,ul{
         color: color(primary-white);
      }

      background-color: color(input-bg);

      .errorRight {
         color: color(primary-white);
         
         .title, .subTitle, .description  {
            color: color(primary-white);
         }
      }
   }
}
