@import "~/styles/partials/config";

@mixin jobDetailContainer() {
  padding: spacing(section-primary-padding);
  background-color: color(input-bg);

  @include mobile-tablet-p {
    padding-inline: 2.5rem;
    padding-block: 5rem;
  }
  @include mobile {
    padding: 1.5rem;
  }

  
  .section {
    margin-bottom: 2rem;
    @include mobile {
      margin-bottom: 2.5rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    font-weight: 500;
    font-size: text(lg);
    color: color(primary-white);
    line-height: 2rem;
    margin-bottom: text(lg);

    @include mobile {
      margin-bottom: 0.5rem;
    }
  }
  p {
    font-weight: 400;
    font-size: text(lg);
    color: color(primary-white);
    line-height: 1.8rem;
    opacity: 0.6;
    margin-bottom: 0;
    margin: 0;

    @include mobile {
      font-size: text(normal);
    }
  }
  ul {
    list-style-type: square;
  }
  li {
    font-weight: 400;
    font-size: text(lg);
    color: color(primary-white);
    line-height: 1.8rem;
    opacity: 0.6;

    @include mobile {
      font-size: text(normal);
    }
  }
  .gradientHead {
    font-weight: 500;
    font-size: text(xl);
    line-height: 2rem;
    padding-top: 1rem;
    color: color(heading-liner);
    @include textGradient;
    @include mobile {
      font-size: text(lg);
    }
  }
}

.jobDetailContainer {
  @include jobDetailContainer();
}

//light mode
.lightMode {
  @include jobDetailContainer();
  background-color: color(primary-white);

  h2 {
    color: color(text-primary);
  }
  p {
    color: color(text-primary);
  }
  li {
    color: color(text-primary);
  }
}
