@import "~/styles/partials/config";

.portfolioPageStyle {
  .dropdownStyle {
    padding-inline: spacing(p-120);
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;

    .inputDropPadding {
      width: 100%;
    }

    @include mobile {
      padding: spacing(section-mob-padding-Left-Right);
    }
    .inputDropPadding {
      @include mobile {
        margin-bottom: text(xl);
      }
    }
  }
}
