@import "~/styles/partials/config";

.lestWorkStyle {
  padding: spacing(section-primary-padding);
  @include mobile {
    padding: spacing(section-mob-padding);
  }
  .workArea {
    background-color: color(primary-background);
    padding: 2.5rem;
    border-radius: text(lg);
    @include mobile {
      padding: text(lg);
    }
    .workGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.75rem;
      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
      }
      .contactUsForm {
        .formHeading {
          font-size: 2.75rem;
          font-weight: 500;
          margin-bottom: text(xxxl);
          line-height: 3.375rem;
          display: flex;
          flex-direction: column;
          @include mobile {
            margin-bottom: text(lg);
            line-height: 2.5rem;
          }
          .formTechHighlight {
            color: color(primary-blue);
            background: linear-gradient(
              118deg,
              color(primary-blue) 11.5%,
              color(heading-liner) 55.42%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2.75rem;
            font-weight: 500;
            line-height: 3.375rem;

            @include mobile {
              padding-right: 0;
              font-size: 2rem;
              line-height: 2.5rem;
            }
          }
          @include mobile {
            font-size: text(xxxl);
            line-height: 2.5rem;
            padding-right: 0;
            margin-bottom: text(lg);
          }
        }
        .formText {
          font-size: text(lg);
          font-weight: 400;
          opacity: 0.6;
          padding-right: 12rem;
          margin-bottom: 3.75rem;
          line-height: 1.875rem;
          @include mobile {
            padding: 0;
            font-size: text(normal);
            margin-bottom: 2.5rem;
            line-height: text(xl);
          }
        }

        .contactFormArea {
          .inputSpace {
            margin-bottom: 2.25rem;
            @include mobile {
              margin-bottom: text(lg);
            }
          }
        }

        .policyArea {
          .policyText {
            font-size: text(xxs);
            font-weight: 400;
            line-height: text(lg);
            @include mobile {
              margin-bottom: text(lg);
            }
            .policyHighlight {
              color: color(primary-blue);
              font-size: text(xxs);
            }
          }

          .buttonGrid {
            display: flex;
            justify-content: flex-end;
            @include mobile {
              justify-content: flex-start;
            }
          }
        }
      }
      .contactImg {
        display: flex;
        justify-content: flex-end;
        img {
          max-width: 38rem;
          height: 38.5rem;
          object-fit: cover;
          border-radius: 0.75rem;
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
