@import "~/styles/partials/config";

.lestWorkStyle {
  padding: spacing(section-primary-padding);

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 0 5rem;
  }

  .workArea {
    background-color: color(primary-background);
    padding: 2.5rem;
    border-radius: text(lg);

    @include mobile-tablet-p {
      padding: text(lg);
    }

    .workGrid {
      display: grid;
      grid-template-columns: 55% auto;
      gap: 3.75rem;

      @include mobile-tablet-p {
        display: flex;
        flex-direction: column;
        gap: 0;
      }

      .contactUsForm {
        .formHeading {
          font-size: 2.75rem;
          font-weight: 500;
          margin-bottom: text(xxxl);
          line-height: 3.375rem;
          display: flex;
          flex-direction: column;

          @include mobile-tablet-p {
            font-size: text(xxxl);
            line-height: 2.5rem;
            padding-right: 0;
            margin-bottom: text(lg);
          }

          .formTechHighlight {
            font-size: 2.75rem;
            font-weight: 500;
            line-height: 3.375rem;
            color: color(primary-blue);
            @include textGradient;

            @include mobile-tablet-p {
              padding-right: 0;
              font-size: 2rem;
              line-height: 2.5rem;
            }
          }
        }

        .formText {
          font-size: text(lg);
          font-weight: 400;
          opacity: 0.6;
          margin-bottom: 3.75rem;
          line-height: 1.875rem;
          max-width: 85%;

          @include mobile-tablet-p {
            padding: 0;
            font-size: text(normal);
            margin-bottom: 2.5rem;
            line-height: text(xl);
          }
        }
        .captchaImg {
          margin: 2.5rem 0 2.5rem 0;
          max-width: 100%;
          position: relative;

          .reCaptcha div {
            width: 100% !important;
          }

          iframe {
            width: 100%;
          }
        }

        .policyArea {
          display: flex;
          justify-content: space-between;
          gap: 4rem;

          @include mobile-tablet-p {
            flex-direction: column;
            gap: 2rem;
          }

          .policyText {
            font-size: text(xxs);
            font-weight: 400;
            line-height: text(lg);

            @include mobile-tablet-p {
              margin-bottom: text(lg);
              max-width: 100%;
            }

            .policyHighlight {
              color: color(primary-blue);
              font-size: text(xxs);
              margin-left: 3px;
            }
          }

          .buttonGrid {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            @include mobile-tablet-p {
              justify-content: flex-start;
            }
          }
        }
      }

      .contactImg {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.75rem;
          position: absolute;

          @include mobile-tablet-p {
            display: none;
          }
        }
      }
    }

    .contactFormArea {
      display: grid;
      grid-template-columns: 50% auto;
      gap: 2rem;

      @include mobile-tablet-p {
        display: flex;
        flex-direction: column;
      }

      .inputSpace {
        position: relative;

        &:last-child {
          margin-bottom: 0;
          grid-column: 1 / 3;
        }
      }
    }
  }

  // Dark Mode
  &.lestWorkStyleDark {
    background-color: color(dark-gray);

    .workArea {
      background-color: color(text-primary);
      color: color(primary-white);

      .workGrid {
        .contactUsForm {
          .policyArea {
            .policyText {
              .policyHighlight {
                color: color(info-blue);
              }
            }
          }
        }
      }
    }
  }
}
