@import "~/styles/partials/config";

.jobCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-tablet-p {
    padding-top: 0;
  }

  .cardDiv {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 95%;
    border-radius: 1rem;
    background-color: color(primary-background);
    border: 0.125rem solid rgba(color(text-primary), 0.12);
    @include transition(0.5s);

    &:hover {
      border: 0.125rem solid color(heading-liner);
      cursor: pointer;
    }

    @include mobile-tablet-p {
      padding: 1.25rem;
    }
    
    h1 {
      font-weight: 500;
      font-size: text(xl);
      color: color(text-primary);
      line-height: 2rem;
      padding-bottom: 0.5rem;
    }
    .description {
      font-weight: 400;
      font-size: text(normal);
      color: color(text-primary);
      line-height: 1.5rem;
      opacity: opacity(light);
    }
    .spanDiv {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 2rem;

      @include mobile-tablet-p {
        justify-content: space-between;
      }

      .spanDetail {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        
        span {
          font-weight: 400;
          font-size: text(normal);
          color: color(text-primary);
          line-height: 1.5rem;
          opacity: opacity(light);
        }

        svg path{
          fill: color(text-primary)
        }
      }
    }
  }

  &.darkJobCard {
    .cardDiv {
      background-color: color(text-primary);
      border: 0.125rem solid rgba(color(primary-white), 0.12);
      @include transition(0.5s);

      &:hover {
        border: 0.125rem solid color(heading-liner);
        cursor: pointer;
      }

      h1 {
        color: color(primary-white);
      }

      .description {
        color: color(primary-white);
        opacity: opacity(dark);
      }

      .spanDiv {
        .spanDetail {
          span {
            color: color(primary-white);
            opacity: opacity(dark);
          }
        }
        .spanDetail svg path{
          fill: color(primary-white)
        }
      }
    }
  }
}