
.videoContainer {
  // max-width: 100vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  padding: 0 2rem;
  transform-origin: center top;
}

.video {
  // width: 100%;
  height: 100%;
  // height: 200vh;
  width: 100%;
  will-change: transform;  
}
