@import "~/styles/partials/config";

.ourTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing(section-primary-padding);

  .ourTeamHead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ourTeamTitle {
      font-size: text(normal);
      opacity: 0.8;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      font-family: font(secondary);
      font-weight: 700;
      line-height: 1.5rem;
    }
    .ourTeamHeading {
      font-size: text(larger);
    }
  }
  .titleWrapper {
    width: 40%;
  }
  .tabWrapper {
    border: 2px solid color(heading-liner);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    display: flex;

    button {
      white-space: nowrap;
      span {
        padding: 0 2rem;
        height: 2.375rem;
        align-items: center;
        border-radius: 0.5rem;
        display: inline-flex;

        &.btnActive {
          background-color: color(primary-blue);
          color: color(primary-white);
        }
      }
    }
  }
  .contentWrapper {
    position: relative;
  }
  .teamCards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    margin-top: 3rem;

    .teamCardBg {
      border: 1px solid color(border-light-blue);
      background: linear-gradient(
        328deg,
        color(border-light-blue) 20.24%,
        color(medium-blue) 49.39%,
        color(dark-blue) 102.1%
      );
      background-blend-mode: soft-light, normal;
      height: 32.5rem;
      width: 100%;
      border-radius: 0.7rem;
      overflow: hidden;
      color: color(primary-white);
      position: relative;

      .teamImg {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .cardHead {
        display: flex;
        justify-content: space-between;
        padding: 1.25rem;

        h6 {
          font-size: text(xl);
          font-style: normal;
          font-weight: 500;
        }
        p {
          font-size: text(lg);
          font-weight: 400;
          opacity: 0.6;
        }
      }
      .linkdinIcon {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
      }
    }
  }
}
