@import "~/styles/partials/config";

.ourHistory {
   padding: 3rem 0;
//    border: 1px solid red;
   height: 100vh;
   .ourHistoryTitle {
      color: color(text-primary);
      text-transform: uppercase;
      opacity: 0.8;
   }

   .ourHistorySlider {
      .sliderButtons {
        display: flex;
        gap: 24px;
         .btnPrev {
            border: 1px solid rgba(17, 17, 17, 0.2);
            opacity: 0.6;
            padding: 1.5rem;
            border-radius: 0.5rem;
         }
         .btnNext{
            background-color:color(primary-blue) ;
            padding: 1.5rem;
            border-radius: 0.5rem;
         }
      }
      .OurHistoryImage {
         img {
            border-radius: 0.5rem;
         }
      }
   }
}
