@import "~/styles/partials/config";

.ourHistory {
   padding: 3rem 0;
   height: 100vh;
   // border: 1px solid red;
   margin-bottom: 4rem;
   .ourHistoryTitle {
      color: color(text-primary);
      text-transform: uppercase;
      opacity: 0.8;
      font-size: text(normal);
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 3.2px;
   }
   .ourHistoryHeading {
      font-size: text(larger);
      margin-bottom: 2.75rem;
   }

   .subHeading {
      font-size: text(xxxl);
      font-weight: 500;
      line-height: 40px;
      margin-bottom: 0.5rem;
   }
   .ourHistoryContent {
      opacity: 0.6;
      font-weight: 400;
      font-size: text(lg);
      line-height: 30px;
   }

   .OurHistoryImage {
      img {
         border-radius: 0.5rem;
      }
   }
}
