@import "~/styles/partials/config";

.streamLineWrapper {
  text-align: center;
  background: color(bg-soft);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  //  @include scrollHide;

  @include mobile-tablet-p {
    flex-direction: column;
    background-color: transparent;
  }

  .streamLineSection {
    height: 100vh;
    min-width: 100%;
    background: url("../../../public/images/newPattern.png") no-repeat;
    background-size: 80%;
    background-position: center;

    @include mobile-tablet-p {
      height: auto;
      padding: 5rem 0;
      background-size: contain;
    }

    .flexContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;

      @include tablet {
        height: auto;
        padding: 3.75rem spacing(tablet-padding);
      }
      @include mobile {
        height: auto;
        padding: 3.75rem spacing(mobile-padding);
      }
    }
  }

  .streamlineTitle {
    font-size: 2.75rem;
    font-weight: 500;
    max-width: 41%;
    line-height: 1.3;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
      max-width: 100%;
      margin-bottom: text(xl);
    }

    span {
      font-size: 2.75rem;
      @include textGradient;

      @include mobile-tablet-p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  .streamlineContent {
    font-size: text(lg);
    max-width: 40%;
    margin-bottom: 0;

    @include mobile-tablet-p {
      font-size: text(normal);
      line-height: text(xl);
      max-width: 100%;
    }
  }

  .streamLineCards {
    display: flex;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding: 0 spacing(tablet-padding) 5rem;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      padding: 0 spacing(mobile-padding);
    }

    .streamlineCard {
      width: 31.25rem;
      height: 36.375rem;
      border-radius: 1.25rem;
      border: 0.14rem solid rgba(color(text-primary), 0.12);
      background: color(primary-white);
      text-align: left;
      padding: 2.5rem;
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include transition(0.5s);

      @include mobile-tablet-p {
        width: auto;
        height: auto;
        padding: text(xl);
        margin: 0;
      }

      &:hover {
        border-color: rgba(color(heading-liner), 1);
      }

      .iconStyle {
        width: 140px;
        height: 140px;

        @include mobile {
          width: 75px;
          height: 75px;
          margin-bottom: 2.6875rem;
        }

        img {
          @include mobile-tablet-p {
            width: 75px;
            height: 75px;
            margin-bottom: 2.6875rem;
          }

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .cardIcon {
        margin-bottom: 3.75rem;

        @include mobile-tablet-p {
          margin-bottom: 2.5rem;
        }
      }

      .cardTitle {
        font-size: text(xxxl);
        font-weight: 500;
        line-height: 2.5rem;
        margin-bottom: 0;

        @include mobile-tablet-p {
          font-size: text(lg);
          line-height: 1.75rem;
        }
      }
      .cardContent {
        font-size: text(lg);
        font-weight: 400;
        line-height: 1.875rem;
        opacity: opacity(dark);
        @include truncate(4);

        @include mobile-tablet-p {
          font-size: text(normal);
          line-height: text(xl);
          margin-bottom: 0;
        }
      }

      .contentSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      button {
        margin-top: 2rem;
        @include mobile-tablet-p {
          margin-top: 2.25rem;
        }
      }
    }
  }

  //  Dark Mode
  &.streamlineDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .streamlineCard {
      background: color(input-bg);
      border-color: rgba(color(primary-white), 0.12);
      @include transition(0.5s);

      &:hover {
        border-color: rgba(color(heading-liner), 1);
      }
    }

    .streamlineContent {
      opacity: opacity(dark);
    }
  }
}
