@import "~/styles/partials/config";

.inputContainerStyle {
  width: 100%;

  &.inputContainerStyleDark {
    .floatInput {
      background-color: color(dark-gray);
      border: 1px solid rgba(color(primary-white), 0.12);
      color: rgba(color(primary-white), 0.9);
    }
    .labelCustom {
      color: rgba(color(primary-white), 0.5) !important;
      &::after {
        display: none;
      }
    }
  }

  .floatInput {
    padding: 1.125rem;
    font-size: text(normal);
    border-radius: 0.75rem;
    font-weight: 400;

    &:focus {
      box-shadow: none;
      border: none;
      border-color: transparent;
    }
  }

  .labelCustom {
    font-size: text(normal);
    color: rgba(color(text-primary), 0.5);
    line-height: text(xl);
    font-weight: 400;
    font-family: font(primary);
    padding-inline: 1.125rem;
  }
}
