@import "~/styles/partials/config";

.impact {
  padding: spacing(section-primary-padding);
  background-color: color(bg-soft);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  @include tablet {
    padding: 60px spacing(tablet-padding);
  }

  @include mobile {
    padding: 60px spacing(mobile-padding);
  }

  .headSection {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mobile-tablet-p {
      align-items: start;
    }

    @include mobile {
      margin-bottom: 3.75rem;
    }
  }

  .subHeading {
    font-size: text(normal);
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 1rem;
  }
  .impactHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    text-align: center;

    @include mobile-tablet-p {
      font-size: text(xxxl);
      line-height: 2.5rem;
      max-width: 90%;
      text-align: left;
    }
  }

  .impactTopSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    gap: 8.938rem;
    padding: 2.5rem 0;

    @include tablet {
      gap: 2.938rem;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
      padding: 0;
    }

    .impactImage{
      width: 100%;
    }

    .impactImage div {
      // max-width: 32.5rem;
      width: 100%;
      height: 16.5rem;
      position: relative;
      border-radius: 0.5rem;
      overflow: hidden;
      background: color(dark-bg);

      @include tablet {
        height: 15.813rem;
      }

      @include mobile {
        height: 18.813rem;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .topSectionRight {
      h4 {
        font-size: text(xxxl);
        font-weight: 500;
        line-height: 2.5rem;
        max-width: 90%;
        margin-bottom: 0.75rem;

        @include mobile {
          max-width: 100%;
        }
      }

      ul {
        list-style: square;

        li {
          font-size: text(lg);
          font-weight: 400;
          line-height: 1.875rem;
          opacity: 0.6;
        }
      }

      p {
        font-size: text(lg);
        font-weight: 400;
        line-height: 1.875rem;
        opacity: 0.6;
      }

      button {
        margin-top: 2.5rem;
      }
    }
  }

  .cardSection {
    .impactTopSection {
      &:nth-child(2) {
        flex-direction: column-reverse;
        margin: 3rem 0;
      }
    }
  }

  // Dark Mode
  &.impactDark {
    background-color: color(text-primary);
    color: color(primary-white);
  }
}
