@import "~/styles/partials/config";

.landingBannerStyle {
  padding-inline: spacing(p-120);
  padding-block: 5rem 8.75rem;

  @include mobile {
    padding: spacing(section-mob-padding);
  }

  .title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;

    @include mobile {
      font-size: 2.75rem;
      line-height: 3.5rem;
      margin-bottom: text(xl);
    }

    .titleHighlight {
      font-size: 4rem;
      font-weight: 500;
      margin: 0.5rem;
      color: color(heading-liner);
      background: linear-gradient(
        118deg,
        color(primary-blue) 11.5%,
        color(heading-liner) 55.42%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include mobile {
        font-size: 2.75rem;
        line-height: 3.5rem;
      }
    }
  }
  .leadText {
    font-size: text(lg);
    font-weight: 400;
    opacity: 0.8;
    max-width: 50%;
    @include mobile {
      max-width: 75%;
    }
  }
  .flexCol {
    display: flex;
    justify-content: end;
  }
  .gridCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8.938rem;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
  }
}
