@import "~/styles/partials/config";

.aemSolutionStyle {
  border-radius: 20px;
  padding: 2.5rem;

  @include mobile-tablet-p {
    padding: 1.5rem;
  }

  .formHeading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    line-height: 3.375rem;
    display: flex;
    flex-direction: column;
    color: color(primary-white);

    @include mobile-tablet-p {
      font-size: text(xl);
      line-height: 1.4;
      padding-right: 0;
      margin-bottom: text(lg);
    }
  }

  .formText {
    font-size: text(lg);
    font-weight: 400;
    opacity: opacity(light);
    margin-bottom: 2.5rem;
    line-height: 1.875rem;
    max-width: 100%;
    color: color(primary-white);

    @include mobile-tablet-p {
      padding: 0;
      font-size: text(normal);
      margin-bottom: 2.5rem;
      line-height: text(xl);
    }
  }

  .buttonGrid {
    margin-top: 3rem;
    width: 100%;

    button {
      width: 100%;

      > div {
        line-height: 1.4;
      }
    }
  }


  .contactFormArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include mobile-tablet-p {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // Dark Mode
  &.aemSolutionStyleDark {
    background-color: color(dark-gray);

    .formText {
      opacity: opacity(dark);
    }
  }
}
