@import "./config";

/* Reset all default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: text(normal);
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default image styles */
img {
  display: block;
}

/* Remove default button and input styles */
button,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
