html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 1.9vw;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 1.2vw;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 0.9375vw;
  }
}
