@import "~/styles/partials/config";

// Variables
$step: 100% / 15;
$background: #fafbff;
$button-width: 120px;
$border-radius: 5px;

.landingBannerStyle {
  padding-inline: spacing(p-120);
  padding-top: 11.25rem;
  padding-bottom: 8.75rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: color(primary-orange);
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(13rem);
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: color(circle-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    filter: blur(13rem);
    opacity: 0.3;
  }

  @include mobile-tablet-p {
    padding: 5rem 1.25rem;

    &::after, &::before {
      width: 20rem;
      height: 20rem;
      border-radius: 0%;
    }
  }

  .title {
    font-size: text(xxl-larger);
    font-weight: 500;
    margin: 0 0 5rem;
  
    @include mobile-tablet-p {
      font-size: text(larger);
      margin: 0 0 2.188rem;
      line-height: 50px;
    }
    
    .contentContainer {
      font-size: text(xxl-larger);
      font-weight: 500;
      display: flex;
      gap: 1.25rem;

      @include mobile-tablet-p {
        flex-wrap: wrap;
        font-size: text(larger);
        margin: 0 0 2.188rem;
        line-height: 55px;
        gap: 0;
      }
      
    }
    .contentContainer > span {
      font-size: text(xxl-larger);
      font-weight: 500;

      @include mobile{
        font-size: text(larger);
      }
    }
    .slider {
      display: inline-block;
    }
    .slider .text {
      color: color(primary-white);
      font-size: text(xxl-larger);
      font-weight: 500;
      color: color(heading-liner);
      @include textGradient;
      
      @include mobile-tablet-p {
        font-size: text(larger);
        line-height: normal;
      }
    }
  }

  &.landingBannerDark {
    background-color: color(input-bg);

    &:after,
    &::before {
      z-index: 9;
      opacity: 0.18;
    }

    .title {
      color: color(primary-white);
    }
  }

}
