@import "~/styles/partials/config";
$step: 100% / 15;
$background: #fafbff;
$button-width: 120px;
$border-radius: 5px;

.landingBannerStyle {
  padding-inline: spacing(p-120);
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-block: 5rem 8.75rem;

  &::before {
    content: "";
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: color(primary-orange);
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(13rem);
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: color(circle-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    filter: blur(13rem);
    opacity: 0.3;
  }

  &.landingBannerDark {
    background-color: color(input-bg);

    &:after,
    &::before {
      z-index: 9;
      opacity: 0.18;
    }

    .title {
      color: color(primary-white);
    }
  }

  @include mobile {
    padding: spacing(section-mob-padding);
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }

  .title {
    font-size: text(xxl-larger);
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 5rem;

    @include mobile {
      font-size: text(larger);
      line-height: 3.5rem;
      margin: 0 0 2.188rem;
    }
    .conatiner{
      display: grid; 
      grid-template-columns: auto auto auto auto; 
      grid-gap: 20px; 
    }
    .conatiner >div{
      font-size: text(xxl-larger);
      font-weight: 500;
      line-height: 1;


    }
    .slider {
      height: 118px;
      overflow: hidden;
      padding: 0 10px;
      display: inline-block;
    }
    .slider > div {
      box-sizing: border-box;
      color: #FFF;
      //height: 120px;
      font-size: text(xxl-larger);
      font-weight: 500;
      line-height: 2;
      color: color(heading-liner);
      background: linear-gradient(
        118deg, 
        color(primary-blue) 11.5%,
        color(heading-liner) 55.42%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include mobile {
        font-size: text(larger);
        line-height: 3.5rem;
      }
    }

    // .titleHighlight {
    //   font-size: text(xxl-larger);
    //   font-weight: 500;
    //   color: color(heading-liner);
    //   background: linear-gradient(
    //     118deg,
    //     color(primary-blue) 11.5%,
    //     color(heading-liner) 55.42%
    //   );
    //  @include textGradient;

    //   // @include mobile {
    //   //   font-size: text(larger);
    //   //   line-height: 3.5rem;
    //   // }
    // }
    .text1 {
      animation: slide 10s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
   } 
   .text2 {
    padding: 4px 0px;
  } 
  @keyframes slide {
    // 0% { margin-top: -300px; }
    // 5% { margin-top: -200px; }
    // 33% { margin-top: -200px; }
    // 38% { margin-top: -100px; }
    // 66% { margin-top: -100px; }
    // 72% { margin-top: -0; }
    // 100% { margin-top: 0; }
    0% { margin-top: -525px; }
    5% { margin-top: -444px; }
    33% { margin-top: -444px; }
    38% { margin-top: -250px; }
    66% { margin-top: -250px; }
    72% { margin-top: -50px; }
    100% { margin-top: -50px; }
  }
  }
}
