@import "~/styles/partials/config";

.tczLife {
  background-color: color(bg-soft);
  padding-block: spacing(section-primary-padding);
  padding-left: spacing(p-120);
  overflow: hidden;
  position: relative;

  @include mobile-tablet-p {
    padding: 0 0 3.75rem;
  }

  @include desktop-hd {
    padding-inline: 0;
  }

  .tczLifeSliderSection {
    width: 100%;

    @include desktop-hd {
      max-width: 1440px;
      margin-inline: auto;
    }

    .sliderSection {
      padding: 0;
      position: absolute;
      right: 0;

      @include mobile-tablet-p {
        position: relative;
        margin-top: 3.75rem;
        padding-left: 2.25rem;
        padding-right: 0;
      }
    }

    .tczActionSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 23.25rem;

      @include mobile-tablet-p {
        margin: 3.75rem 1.25rem 0;
        min-width: auto;
      }
    }

    .tczLifeTitle {
      font-size: text(normal);
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
      margin-bottom: 1rem;

      @include mobile-tablet-p {
        margin-bottom: 0.75rem;
        line-height: text(normal);
      }
    }

    .tczLifeHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 3.375rem;

      @include mobile-tablet-p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      span {
        font-size: text(larger);
        @include textGradient;
        @include mobile-tablet-p {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }
  }

  .videoWhapper {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 47vw;
      height: 264px;
      position: relative;
      overflow: hidden;

      @include mobile-tablet-p {
        height: 139px;
        width: 100vw;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .videoButton {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 60px;
      height: 60px;
      @include transition(0.5s);
    }

    &:hover {
      .videoButton {
        scale: 1.15;
      }
    }
  }

  .tczLifeContent {
    margin-top: 5rem;
    max-width: 85vw;

    @include desktop-hd {
      max-width: 1440px;
      margin-inline: auto;
    }

    @include mobile-tablet-p {
      margin-top: 3.75rem;
      min-width: 100%;
      padding: 0 1.25rem;
    }

    p {
      font-size: text(lg);
      font-weight: 400;
      line-height: 1.875rem;
      opacity: 0.6;
      margin-bottom: 0;

      @include mobile-tablet-p {
        font-size: text(normal);
        line-height: text(xl);
      }
    }
  }

  .sliderArrow {
    display: flex;
    gap: 24px;
    margin-top: 3.5rem;

    .button {
      background-color: color(primary-blue);
      padding: 0;
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    svg > path {
      stroke: color(primary-white);
    }
  }

  .arrowDisabled {
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: 0.14rem solid rgba(color(text-primary), 0.2);
    color: color(primary-blue);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg > path {
      stroke: color(primary-black);
    }
  }

  //Dark mode style
  &.tczLifeDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .arrowDisabled {
      border: 0.14rem solid rgba(color(primary-white), 0.2);

      svg > path {
        stroke: color(primary-white);
      }
    }

    .sliderArrow {
      .button {
        background-color: color(info-blue);
      }
    }
  }
}
