@import "~/styles/partials/config";

.tczLife {
  background-color: color(bg-soft);
  padding-block: spacing(section-primary-padding);
  padding-left: spacing(p-120);
  margin-top: 8.75rem;
  overflow: hidden;

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  @include desktop-hd {
    padding-inline: 0;
  }

  .tczLifeSliderSection {
    width: 100%;

    @include desktop-hd {
      max-width: 1440px;
      margin-inline: auto;
    }

    .sliderSection {
      padding: 0;
    }

    .tczActionSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 23.25rem;
    }

    .tczLifeTitle {
      font-size: text(normal);
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: 0.8;
      margin-bottom: 1rem;
      @include mobile-tablet-p {
        margin-bottom: 0.75rem;
        line-height: text(normal);
      }
    }

    .tczLifeHeading {
      font-size: text(larger);
      font-weight: 500;
      line-height: 3.375rem;
      @include mobile-tablet-p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      span {
        font-size: text(larger);
        background: var(
          --Gradient,
          linear-gradient(118deg, #1e8af2 11.5%, #05bed7 55.42%)
        );
<<<<<<< HEAD
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include mobile-tablet-p {
          font-size: 2rem;
          line-height: 2.5rem;
        }
=======
        @include textGradient;
>>>>>>> 16335d14b88b1b6be3765cefd85a3f02d5fb12d6
      }
    }
  }

  .videoWhapper {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;

    div {
      width: 470px;
      height: 264px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tczLifeContent {
    margin-top: 5rem;
    max-width: 85vw;

    @include mobile-tablet-p {
      margin-top: 3.75rem;
    }
    @include desktop-hd {
      max-width: 1440px;
      margin-inline: auto;
    }

    p {
      font-size: text(lg);
      font-weight: 400;
      line-height: 1.875rem;
      opacity: 0.6;
      margin-bottom: 0;

      @include mobile-tablet-p {
        font-size: text(normal);
        line-height: text(xl);
      }
    }
  }

  .sliderArrow {
    display: flex;
    gap: 24px;

    .button {
      background-color: color(primary-blue);
      padding: 0;
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    svg {
      width: 18px;
      height: 18px;
    }

    svg > path {
      stroke: color(primary-white);
    }
  }

  .arrowDisabled {
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(color(text-primary), 0.20);
    color: color(primary-blue);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg > path {
      stroke: color(primary-black);
    }
  }

  //Dark mode style
  &.tczLifeDark {
    background-color: color(dark-bg);
    color: color(primary-white);
  }
}
