@import "~/styles/partials/config";

$c: #ce2b37;
$s: 10px;

.globalPresenceStyle {
  background-color: color(bg-soft);
  padding-block: 8.75rem 8.75rem;
  position: relative;

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  .globalStackBox {
    .globalRow {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 5rem;

      .globalHeading {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        margin-bottom: text(normal);
        color: color(heading-liner);
        @include textGradient;

        @include mobile-tablet-p {
          font-size: text(xxxl);
          line-height: 2.5rem;
          padding-right: 0;
          margin-bottom: text(normal);
        }
      }
      .globalText {
        font-size: text(lg);
        font-weight: 400;
        line-height: 1.875rem;
        max-width: 588px;
        margin: 0 auto;
        @include mobile-tablet-p {
          font-size: text(normal);
          line-height: text(xl);
        }
      }
    }
    .contactMap {
      position: relative;

      .mapImage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        opacity: 0.2;

        @include mobile-tablet-p {
          height: auto;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          @include mobile-tablet-p {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .locationPopoverCard {
    padding: 2rem;
    border: 0.14rem solid color(heading-liner);
    background: color(bg-soft);
    text-align: center;
    max-width: 16rem;
    border-radius: text(lg);
    
    @include mobile-tablet-p {
      max-width: 100%;
      padding: text(lg);
    }

    .popoverMapIcon {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: center;
      img {
        height: auto;
      }
    }
    .locationHeading {
      font-size: text(lg);
      font-weight: 500;
      line-height: 1.875rem;
      margin-bottom: 0.25rem;
    }
    .locationAreaText {
      font-size: text(normal);
      font-weight: 400;
      line-height: text(xl);
      margin-bottom: 0;
    }
  }

  .popoverCardMobile {
    .locationPopoverCard {
      margin-bottom: text(lg);
      border: 0.14rem solid color(border-darker);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .popoverContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popoverStyle {
    position: absolute;
    top: 0;
    z-index: 99;
  }

  &.globalPresenceBannerDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .locationPopoverCard {
      background-color: color(input-bg);
      color: color(primary-white);
      @include mobile-tablet-p {
        border: 0.14rem solid color(bg-soft);
      }
    }

    .contactMap > div {
      img {
        filter: contrast(0) brightness(100);
      }
    }
  }

  .dotSec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px 0;
    position: absolute;
    
    &:nth-child(1) {
      bottom: 273px;
      left: 7vw;
      flex-direction: column;
    }

    &:nth-child(2) {
      top: 170px;
      left: -58px;
      right: 0;
      flex-direction: column;
    }

    &:nth-child(3) {
      top: 250px;
      right: 0;
      left: 590px;
      gap: 20px 20px;
    }

    &:nth-child(4) {
      bottom: 43%;
      right: 0;
      left: 520px;
      gap: 20px 20px;
    }

    &:nth-child(5) {
      bottom: 199px;
      right: 0;
      left: 340px;
      flex-direction: column;
    }


    // Location Dot.
    .locationDot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 10px;
      background-color: color(info-blue);
      border-radius: 50%;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        width: inherit;
        height: inherit;
        border: 5px solid color(info-blue);
        border-radius: inherit;
        position: absolute;
        z-index: -10;
        opacity: 0;
        animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
        animation-delay: 1s;
      }
    }
  }

  @keyframes expand {
    1% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 500%;
      height: 500%;
      opacity: 0;
      border-color: #fff;
      background-color: none;
      border-width: 2px;
    }
  }
}
