@import "~/styles/partials/config";

.globalPresenceStyle {
  background-color: color(bg-soft);
  padding-block: 8.75rem 8.75rem;

  .globalStackBox {
    .globalRow {
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .globalHeading {
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.375rem;
        margin-bottom: text(normal);
        color: color(heading-liner);
        background: linear-gradient(
          118deg,
          color(primary-blue) 11.5%,
          color(heading-liner) 55.42%
        );
        @include textGradient;
        @include mobile {
          font-size: text(xxxl);
          line-height: 2.5rem;
          padding-right: 0;
          margin-bottom: text(lg);
        }
      }
      .globalText {
        font-size: text(lg);
        font-weight: 400;
        line-height: 1.875rem;
        margin-bottom: 5rem;
      }
    }
    .contactMap {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .locationPopoverCard {
      padding: 2rem;
      border: 0.063rem solid color(heading-liner);
      background: color(bg-soft);
      text-align: center;
      max-width: 16rem;
      border-radius: text(lg);
      .popoverMapIcon {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        img {
          height: auto;
        }
      }
      .locationHeading {
        font-size: text(lg);
        font-weight: 500;
        line-height: 1.875rem;
        margin-bottom: 0.25rem;
      }
      .locationAreaText {
        font-size: text(normal);
        font-weight: 400;
        line-height: text(xl);
        margin-bottom: 0;
      }
    }
  }
}
