@import "~/styles/partials/config";

.mobileSlider {
  .sliderArrow {
    display: flex;
    gap: 24px;
    margin-top: 3.5rem;
    background-color: color(primary-blue);
    padding: 0;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: flex !important;
    justify-content: center;
    align-items: center;

    @include mobile-tablet-p {
      border-radius: 0.25rem;
    }
    
    svg {
      width: 18px;
      height: 18px;
    }

    svg > path {
      stroke: color(primary-white);
    }
  }

  .arrowDisabled {
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: 0.14rem solid rgba(color(text-primary), 0.2);
    color: color(primary-blue);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;

    svg > path {
      stroke: color(primary-black);
    }
  }

  //Dark mode style
  &.mobileSliderDark {
    .arrowDisabled {
      border-color: rgba(color(primary-white), 0.2);

      svg > path {
        stroke: color(primary-white);
      }
    }

    .sliderArrow {
  
      .button {
        background-color: color(info-blue);
      }
    }
  }
}
