@import "~/styles/partials/config";

.consistent {
  background-color: color(bg-soft);
  padding: spacing(section-primary-padding);
  position: relative;

  @include mobile-tablet-p {
    padding: spacing(section-mob-padding);
    padding-block: 3.75rem 3.75rem;
  }

  .consistentImg {
    margin-bottom: 5rem;
    position: relative;
    
    img {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .contentSec {
    display: flex;
    gap: 8.938rem;
    @include mobile-tablet-p {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .consistentTitle {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
    margin-bottom: 0;

    @include mobile-tablet-p {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    span {
      font-size: text(larger);
      font-weight: 500;
      color: color(heading-liner);
      @include textGradient;

      @include mobile-tablet-p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  .consistentText {
    font-size: text(lg);
    font-weight: 400;
    line-height: 1.875rem;
    opacity: 0.6;
    margin-bottom: 2.5rem;

    @include mobile-tablet-p {
      font-size: text(normal);
      line-height: text(xl);
      margin-bottom: 2.25rem;
    }
  }

  &.consistentDark {
    background-color: color(dark-bg);
    color: color(primary-white);

    .consistentImg {
      margin-bottom: 5rem;
      position: relative;
  
      &::before {
        background-color: color(text-primary);
      }
    }  
  }
}
.consistentImgContainer{
  overflow: hidden;
}