@import "./partials/config";
@import "./partials/resets";
@import "./partials/typography";
@import "./partials/mixins";

* {
  @include scrollbarCustom;
}

html,
body {
  font-family: font(primary);
  font-size: 16px;
}

a {
  text-decoration: none;
}

.service-mobile-slider {
  @include desktop {
    display: none;
  }
  .slick-slider {
    .slick-arrow {
      z-index: 2;
      &::before {
        content: "";
        background-image: url("../public/images/slide-icon.svg");
        background-repeat: no-repeat;
        background-size: 1.625rem;
        position: absolute;
        top: 0;
        width: 1.625rem;
        height: 1.625rem;
        z-index: 2;
      }

      &::after {
        @include mobile-tablet-p {
          display: none;
        }
      }
    }

    .slick-next {
      right: 5.5rem;

      &::before {
        right: 0.1rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.25rem;
        background: linear-gradient(
          to right,
          rgba(24, 24, 24, 0.15) 30.64%,
          color(secondary-background) 68.39%
        );
      }
    }

    .slick-prev {
      left: 5.3rem;
      &::before {
        transform: rotate(180deg);
        position: absolute;
        z-index: 2;
        top: 0;
        left: -0.5rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.5rem;
        background: linear-gradient(
          to left,
          rgba(24, 24, 24, 0.5) 0.36%,
          color(secondary-background) 28.39%
        );
      }
    }
  }

  // .slick-list {
  //   padding-left: 7.5rem;
  // }
}

// .slider {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 0.9375rem;
// }

.digital-transformation {
  .slick-slider {
    .slick-arrow {
      z-index: 2;
      &::before {
        content: "";
        background-image: url("../public/images/slide-icon.svg");
        background-repeat: no-repeat;
        background-size: 1.625rem;
        position: absolute;
        top: 0;
        width: 1.625rem;
        height: 1.625rem;
        z-index: 2;
        display: none;
      }

      &::after {
        @include mobile-tablet-p {
          display: none;
        }
      }
    }

    .slick-next {
      right: 5.5rem;

      &::before {
        right: 0.1rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.25rem;
        background: linear-gradient(
          to right,
          rgba(24, 24, 24, 0.15) 30.64%,
          color(secondary-background) 68.39%
        );
      }
    }

    .slick-prev {
      left: 5.3rem;
      &::before {
        transform: rotate(180deg);
        position: absolute;
        z-index: 2;
        top: 0;
        left: -0.5rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.5rem;
        background: linear-gradient(
          to left,
          rgba(24, 24, 24, 0.5) 0.36%,
          color(secondary-background) 28.39%
        );
      }
    }

    .slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
    .slick-dots {
      bottom: 0px;
      li {
        width: 0.75rem;
        height: 0.75rem;
        margin: 0 1.25rem 0 0;

        button {
          width: 0.75rem;
          height: 0.75rem;
          background: #dedede;
          border-radius: 3.125rem;
          font-size: 0px;

          &::before {
            width: 1.25rem;
            height: 1.25rem;
            display: none;
          }
        }
      }

      @include mobile {
        position: relative;
        top: 0;
        padding-bottom: 20px;
      }
      .slick-active {
        button {
          background-color: #adadad;
          width: 20px;
          height: 20px;
        }
      }
    }

    // .slick-list {
    //   padding-left: 7.5rem;
    // }
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9375rem;
  }
}

.primary-padding {
  padding: 0 8.5rem 0 7.8rem;
  .primary-padding {
    padding: 0 8.5rem 0 7.8rem;

    @include mobile {
      padding: 0 1.25rem;
    }
  }
}

.modeBtn {
  margin: 0 1rem;
  input {
    border: 0.063rem solid color(text-primary);

    &:focus {
      box-shadow: none;
      border: 0.063rem solid color(text-primary);
    }
    &:checked {
      background-color: color(text-primary);
      border-color: color(text-primary);
    }
  }
}

.ourHistorySlider {
  // border: 1px solid red;

  .slick-arrow {
    background-color: color(primary-blue);
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  .slick-prev {
    left: 1px;
    top: 22rem;
    z-index: 999;

    &::before {
      content: "";
      background: url("../public/images/img/prev.svg");
    }
  }
  .slick-next {
    top: 22rem;
    left: 6rem;

    &::before {
      content: "";
      background: url("../public/images/img/next.svg");
    }
  }
  .slick-prev:before,
  .slick-next:before {
    background-repeat: no-repeat;
    padding: 12px;
    opacity: 1;
    right: 0.4rem;
    top: 0.2rem;
    position: relative;
  }

  .slick-arrow.slick-disabled {
    border: 1px solid rgba(17, 17, 17, 0.2);
    background-color: transparent;
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
  }
//   .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
//     color: color(primary-white);
//     outline: none;
//     background: color(primary-blue);
// }
  .slick-prev:hover, .slick-next:hover {
    color: color(primary-white);
    outline: none;
    background: color(primary-blue);
}

  .slick-dots {
    bottom: -7rem;
    border-bottom: 1px dashed #a0a0a0;
    width: 100vw;
    left: -12%;

    li {
      margin: 0 6rem;
    }
  }

  .slick-dots li button:before {
    font-size: 1rem;
    top: 0.7rem;
    z-index: 99;
  }
  .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: color(info-blue);
    border: 1px solid color(info-blue);
    border-radius: 50%;
    padding: 1.1rem 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.2rem;
  }

  .slick-dots li button:hover:before, .slick-dots li button:focus:before {
     opacity: 0.75rem;
    color: color(info-blue);

}
}

/* Create four equal columns that sits next to each other */
// .column {
//   flex: 25%;
//   max-width: 25%;
//   padding: 0 4px;
// }

// .column img {
//   margin-top: 8px;
//   vertical-align: middle;
//   width: 100%;
// }
