@import "./partials/config";
@import "./partials/resets";
@import "./partials/typography";
@import "./partials/mixins";
@import "./partials/xtras";

// Slick Slider
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  @include scrollbarCustom;
}

html,
body {
  font-family: font(secondary);
  font-size: 1rem;
  color: color(text-primary);

  .dark {
    background-color: color(dark-gray);
  }

  @include desktop-4k {
    zoom: 1.15;
  }
}

// main-container
.main-container {
  
  @include mobile {
    overflow-x: hidden;
    padding-top: 70px;
  }
}

// Heading Style
h1,
h2,
h3,
h4,
h5 {
  font-family: font(primary);
}

h6 {
  font-family: font(secondary);
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
}

.overflow-hidden {
  overflow-x: hidden;
}

.asset-white {
  filter: contrast(0) brightness(100);
}

// space
.mt-120 {
  margin-top: 7.5rem;
}

.mb-120 {
  margin-bottom: 7.5rem;
}

.pt-120 {
  padding-top: 7.5rem;
}

.pt-80 {
  padding-top: 5rem;
}

.pb-80 {
  padding-bottom: 5rem;
}

.mt-80 {
  margin-top: 5rem;
}

.mb-80 {
  margin-bottom: 5rem;
}

// Space End

// Primary Container
.primary-container {
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px color(text-primary) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: color(primary-white) !important;
}

// Span Gradient
.gradient-text {

  span {
    @include textGradient;
    font-size: 1em;
  }
}

.digital-transformation {
  .slick-slider {
    .slick-arrow {
      z-index: 2;
      &::before {
        content: "";
        background-image: url("../public/images/slide-icon.svg");
        background-repeat: no-repeat;
        background-size: 1.625rem;
        position: absolute;
        top: 0;
        width: 1.625rem;
        height: 1.625rem;
        z-index: 2;
        display: none;
      }

      &::after {
        @include mobile-tablet-p {
          display: none;
        }
      }
    }

    .slick-next {
      right: 5.5rem;

      &::before {
        right: 0.1rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.25rem;
        background: linear-gradient(
          to right,
          rgba(24, 24, 24, 0.15) 30.64%,
          color(secondary-background) 68.39%
        );
      }
    }

    .slick-prev {
      left: 5.3rem;
      &::before {
        transform: rotate(180deg);
        position: absolute;
        z-index: 2;
        top: 0;
        left: -0.5rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.5rem;
        background: linear-gradient(
          to left,
          rgba(24, 24, 24, 0.5) 0.36%,
          color(secondary-background) 28.39%
        );
      }
    }

    .slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
    .slick-dots {
      bottom: 0;
      li {
        width: 0.75rem;
        height: 0.75rem;
        margin: 0 1.25rem 0 0;

        button {
          width: 0.75rem;
          height: 0.75rem;
          background: rgba(#adadad, 0.4);
          border-radius: 3.125rem;
          font-size: 0px;
          @include transition(0.5s);

          &::before {
            width: 1.25rem;
            height: 1.25rem;
            display: none;
          }
        }
      }

      @include mobile {
        position: relative;
        top: 0;
        padding-bottom: 1.5rem;
      }
      .slick-active {
        button {
          background-color: #adadad;
          transform: scale(1.7);
        }
      }
    }
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9375rem;
  }
}

.testimonial-style {
  .testimonials-slider {
    position: relative;

    @include mobile {
      margin-top: 3.75rem;
    }

    .swiper-slide {
      border: 0.14rem solid rgba(color(text-primary), 0.12);
      border-radius: 0.75rem;
      overflow: hidden;
      width: 29.875rem;
      max-width: 29.875rem;

      @include mobile {
        max-width: 100%;
      }
    }

    .swiper-slide-shadow-right {
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.5) 0.61%,
        #ffffff 61.29%
      ) !important;
    }
  }

  .swiper-slide-active {
    transform: none !important;
  }

  .swiper-slide-shadow-left {
    background-color: color(primary-white);
    box-shadow: none;
    background-image: none !important;
  }

  .swiper-slide-prev {
    border: none !important;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-back.swiper-button-disabled {
    background: transparent;
    border-color: color(primary-black);

    svg {
      filter: none;
    }
  }

  .btn-move.swiper-button-disabled {
    background: transparent;
    border-color: color(primary-black);
    svg {
      filter: invert(1);
    }
  }

  .btn-arrow {
    background-color: color(primary-blue);
    border-color: color(primary-blue);

    &:hover,
    &:focus {
      background-color: color(primary-blue);
      border-color: color(primary-blue);
    }
  }
}


.testimonials-style-dark.testimonial-style {
  .swiper-slide-shadow-right {
    background-image: linear-gradient(
      90deg,
      rgba(color(primary-black), 0) 0,
      rgba(color(primary-black), 0.6) 0.61%,
      black 61.29%
    ) !important;
  }

  .swiper-slide-shadow-left {
    background-color: color(input-bg);
  }

  .btn.swiper-button-disabled {
    border-color: rgba(color(primary-white), 0.2);

    svg {
      path {
        stroke: rgba(color(primary-white), 0.6);
      }
    }
  }

  .btn-arrow {
    background-color: color(info-blue);
    border-color: color(info-blue);

    &:hover,
    &:focus {
      background-color: color(info-blue);
      border-color: color(info-blue);
    }
  }

  .btn.swiper-button-disabled {
    border-color: rgba(color(primary-white), 0.2);
    background-color: transparent;

    svg {
      filter: none;
      path {
        stroke: rgba(color(primary-white), 0.6);
      }
    }
  }
}

.primary-padding {
  padding: 0 8.5rem 0 7.8rem;

  .primary-padding {
    padding: 0 8.5rem 0 7.8rem;

    @include mobile {
      padding: 0 1.25rem;
    }
  }
}

.modeBtn {
  margin: 0 1rem;

  input {
    border: 0.14rem solid color(text-primary);

    &:focus {
      box-shadow: none;
      border: 0.14rem solid color(text-primary);
    }
    &:checked {
      background-color: color(text-primary);
      border-color: color(text-primary);
    }
  }
}

.ourHistorySlider {
  margin-top: 6.25rem;

  @include mobile-tablet-p {
    margin: 1.5rem 0;
  }

  .slick-dots {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    left: 0;
    display: flex !important;
    justify-content: space-between;

    .yearCount {
      color: color(bg-gray);
      position: absolute;
      top: -2.875rem;
      left: 0;
    }

    &::after {
      content: "";
      width: 100vw;
      height: 0.063rem;
      border: 0.14rem dashed color(bg-gray);
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 1rem;
    }

    li {
      width: 2.125rem;
      height: 2.125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      z-index: 9;
      border: 0.14rem solid transparent;

      button {
        padding: 0;
        width: 1rem;
        height: 1rem;
        background-color: color(bg-gray);
        border-radius: 50%;

        &::before {
          font-size: 0;
        }
      }
    }

    .slick-active {
      border: 0.14rem solid color(info-blue);
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      button {
        background-color: color(info-blue);
      }
      .yearCount {
        color: color(info-blue);
        top: -2.875rem;
      }
    }

  }
}

.dark-ourHistory {
  .ourHistorySlider {
    .slick-disabled {
      background-color: transparent;
      border-color: rgba(color(primary-white), 0.2);

      svg {
        path {
          stroke: rgba(color(primary-white), 0.5);
        }
      }
    }
  }
}

.scroll-gallery-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 0.625rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
  }

  .card-2 {
    grid-row: 1/3;
    height: 31.875rem !important;

    div {
      height: 100% !important;
    }
  }

  .card-5 {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  .card-6 {
    grid-row: 2/2;
  }
  .card-7 {
    grid-row: 2/2;
  }
}
.captionCardSection {
  .grid-0,
  .grid-5 {
    grid-column: 1 / 3;
    @include mobile-tablet-p {
      grid-column: auto;
    }
    img {
      min-height: 50rem;
      @include mobile-tablet-p {
        min-height: auto;
      }
    }
  }

  .grid-0,
  .grid-5 {
    .imgBox div {
      min-height: 43.25rem;

      @include mobile-tablet-p {
        min-height: auto;
      }
    }
  }

  .card {
    .imgBox div {
      @include mobile-tablet-p {
        min-height: 10.875rem;
        max-height: 10.875rem;
      }
    }
  }
}

.related-case-slider {
  .slick-dots {
    justify-content: space-between;
    bottom: -50px;
    position: relative;

    @include mobile-tablet-p {
      display: flex !important;
    }

    &::before {
      height: 1px;
      content: "";
      width: 100%;
      top: 1.5px;
      position: absolute;
      background-color: rgba(color(primary-white), 0.2);
    }

    li {
      width: 100%;
      margin: 0;

      button {
        padding: 0;
        width: 100%;

        &::before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background: linear-gradient(
            124.4deg,
            color(primary-blue) 0%,
            color(heading-liner) 89.84%
          );
          height: 4px;
          border-radius: 0.5rem;
        }
      }
    }

    @include desktop {
      display: none !important;
    }
  }

  .slick-track {
    @include desktop-hd {
      max-width: 1440px;
      display: flex;
      white-space: nowrap;
    }
  }
}

// Technology Values
.technology-value {
  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: auto;
    bottom: 0;
  }

  .slide-thumb-grid {
    cursor: pointer;

    @include mobile-tablet-p {
      margin-top: 2rem;
    }

    .progress-bar-animation {
      position: relative;
      width: 100%;
      height: 2px;
      background: rgba(color(text-primary), 0.2);
      margin-bottom: 10px;
    }

    .swiper-slide-thumb-active {
      position: relative;

      .progress-bar-animation {
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          transition-property: width;
          animation: progress 8s alternate;
          background: color(info-blue);
          z-index: 1;
        }
      }
    }

    @keyframes progress {
      0% {
        width: 0%;
      }

      100% {
        width: 100%;
      }
    }

    .swiper-wrapper {
      @include mobile-tablet-p {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .swiper-slide {
          width: 100% !important;
        }
      }
    }
  }
}

.technology-value.technology-value-dark .progress-bar-animation {
  background: rgba(color(primary-white), 0.2);
}

.tczLifeSlider {
  .slick-track {
    display: flex;
  }

  /* the slides */
  .slick-slide {
    margin: 0 15px;
  }

  /* the parent */
  .slick-list {
    margin: 0 -15px;
  }

  .slick-disabled {
    background-color: color(bg-soft);
    border: 0.14rem solid rgba(color(text-primary), 0.5);

    &:hover {
      background-color: color(primary-white);
    }

    svg {
      path {
        stroke: rgba(color(text-primary), 0.5);
      }
    }
  }
}

.insight-explore-slider {
  .slick-arrow {
    background-color: color(primary-blue);
    border-radius: 0.5rem;
    padding: 0.8rem 0.9rem;
    width: 3rem;
    height: 3rem;

    &:hover {
      background-color: color(primary-blue);
    }

    svg {
      width: 1.2rem;
    }

    &::before {
      display: none;
    }
  }

  .slick-prev {
    left: auto;
    right: 150px;
    top: -12vh;

    svg {
      transform: rotate(-180deg);
    }
    @include mobile-tablet-p {
      top: 16vh;
    }
    @include mobile {
      top: 11vh;
    }
  }

  .slick-next {
    right: 65px;
    left: auto;
    top: -12vh;
    @include mobile-tablet-p {
      top: 16vh;
    }
    @include mobile {
      top: 11vh;
    }
  }

  .slick-disabled {
    background-color: color(primary-white);
    border: 0.14rem solid rgba(color(text-primary), 0.5);

    &:hover {
      background-color: color(primary-white);
    }

    svg {
      path {
        stroke: rgba(color(text-primary), 0.5);
      }
    }
  }

  .slick-track {
    display: flex;
    gap: 30px;
  }
}

.custom-dropdown {
  .react-select__control {
    background-color: color(primary-white);
  }
}

.dark-theme-style {
  &.custom-dropdown {
    .react-select__control {
      background-color: color(dark-gray);
    }
  }
}

// Project Slider
.project-slider {
  .swiper-pagination {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .swiper-pagination-bullet {
      width: 100%;
      border-radius: 0;
      background-color: rgba(color(primary-white), 0.4);
      text-indent: -9999px;
      height: 1px;
      margin: 0 !important;
    }

    .swiper-pagination-bullet-active {
      height: 6px;
      border-radius: 8px;
      background: linear-gradient(
        124.4deg,
        color(primary-blue) 0%,
        color(heading-liner) 89.84%
      );
    }
  }
}

.dark .project-slider {
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: rgba(color(text-primary), 0.4);
    }
  }
}

// Smooth Scroll Style here
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
// Smooth Scroll Style End here

// logo-animation
.logo-animation {
  .slick-list {
    margin: 0 -50px;
  }
  .slick-slide > div {
    padding: 0 50px;
  }
}

// Error Page
.error-page {
  header,
  footer {
    display: none;
  }

  .main-container {
    padding: 0;
  }
}


// Grid Marquee Gallery
.gridMarqueeGallery {

  .slick-track .slick-slide {

    @include mobile-tablet-p {
      // width: auto !important;
    }
  }
}


// Video block
.video-block {
  width: 100%;
  height: 100%;
}