@import "./partials/config";
@import "./partials/resets";
@import "./partials/typography";
@import "./partials/mixins";

// Slick Slider
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

* {
  @include scrollbarCustom;
}

html,
body {
  font-family: font(secondary);
  font-size: 16px;
}

a {
  text-decoration: none;
}

.service-mobile-slider {
  @include desktop {
    display: none;
  }
  .slick-slider {
    .slick-arrow {
      z-index: 2;
      &::before {
        content: "";
        background-image: url("../public/images/slide-icon.svg");
        background-repeat: no-repeat;
        background-size: 1.625rem;
        position: absolute;
        top: 0;
        width: 1.625rem;
        height: 1.625rem;
        z-index: 2;
      }

      &::after {
        @include mobile-tablet-p {
          display: none;
        }
      }
    }

    .slick-next {
      right: 5.5rem;

      &::before {
        right: 0.1rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.25rem;
        background: linear-gradient(
          to right,
          rgba(24, 24, 24, 0.15) 30.64%,
          color(secondary-background) 68.39%
        );
      }
    }

    .slick-prev {
      left: 5.3rem;
      &::before {
        transform: rotate(180deg);
        position: absolute;
        z-index: 2;
        top: 0;
        left: -0.5rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.5rem;
        background: linear-gradient(
          to left,
          rgba(24, 24, 24, 0.5) 0.36%,
          color(secondary-background) 28.39%
        );
      }
    }
  }

  // .slick-list {
  //   padding-left: 7.5rem;
  // }
}

// .slider {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 0.9375rem;
// }

.digital-transformation {
  .slick-slider {
    .slick-arrow {
      z-index: 2;
      &::before {
        content: "";
        background-image: url("../public/images/slide-icon.svg");
        background-repeat: no-repeat;
        background-size: 1.625rem;
        position: absolute;
        top: 0;
        width: 1.625rem;
        height: 1.625rem;
        z-index: 2;
        display: none;
      }

      &::after {
        @include mobile-tablet-p {
          display: none;
        }
      }
    }

    .slick-next {
      right: 5.5rem;

      &::before {
        right: 0.1rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.25rem;
        background: linear-gradient(
          to right,
          rgba(24, 24, 24, 0.15) 30.64%,
          color(secondary-background) 68.39%
        );
      }
    }

    .slick-prev {
      left: 5.3rem;
      &::before {
        transform: rotate(180deg);
        position: absolute;
        z-index: 2;
        top: 0;
        left: -0.5rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.5rem;
        background: linear-gradient(
          to left,
          rgba(24, 24, 24, 0.5) 0.36%,
          color(secondary-background) 28.39%
        );
      }
    }

    .slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
    .slick-dots {
      bottom: 0px;
      li {
        width: 0.75rem;
        height: 0.75rem;
        margin: 0 1.25rem 0 0;

        button {
          width: 0.75rem;
          height: 0.75rem;
          background: #dedede;
          border-radius: 3.125rem;
          font-size: 0px;

          &::before {
            width: 1.25rem;
            height: 1.25rem;
            display: none;
          }
        }
      }

      @include mobile {
        position: relative;
        top: 0;
        padding-bottom: 20px;
      }
      .slick-active {
        button {
          background-color: #adadad;
          width: 20px;
          height: 20px;
        }
      }
    }

    // .slick-list {
    //   padding-left: 7.5rem;
    // }
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9375rem;
  }
}

.testimonials-slider {
  .slick-slider {
    .slick-arrow {
      z-index: 2;
      &::before {
        content: "";
        background-image: url("../public/images/slide-icon.svg");
        background-repeat: no-repeat;
        background-size: 1.625rem;
        position: absolute;
        top: 0;
        width: 1.625rem;
        height: 1.625rem;
        z-index: 2;
        display: none;
      }

      &::after {
        @include mobile-tablet-p {
          display: none;
        }
      }
    }

    .slick-next {
      right: 5.5rem;

      &::before {
        right: 0.1rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.25rem;
        background: linear-gradient(
          to right,
          rgba(24, 24, 24, 0.15) 30.64%,
          color(secondary-background) 68.39%
        );
      }
    }

    .slick-prev {
      left: 5.3rem;
      &::before {
        transform: rotate(180deg);
        position: absolute;
        z-index: 2;
        top: 0;
        left: -0.5rem;
      }

      &::after {
        content: "";
        width: 6.25rem;
        height: 8.7rem;
        position: absolute;
        right: 0;
        top: -3.7rem;
        z-index: 1;
        right: -1.5rem;
        background: linear-gradient(
          to left,
          rgba(24, 24, 24, 0.5) 0.36%,
          color(secondary-background) 28.39%
        );
      }
    }

    .slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
    .slick-dots {
      bottom: 0px;
      li {
        width: 0.75rem;
        height: 0.75rem;
        margin: 0 1.25rem 0 0;

        button {
          width: 0.75rem;
          height: 0.75rem;
          background: #dedede;
          border-radius: 3.125rem;
          font-size: 0px;

          &::before {
            width: 1.25rem;
            height: 1.25rem;
            display: none;
          }
        }
      }

      @include mobile {
        position: relative;
        top: 0;
        padding-bottom: 20px;
      }
      .slick-active {
        button {
          background-color: #adadad;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.primary-padding {
  padding: 0 8.5rem 0 7.8rem;
  .primary-padding {
    padding: 0 8.5rem 0 7.8rem;

    @include mobile {
      padding: 0 1.25rem;
    }
  }
}

.modeBtn {
  margin: 0 1rem;
  input {
    border: 0.063rem solid color(text-primary);

    &:focus {
      box-shadow: none;
      border: 0.063rem solid color(text-primary);
    }
    &:checked {
      background-color: color(text-primary);
      border-color: color(text-primary);
    }
  }
}

.ourHistorySlider {
  .slick-arrow {
    background-color: color(primary-blue);
    padding: 0;
    border-radius: 0.5rem;
    padding: 0.9rem;
    width: 3rem;
    height: 3rem;

    &:hover {
      background-color: color(primary-blue);
    }

    svg {
      width: 1.2rem;
    }

    &::before {
      display: none;
    }
  }

  .slick-prev {
    left: 0;
    bottom: 0;
    z-index: 999;
    top: inherit;
    svg {
      transform: rotate(-180deg);
    }
  }

  .slick-next {
    right: inherit;
    left: 4.3rem;
    bottom: 0;
    z-index: 999;
    top: inherit;
  }

  .slick-disabled {
    background-color: color(primary-white);
    border: 1px solid rgba(color(text-primary), 0.5);
    &:hover {
      background-color: color(primary-white);
    }
    svg {
      path {
        stroke: rgba(color(text-primary), 0.5);
      }
    }
  }

  .slick-dots{
    position: relative;
    top: 5rem;
    display: flex !important;
    justify-content: space-between;

    &::after{
      content: '';
      width: 100%;
      height: 1px;
      border: 2px dashed color(bg-gray);
      position: absolute;
      left: 0;
      bottom: 0.4rem;
    }

    li{
      width: 2.125rem;
      height: 2.125rem;
      margin: 0;
      z-index: 9;

      button{
        padding: 0;
        width: 1rem;
        height: 1rem;
        background-color: color(bg-gray);
        border-radius: 50%;

        &::before{
          font-size: 0;
        }
      }
    }

    .slick-active{
      border: 1px solid color(info-blue);
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      button{
        background-color: color(info-blue);
      }
    }
  }
}

