@import "~/styles/partials/config";

.dropdownContainerStyle {
  width: 100%;
  position: relative;
  z-index: 10;

  &:hover,
  &:focus {
    border-color: color(heading-liner);
  }

  .countryDropdown {
    display: flex;
    align-items: center;
    position: relative;
    border: 0.14rem solid rgba(color(text-primary), 0.12);
    border-radius: 0.75rem;
    height: 3.875rem;
    gap: .625rem;
    padding: 0 0 0 1rem;
    background-color: color(primary-white);
    

    &.inputErrorStyle {
      border-color: color(error);
    }

    input {
      background: none;
      border: none;
      color: color(text-primary);
    }
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .inputContainerStyle {
      border: none;
      padding: 0;
    }

    .inputFloatingStyle {
      border: none;
    }

    .countryList {
      background-color: color(primary-white);
      padding: 0;
      position: absolute;
      max-height: 13rem;
      overflow-y: auto;

      li {
        display: flex;
        align-items: center;
        padding: 0.4rem 0.5rem;
        cursor: pointer;
        font-size: text(normal);
        span {
          margin-right: 0.4rem;
        }

        .inputValueStyle {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .countryOption {
    display: flex;
    align-items: center;
    gap: .625rem;
  }

  // Dark Mode
  &.dropdownContainerStyleDark {
    .countryDropdown {
      border-color: rgba(color(primary-white), 0.12);
      background-color: color(dark-gray);

      &.inputErrorStyle {
        border-color: color(error);
      }
    

      .floatDropdown {
        button {
          color: rgba(color(primary-white), 0.9);
          .countryValue {
            .arrow {
              border-color: rgba(color(primary-white), 0.9);
            }
          }
        }

        .countryList {
          background-color: color(text-primary);
          li {
            color: rgba(color(primary-white), 0.9);
          }
        }
      }

      input {
        color: color(primary-white);
      }
  
    }
  }
}
