@import "~/styles/partials/config";

.dropdownContainerStyle {
  width: 100%;

  .countryDropdown {
    display: flex;
    align-items: center;
    position: relative;
    border: 0.14rem solid rgba(color(text-primary), 0.12);
    border-radius: 0.75rem;
    height: 3.875rem;
    gap: .625rem;
    padding: 0 .7rem;
    background-color: color(primary-white);

    &.inputErrorStyle {
      border-color: color(error);
    }

    .floatDropdown {
      position: relative;
      z-index: 9;

      button {
        display: flex;
        align-items: center;
        font-size: text(normal);
        font-weight: 500;
        font-family: font(primary);
        color: rgba(color(text-primary), 0.9);
      }

      .countryValue {
        margin-right: 1.8rem;
        display: flex;
        align-items: center;
        position: relative;
      }

      .arrow {
        box-sizing: border-box;
        height: 0.4rem;
        width: 0.4rem;
        border-style: solid;
        border-color: color(text-primary);
        border-width: 0rem 0.122rem 0.122rem 0rem;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
        transition: all 0.5s;
        position: absolute;
        right: -15px;
      }
    }

    label {
      display: none;
    }

    input {
      background: none;
      border: none;
      color: color(primary-white);
    }
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .countryList {
      background-color: color(primary-white);
      padding: 0;
      position: absolute;
      max-height: 13rem;
      overflow-y: auto;

      li {
        display: flex;
        align-items: center;
        padding: 0.4rem 0.5rem;
        cursor: pointer;
        font-size: text(normal);
        span {
          margin-right: 0.4rem;
        }

        .inputValueStyle {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  // Dark Mode
  &.dropdownContainerStyleDark {
    .countryDropdown {
      border-color: rgba(color(primary-white), 0.12);
      background-color: transparent;

      &.inputErrorStyle {
        border-color: color(error);
      }
    

      .floatDropdown {
        button {
          color: rgba(color(primary-white), 0.9);
          .countryValue {
            .arrow {
              border-color: rgba(color(primary-white), 0.9);
            }
          }
        }

        .countryList {
          background-color: color(text-primary);
          li {
            color: rgba(color(primary-white), 0.9);
          }
        }
      }
    }
  }
}
