@import "~/styles/partials/config";

.ourValues {
   padding: spacing(section-primary-padding);
   background-color: color(bg-soft);

   .ourValuesTitle {
      color: color(text-primary);
      text-transform: uppercase;
      opacity: 0.8;
      font-size: text(normal);
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;
      font-family: font(secondary);
   }
   .ourValuesHeading {
      font-size: text(larger);
      margin-bottom: 2.75rem;
   }

   .ourValuesContent {
      margin-top: 5rem;

      .ourValuesText {
         font-size: text(lg);
         opacity: 0.6;
      }

      .ourValuesAccordiaon {
         .accordiaonHead {
            width: 100%;
            text-align: left;
            font-size: text(xl);
            font-weight: 500;
            padding: 1.25rem 0;
            border-bottom: 1px solid rgba(17, 17, 17, 0.12);
            display: flex;
            justify-content: space-between;
         }
         .accordiaonBody {
            padding: 1.25rem 0;
         }
      }
   }
}
