@import "~/styles/partials/config";

.aboutBanner {
   .bannerTitle {
      margin: 3rem 4rem;
      width: 70%;
      font-weight: 500;
      font-size: text(xl-larger);
      span {
         color: color(heading-liner);
         font-size: text(xl-larger);
      }
   }

   .bannerImg {
      // background: url("../../../public/images/about-bg.png");
      height: 100vh;
      position: relative;

      img {
         position: absolute;
         bottom: 0;
      }
   }
}
