@import "~/styles/partials/config";

.aboutBanner {
  .bannerTitle {
    width: 100%;
    padding-top: 11.25rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
    font-weight: 500;
    font-size: text(xl-larger);

    @include mobile-tablet-p {
      padding-block: 3.75rem 3.75rem;
      font-size: 2.75rem;
      line-height: 3.125rem;
    }
    
    
    @include mobile {
      padding: spacing(section-mob-padding);
      
      br {
        display: none;
      }
    }

    span {
      color: color(heading-liner);
      font-size: text(xl-larger);
      @include textGradient;
      
      @include mobile-tablet-p {
        font-size: 2.75rem;
      }
    }
  }

  .bannerImg {
    img {
      width: 100%;
      height: auto;
    }
  }

  // Dark theme
  &.aboutBannerDark {
    background-color: color(input-bg);

    .bannerTitle {
      color: color(primary-white);

      .bannerImg {
        background-color: color(input-bg);
      }
    }
  }
}
