@import "~/styles/partials/config";

.siteMapBanner {
  padding: 11.25rem 7.5rem 8.125rem;

  @include mobile-tablet-p {
    padding: 2rem 1rem;
  }

  .sitemap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mobile-tablet-p {
      flex-direction: column;
    }

    .bannerHeading {
      font-size: text(xl-larger);
      font-weight: 500;
      @include textGradient;
      margin: -10px 0 0;

      @include mobile-tablet-p {
        margin-bottom: 1rem;
      }
    }

    .bannerText {
      width: 29.813rem;
      font-size: text(lg);
      opacity: 0.8;
      margin: 0;
      color: color(text-primary);

      @include mobile-tablet-p {
        width: 90%;
        line-height: 3.125rem;
      }
    }
  }

  //Dark mode style
  &.siteMapBannerDark {
    background-color: color(input-bg);

    .bannerText {
      color: color(primary-white);
    }
  }
}
