@import "~/styles/partials/config";

.challenges {
  padding: spacing(section-primary-padding);

  .headSec {
    max-width: 49.1875rem;
  }

  .challengeTitle {
    font-size: text(normal);
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 0.8;
  }
  .challengeHeading {
    font-size: text(larger);
    font-weight: 500;
    line-height: 3.375rem;
  }

  .challengesCards {
    display: flex;
    gap: 2.5rem;
    padding: 5rem 0;
  }

  &.challengesDark {
    background-color: color(input-bg);
    color: color(primary-white);
  }
}
